﻿@model SupplierPortal.Data.Models.SupportModel.Profile.ChangePasswordModels
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAgreementPortal.cshtml";
}

<div class="ms_breadcrumb" style="height:25px;padding-left:24px;">
    <div style="padding-right:4px;">
        <div id="portal_breadcrumb" style="float:left;"></div>
    </div>
</div>
@using (Html.BeginForm("ChangePassword", "Activated", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-changePassword" }))
{
    <div id="content-Agreement">

        <div style="height:65px;">
            <div class="ep_badge_green_edge"></div>
            <div class="ep_badge_green" style="width:300px;">@T("_Profile.ChangePassword.TabTitle")</div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul class="nav nav-tabs-custom" role="tablist">
                    <li class="active"><a href="#home" role="tab" data-toggle="tab"><span class="forgotPassword_label">@T("_Login.ResetPassword.LblResetPassword")</span></a></li>
                </ul>
                <div class="tab-content">

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    @TP("ResetPassword.PasswordPolicy")
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form_label_bold" style="float:right;">@T("_Profile.ChangePassword.LblNewPassword")<span class="red_highlight"> *</span> : </div>
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger-bold" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form_label_bold" style="float:right;">@T("_Profile.ChangePassword.LblReNewPassword")<span class="red_highlight"> *</span> : </div>
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger-bold" })
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:10px;"></div>

                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="submit" class="btn btn-default" value="@T("_Login.ResetPassword.btnReset")" />
                        </div>                      
                    </div>


                </div>
            </div>
        </div>

        <div class="data_end" style="padding-top:50px;"></div>
    </div>
}

