﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyContactPersonModel

<select class="form-control" style="width:100%" id="tokenboxSelect2_Contact" multiple="multiple" data-address_product="@Model.Address_Product">
    @if (Model.Address_Product != null && Model.Address_Product != "")
    {
        string[] dataKeyword = Model.Address_Product.Split(',');
        foreach (string word in dataKeyword)
        {
            <option selected="selected">@word</option>
        }
    }
</select>
