﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.NotificationModel>
@{
    string color_border_left = "";

    string CountNewFeed = ViewBag.count_new_feed;
    string CountAllFeed = ViewBag.count_all_feed;

    var class_scrollbar = "";
    if (int.Parse(CountAllFeed) <= 2)
    {
        class_scrollbar = "scroll-bar-notification-nodata";
    }
    else
    {
        class_scrollbar = "scroll-bar-notification";
    }

    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();
}
<div class="nav-notification" id="divNotiTopic">
    <div class="col-sm-12 notification-event">
        <div class="row bg-notification">
            <div class="col-xs-5">
                <h4 style="color:#666"><span class="fa fa-bell" aria-hidden="true" style="color:#333"></span>  @T("_Notification_Priority_Events")</h4>
            </div>
            <div class="col-xs-7" style="margin-top:8px">

                <div class="row">
                    <div class="col-xs-8 padding-none">
                        @*@Html.Action("SearchNotification", new { model = new SupplierPortal.Data.Models.SupportModel.NotificationTopic() { TopicID = ViewBag.SelectNotificationTypeID ?? 0 } })*@
                        @Html.Action("SearchNotification", new { TopicID = ViewBag.SelectNotificationTypeID ?? 0 })
                    </div>
                    <div class="col-xs-4 padding-none">
                        <i class="fa fa-refresh fa-2x pull-left" id="refreshDataNoti" style="cursor:pointer;padding-left:10px" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v fa-2x" style="cursor:pointer;padding-left:10px" id="selectDelete"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul id="feed-header" class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" id="new-feed" href="#newfeed">@T("_Notification_Priority_Newfeeds") <span class="badge count-feed" id="countNewFeed">@CountNewFeed</span></a></li>
                <li><a data-toggle="tab" id="all-feed" href="#allfeed">@T("_Notification_Priority_Allfeeds") <span class="badge count-feed" id="countAllFeed"> @CountAllFeed</span></a></li>
            </ul>

            <div id="data_notification" class="tab-content @class_scrollbar">
                <div id="newfeed" data-row-skip="0" class="tab-pane tab-pane-noti fade in active">
                </div>
                <div id="allfeed" data-row-skip="0" class="tab-pane tab-pane-noti fade">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @*<button id="selectDelete" type="button" class="btn btn-labeled btn-danger col-xs-6">SelectDelete</button><button id="selectDelete" type="button" class="btn btn-labeled btn-danger col-xs-6"></button>*@
                    <button id="delete" type="button" style="display:none" class="btn btn-labeled btn-danger col-xs-6">@T("_Notification_Priority_BtnDelete")</button>
                    <button id="cancel" type="button" style="display:none" class="btn btn-labeled btn-default pull-right col-xs-6">@T("_Notification_Profile_BtnCancel")</button>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="html-countdown-template" style="display:none;">
    @Html.Partial(@"~/Views/Notification/_PartialCountdown.cshtml")
</div>
<script type="text/javascript">
    $( "#refreshDataNoti" ).click(function() {
        getAllMessages();
    });
    $('body').off('click', 'button[data-Noti]');
    $('body').off('click', 'a[read-noti]');
    $('body').off('click', 'button[data-notifordel]');
    $('body').on('click', 'button[data-Noti]', function () {
        var NotiId = $(this).attr("data-Noti");
        $.ajax({
            type: "POST",
            data: {NotiId: NotiId},
            url: '@Url.Action("isReadNoti", "Notification")',
            success: function (result) {
                $("#countNewFeed").text("0");
                $("#countAllFeed").text("0");
            }
        })
    });
    $('body').on('click', 'a[read-noti]', function () {
        var NotiId = $(this).attr("read-noti");
        $.ajax({
            type: "POST",
            data: {NotiId: NotiId},
            url: '@Url.Action("isReadNoti", "Notification")',
            success: function (result) {
                $("#countNewFeed").text("0");
                $("#countAllFeed").text("0");
            }
        })
    });
    $('body').on('click', 'button[data-notifordel]', function () {
        var NotiId = $(this).attr("data-notifordel");
        $.ajax({
            type: "POST",
            data: {NotiId: NotiId},
            url: '@Url.Action("isDelete", "Notification")',
            success: function (result) {
                $("#countNewFeed").text("0");
                $("#countAllFeed").text("0");
            }
        })
    });



    (function (e) {
        e.fn.countdown = function (t, n) {
            function i() {
                eventDate = Date.parse(r.date) / 1e3;
                currentDate = Math.floor(e.now() / 1e3);
                if (eventDate <= currentDate) {
                    n.call(this);
                    clearInterval(interval)
                }
                seconds = eventDate - currentDate;
                days = Math.floor(seconds / 86400);
                seconds -= days * 60 * 60 * 24;
                hours = Math.floor(seconds / 3600);
                seconds -= hours * 60 * 60;
                minutes = Math.floor(seconds / 60);
                seconds -= minutes * 60;

                var dd = "";
                var hh = "";
                var mm = "";
                var ss = "";

                if (@LanguageID == 1)
                {
                    dd = days == 1 ? " day ": " days ";
                    hh = hours == 1 ? " hour " : " hours ";
                    mm = minutes == 1 ? " minute " : " minutes ";
                    ss = seconds == 1 ? " second " : " seconds ";
                }
                else if (@LanguageID == 2) {
                    dd = " วัน ";
                    hh = " ชั่วโมง ";
                    mm = " นาที ";
                    ss = " วินาที ";
                }

                if (r["format"] == "on") {
                    days = String(days).length >= 2 ? days : "0" + days;
                    hours = String(hours).length >= 2 ? hours : "0" + hours;
                    minutes = String(minutes).length >= 2 ? minutes : "0" + minutes;
                    seconds = String(seconds).length >= 2 ? seconds : "0" + seconds
                }
                if (!isNaN(eventDate)) {
                    //thisEl.find(".days").text(days);
                    //thisEl.find(".hours").text(hours);
                    //thisEl.find(".minutes").text(minutes);
                    //thisEl.find(".seconds").text(seconds);
                    //var T = (days + "days" + hours + "hours" + minutes + "minutes" + seconds + "seconds");
                    //console.log(days + dd + hours + hh + minutes + mm + seconds + ss);
                    $countdownTemplate = $('.html-countdown-template');
                    var $tagCountdown = $('#'+t.self).find('.DTC');
                    $tagCountdown.html($countdownTemplate.html());
                    $tagCountdown.find('.days').text(days);
                    $tagCountdown.find('.day').text(dd);
                    $tagCountdown.find('.hours').text(hours);
                    $tagCountdown.find('.hour').text(hh);
                    $tagCountdown.find('.mins').text(minutes);
                    $tagCountdown.find('.min').text(mm);
                    $tagCountdown.find('.secs').text(seconds);
                    $tagCountdown.find('.sec').text(ss);


                    //.text(days + dd + hours + hh + minutes + mm + seconds + ss )
                    //  $(".countdown2").text(days + dd + hours + hh + minutes + mm + seconds + ss);
                } else {

                    clearInterval(interval)
                }
            }
            var thisEl = e(this);
            var r = {
                date: null,
                format: null,
                self: null
            };
            t && e.extend(r, t);
            i();
            interval = setInterval(i, 1e3)
        }
    })(jQuery);
    $(document).ready(function () {

        function e() {
            var e = new Date;
            e.setDate(e.getDate() + 60);
            dd = e.getDate();
            mm = e.getMonth() + 1;
            y = e.getFullYear();
            futureFormattedDate = mm + "/" + dd + "/" + y;
            return futureFormattedDate
        }
        var dateTime = "";
        $('div[data-datetime1]').each(function (index) {
            var id = "t1_"+index;
            $(this).parent().attr('id',id);
            var $this = $(this).find("#Timer1");
            var _check = $(this).find("#checkCountdown1").text();

            if ($this.text() != null && $this.text() != "" && _check == "True") {
                dateTime = $this.text();
                $(this).find(".DTC").countdown({
                    date: dateTime, // Change this to your desired date to countdown to
                    format: "on",
                    self: id
                });

            } else {
                $('#'+id).find('.DTC').html($('.html-countdown-template').html());
            }
        })

        $('div[data-datetime2]').each(function (index) {
            var id = "t2_"+index;
            $(this).parent().attr('id',id);
            var $this = $(this).find("#Timer2");
            var _check = $(this).find("#checkCountdown2").text();

            if ($this.text() != null && $this.text() != "" && _check == "True") {
                dateTime = $this.text();
                $(this).find(".DTC").countdown({
                    date: dateTime, // Change this to your desired date to countdown to
                    format: "on",
                    self: id
                });

            }else {
                $('#'+id).find('.DTC').html($('.html-countdown-template').html());
            }
        })


        $('[data-hidestoptime1]').each(function () {
            var $this = $(this);
            var stoptime = $this.find('#stoptime1').text();

            var end = new Date(stoptime);

            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;
            var _check = $this.find('.checktimeout1').text();

            function showRemaining() {
                var now = new Date();
                var distance = end - now;

                var days = Math.floor(distance / _day);
                var hours = Math.floor((distance % _day) / _hour);
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);
                var timer = days + ' days ' + hours + ' hrs ' + minutes + ' mins ' + seconds + ' secs';
                if (days == 0 && hours == 0 && minutes == 0 && seconds == 0) {
                    getAllMessages()
                    clearInterval(timer)
                }

                $this.find('.DTC').text(timer)
            }

            timer = setInterval(showRemaining, 1000);
        })

        $('[data-hidestoptime2]').each(function () {
            var $this = $(this);
            var stoptime = $this.find('#stoptime2').text();
            var end = new Date(stoptime);

            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;
            var _check = $this.find('.checktimeout2').text();
            function showRemaining() {
                var now = new Date();
                var distance = end - now;

                var days = Math.floor(distance / _day);
                var hours = Math.floor((distance % _day) / _hour);
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);
                var timer = days + ' days ' + hours + ' hrs ' + minutes + ' mins ' + seconds + ' secs';

                if (days == 0 && hours == 0 && minutes == 0 && seconds == 0) {
                    getAllMessages()
                    clearInterval(timer);
                }
                $this.find('.countdowns2').text(timer)
            }

            timer = setInterval(showRemaining, 1000);
        })



    });
</script>


<script type="text/javascript">

    var read = "";
    var close = "";
    if (@LanguageID == 1)
    {
        read = "Read More";
        close = "Close";
    }
    else if (@LanguageID == 2) {
        read = "อ่านเพิ่มเติม";
        close = "ปิด";
    }
    var bindFeed = function () {
        $('.feed-content:visible').each(function () {
            var $this = $(this);
            var feed_line = parseInt($this.data('feed-line'));
            var line_height = 15;//parseFloat($(this).css('line-height'), 10);
            var text_height = $this.height();
            var line_Full = Math.round(text_height / line_height)
            if (line_Full > feed_line) {
                $this.attr("data-min-height", feed_line * line_height).attr("data-max-height", text_height);
                $this.css("height", feed_line * line_height);
                $sliderBox = $this.closest('.nav-notification').parent();
                $sliderBox.find('.slider_menu').remove();
                $sliderBox.find('#slider_appen').append('<div class="col-md-4 col-md-offset-8 slider_menu text-center"><span>'+read+'</span></div>');
                $sliderBox.find('.slider_menu span').click(function () { openSlider($this) });
            }
        })
    };

    $(document).ready(function () {
        bindFeed();
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            bindFeed();
        })
    });

    function openSlider(self) {
        $self = $(self);
        $sliderBox = $self.closest('.nav-notification').parent();
        var open_height = $self.data("max-height") + "px";
        $self.animate({ "height": open_height }, {
            duration: "1000",
            complete: function () {
                $sliderBox.find(".slider_menu").html('<span>'+close+'</span>');
                $sliderBox.find(".slider_menu span").click(function () { closeSlider(self) });
            }
        });

    }

    function closeSlider(self) {
        $self = $(self);
        $sliderBox = $self.closest('.nav-notification').parent();
        var closed_height = $self.data("min-height") + "px";
        $self.animate({ "height": closed_height }, {
            duration: "1000",
            complete: function () {
                $sliderBox.find(".slider_menu").html('<span>'+read+'</span>');
                $sliderBox.find(".slider_menu span").click(function () { openSlider(self) });
            }
        });

    }

    $(".nav-justified li").click(function(){
        $('.cClose input').attr('checked', false);
    });

    $( "#selectDelete" ).click(function() {
        $(".xClose").css("display", "none");
        //$("#selectDelete").css("display", "none");
        $(".cClose").css("display", "block");
        $("#cancel").css("display", "block");
        $("#delete").css("display", "block");
    });
    $( "#cancel" ).click(function() {
        $(".xClose").css("display", "block");
        //$("#selectDelete").css("display", "block");
        $(".cClose").css("display", "none");
        $("#cancel").css("display", "none");
        $("#delete").css("display", "none");
        $('.cClose input').attr('checked', false);
    });
    $( "#delete" ).click(function() {
        var activeTab = $('#data_notification').find("li.active").find('a').attr('id');
        var NotiId = [];
        if (activeTab == "new-feed") {
            $('.cClose input:checked').each(function() {
                NotiId.push($(this).attr("data-Noti"));
            });

            if (NotiId != undefined && NotiId != null && NotiId.length != 0 && NotiId != "") {
                $.ajax({
                    type: "POST",
                    data: {NotiId: NotiId},
                    url: '@Url.Action("isReadNotiList", "Notification")',
                    success: function (result) {
                        $("#countNewFeed").text("0");
                        $("#countAllFeed").text("0");
                    }
                })
            }
        }else if (activeTab == "all-feed") {
            $('.cClose input:checked').each(function() {
                NotiId.push($(this).attr("data-Noti"));
            });
            if (NotiId != undefined && NotiId != null && NotiId.length != 0 && NotiId != "") {
                $.ajax({
                    type: "POST",
                    data: {NotiId: NotiId},
                    url: '@Url.Action("isDeleteNotiList", "Notification")',
                    success: function (result) {
                        $("#countNewFeed").text("0");
                        $("#countAllFeed").text("0");
                    }
                })
            }
        }
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        //Scroll
        // var win = $(".scroll-bar-notification");
        //  var doc = $(".tab-pane");
        $(".scroll-bar-notification").scroll(function () {
            if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                var skip = Number($(this).find('.active').data("row-skip"));
                var count_feed = Number($('#feed-header').find('.active').find('.count-feed').text());
                var topic_id = $('#TopicID').val();

                $.ajax({
                    url: '/Notification/GetMessages?TopicType=' + topic_id + '&skip=' + (skip > count_feed ? count_feed : skip) ,
                    //  url: '/Notification/GetMessages?TopicType=1',
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html'
                }).success(function (result) {
                    renderFeed(result);
                }).error(function () {

                });
            }
        });
    });
</script>