﻿
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="ep_news">
            @Html.Raw(ViewBag.Body)
        </div>
       
    </div>

</div>