﻿@model  SupplierPortal.Data.Models.MappingTable.Tbl_Organization
@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>
@*<div class="row" style="padding-top:10px;">
        <div class="col-sm-12 col-md-12">

        </div>
    </div>*@

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
    </div>
    </div>



    <div class="row m-sec">
        @*<div class="col-sm-3 col-md-3 menuL">
            @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
        </div>*@

        <div class="col-sm-12 col-md-12 r-sec">
            @using (Html.BeginForm("Map", "ContactInformation", FormMethod.Post, new { id = "SupplierID" }))
            {

                    <div class="panel panel-default">
                        <div class="panel-body">
                            @*<button type="submit" class="btn btn-primary pull-right">Save</button>*@

                            @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary pull-right">@T("_ComPro.Map.BtnSave")</button>
                            </div>

                            


                            <div style="padding-top:40px;">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @*@{Html.RenderAction("_MapAPIPartial", "ContactInformation");}*@

                                        @Html.Partial(@"~/Views/ContactInformation/_MapAPIPartial.cshtml", Model)

                                    </div>
                        </div>
                    </div>

                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary pull-right">@T("_ComPro.Map.BtnSave")</button>
                            </div>
                        </div>
        </div>
            }
        </div>

    </div>

</div>
        </div>
    }
</div>
