﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.CompanyProfile.ViewTrackingContactAddressModel>
@{
    ViewBag.Title = "ViewTrackingContactAddress";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";

    int number = 1;
    string actionName = ViewBag.TrackingPage;
    string controllerName = ViewBag.TrackingController;
    string orgCountryCode = ViewBag.CountryCode;

    string resourceName = "";

    if (controllerName == "CompanyProfile")
    {
        resourceName = "_ComPro.Link.GoTrackingComProfile";
    }
    else
    {
        resourceName = "_ComPro.Link.GoCompanyAddress";
    }

}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>

<div class="row">
    <div class="data_end"></div>
    <div class="ep_badge_green_edge"></div>
    <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_ComPro.LblMenuHeader") </div>
    <div class="data_end" style="padding-top:41px;"></div>
</div>

<div class="row">
    <div class="data_end" style="padding-top:35px;"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="normal_topic_wrap">
            <div class="normal_topic">
                <span id="tab_topic">@T("_ComPro.TrackingEdit.InstrTxt.Title")</span>
                <span class="normal_topic_detial" id="tab_detial">@T("_ComPro.TrackingEdit.InstrTxt.Txt")</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs-custom" role="tablist">
            <li class="active"><a href="#TrackingContactAddress" role="tab" data-toggle="tab"><span class="forgotPassword_label">@T("_ComPro.TrackingEdit.LblTrackingEdit")</span></a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane active" id="TrackingContactAddress">

                <div class="row">
                    <div class="col-md-12">
                        <div class="data_end" style="padding-top:12px;"></div>

                        <div style="float:left;padding-right:20px" class="link-profile">
                            @Html.ActionLink(T(resourceName).ToString(), actionName, controllerName, null, new { @class = "link-profile" })
                        </div>
                    </div>
                </div>

                <div class="data_end" style="padding-top:25px;"></div>

                <div class="row">
                    <div class="col-md-12">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0" align="left" class="main_table">
                            <thead>
                                <tr class="regis_table_header">
                                    <td width="7%">@T("_ComPro.TrackingAddress.TblTrackingAddress.ColCaption.No")</td>
                                    <td width="68%">@T("_ComPro.TrackingAddress.TblTrackingAddress.ColCaption.Address")</td>                                  
                                    <td width="15%">@T("_ComPro.TrackingAddress.TblTrackingAddress.ColCaption.Status")</td>
                                    <td width="10%">@T("_ComPro.TrackingAddress.TblTrackingAddress.ColCaption.ReqID")</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    int rowCount = Model.Count();
                                    rowCount = rowCount * 2;
                                  
                                    <tr class="main_table_row">
                                        <td rowspan="2" align="center">@number</td>
                                        <td style="padding-left:15px;">@item.AdressType</td>                                       
                                        <td rowspan="2" align="center">@item.TrackingStatusName</td>
                                        @if (number == 1)
                                        {
                                            <td rowspan="@rowCount" align="center">@item.TrackingReqID</td>
                                        }  
                                    </tr>
                                    <tr class="main_table_row_sub">
                                        <td>
                                            <table width="95%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table">
                                                <thead>
                                                    <tr class="regis_table_header">
                                                        <td width="10%">&nbsp;</td>
                                                        <td width="45%">@T("_ComPro.TrackingAddress.TblSubTrackingAddress.ColCaption.EditBy")</td>
                                                        <td width="45%">@T("_ComPro.TrackingAddress.TblSubTrackingAddress.ColCaption.EditTo")</td>
                                                        @*<td width="25%">@T("_ComPro.TrackingAddress.TblSubTrackingAddress.ColCaption.Status")</td>*@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="main_table_row">
                                                        <td style="padding-left:10px;" align="left">
                                                            @if (orgCountryCode == "TH")
                                                            {
                                                                @T("_ComPro.TrackingAddress.TblSubTrackingAddress.LblTHLocal");
                                                            }else
                                                            {
                                                                @T("_ComPro.TrackingAddress.TblSubTrackingAddress.LblNonTHLocal");
                                                            }
                                                        </td>
                                                        <td style="padding-left:10px;" align="left">@item.OldAddress_Local</td>
                                                        <td style="padding-left:10px;" align="left">
                                                            <div style="display:inline;">
                                                                @{
                                                                    var splitNewAddress_Local = item.NewAddress_Local.Split('|');
                                                                    foreach (var list_Local in splitNewAddress_Local)
                                                                    {
                                                                        if (!string.IsNullOrEmpty(list_Local))
                                                                        {
                                                                            if (list_Local.Contains('&'))
                                                                            {
                                                                                <span class="address-change-delete">@list_Local.Replace("&", "")</span>
                                                                            }
                                                                            else if (list_Local.Contains('#'))
                                                                            {
                                                                                <span class="address-change">@list_Local.Replace("#", "")</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>@list_Local</span>
                                                                            }
                                                                        }
                                                                      
                                                                    }
                                                                }
                                                               
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="main_table_row">
                                                        <td style="padding-left:10px;" align="left">@T("_ComPro.TrackingAddress.TblSubTrackingAddress.LblTHInter")</td>
                                                        <td style="padding-left:10px;" align="left">@item.OldAddress_Inter</td>
                                                        <td style="padding-left:10px;" align="left">
                                                            <div style="display:inline;">
                                                                @{
                                                                    var splitNewAddress_Inter = item.NewAddress_Inter.Split('|');
                                                                    foreach (var list_Inter in splitNewAddress_Inter)
                                                                    {
                                                                        if (!string.IsNullOrEmpty(list_Inter))
                                                                        {
                                                                            if (list_Inter.Contains('&'))
                                                                            {
                                                                                <span class="address-change-delete">@list_Inter.Replace("&", "")</span>
                                                                            }
                                                                            else if (list_Inter.Contains('#'))
                                                                            {
                                                                                <span class="address-change">@list_Inter.Replace("#", "")</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>@list_Inter</span>
                                                                            }
                                                                        }
                                                                        
                                                                    }
                                                                }
                                                               
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    
                                    number++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>