﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.CompanyProfile.ViewTrackingCompAffidavitModel>
@{
    ViewBag.Title = "ViewTrackingCompanyAffidavit";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";
    int number = 1;
    string actionName = ViewBag.TrackingPage;
    string controllerName = ViewBag.TrackingController;

    string resourceName = "";

    if (controllerName == "CompanyProfile")
    {
        resourceName = "_ComPro.Link.GoTrackingComProfile";
    }else
    {
        resourceName = "_ComPro.Link.GoCompanyAffidavit";
    }

    //string pathSave = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_SupplierDocumentPath");
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>

<div class="row">
    <div class="data_end"></div>
    <div class="ep_badge_green_edge"></div>
    <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_ComPro.LblMenuHeader") </div>
    <div class="data_end" style="padding-top:40px;"></div>
</div>

<div class="row">
    <div class="data_end" style="padding-top:35px;"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="normal_topic_wrap">
            <div class="normal_topic">
                <span id="tab_topic">@T("_ComPro.TrackingEdit.InstrTxt.Title")</span>
                <span class="normal_topic_detial" id="tab_detial">@T("_ComPro.TrackingEdit.InstrTxt.Txt")</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs-custom" role="tablist">
            <li class="active"><a href="#TrackingCompanyInfo" role="tab" data-toggle="tab"><span class="forgotPassword_label">@T("_ComPro.TrackingEdit.LblTrackingEdit")</span></a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane active" id="TrackingCompanyInfo">

                <div class="row">
                    <div class="col-md-12">
                        <div class="data_end" style="padding-top:12px;"></div>

                        <div style="float:left;padding-right:20px" class="link-profile">
                            @Html.ActionLink(T(resourceName).ToString(), actionName, controllerName, null, new { @class = "link-profile" })
                        </div>

                    </div>
                </div>

                <div class="data_end" style="padding-top:25px;"></div>

                <div class="row">
                    <div class="col-md-12">
                        <table width="70%" border="0" cellpadding="0" cellspacing="0" align="left" class="main_table" >
                            <thead>
                                <tr class="regis_table_header">
                                    <td width="7%">@T("_ComPro.TrackingAttachment.TblTrackingAttachment.ColCaption.No")</td>
                                    <td width="60%">@T("_ComPro.TrackingAttachment.TblTrackingAttachment.ColCaption.DocName")</td>                                   
                                    <td width="23%">@T("_ComPro.TrackingAttachment.TblTrackingAttachment.ColCaption.Status")</td>
                                    <td width="10%">@T("_ComPro.TrackingAttachment.TblTrackingAttachment.ColCaption.ReqID")</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    //string pathForSavingOld = "";
                                    //string virtualFilePathOld = "";
                                    string fileSizeOld = "";

                                    //string pathForSavingNew = "";
                                    //string virtualFilePathNew = "";
                                    string fileSizeNew = "";
                                    int rowCount = Model.Count();
                                    rowCount = rowCount * 2;
                                    if (item.OldAttachmentID != 0)
                                    {
                                        //pathForSavingOld = pathSave + item.OldAttachment.SupplierID;
                                        //virtualFilePathOld = pathForSavingOld + "/" + item.OldAttachment.AttachmentNameUnique;
                                        fileSizeOld = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetFileSize(Convert.ToInt32(item.OldAttachment.SizeAttach));
                                    }

                                    if (item.NewAttachmentID != 0)
                                    {
                                        //pathForSavingNew = pathSave + item.NewAttachment.SupplierID;
                                        //virtualFilePathNew = pathForSavingNew + "/" + item.NewAttachment.AttachmentNameUnique;
                                        fileSizeNew = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetFileSize(Convert.ToInt32(item.NewAttachment.SizeAttach));
                                    }

                                    string docName = "";
                                    if (item.DocumentNameID == -1)
                                    {
                                        if(item.OldAttachmentID != 0)
                                        {
                                            docName = item.DocumentName + " (" + item.OldAttachment.OtherDocument + ")";
                                        }else
                                        {
                                            docName = item.DocumentName + " (" + item.NewAttachment.OtherDocument + ")";
                                        }
                                       
                                    }
                                    else
                                    {
                                        docName = item.DocumentName;
                                    }
                                    
   
                                    <tr class="main_table_row">
                                        <td rowspan="2" align="center">@number</td>
                                        <td>@docName</td>                                        
                                        <td rowspan="2" align="center">@item.TrackingStatusName</td>
                                        @if (number == 1)
                                        {
                                            <td rowspan="@rowCount" align="center">@item.TrackingReqID</td>
                                        }                                    
                                    </tr>
                                    <tr class="main_table_row_sub">
                                        <td>
                                            <table width="95%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table">
                                                <thead>
                                                    <tr class="regis_table_header">
                                                        <td width="20%">&nbsp;</td>
                                                        <td width="60%">@T("_ComPro.TrackingAttachment.TblSubTrackingAttachment.ColCaption.AttachmentName")</td>
                                                        <td width="20%">@T("_ComPro.TrackingAttachment.TblSubTrackingAttachment.ColCaption.Size")</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="main_table_row">
                                                        <td align="center">@T("_ComPro.TrackingAttachment.TblSubTrackingAttachment.LblEditBy")</td>
                                                        <td >
                                                            @if (item.OldAttachmentID != 0)
                                                            {
                                                                @*<div class="attachment-download">
                                                                    @Html.ActionLink(item.OldAttachment.AttachmentName, "Download", new { filePath = virtualFilePathOld, fileName = item.OldAttachment.AttachmentName })
                                                                </div>*@
                                                                @item.OldAttachment.AttachmentName
                                                            }
                                                            else
                                                            {
                                                                @T("_ComPro.TrackingAttachment.TblSubTrackingAttachment.LblNonAttachment")
                                                            }
                                                        </td>
                                                        <td align="right">@fileSizeOld</td>
                                                    </tr>
                                                    <tr class="main_table_row">
                                                        <td align="center">@T("_ComPro.TrackingAttachment.TblSubTrackingAttachment.LblEditTo")</td>
                                                        <td>
                                                            @if (item.NewAttachmentID != 0)
                                                            {
                                                                @*<div class="attachment-download">
                                                                    @Html.ActionLink(item.NewAttachment.AttachmentName, "Download", new { filePath = virtualFilePathNew, fileName = item.NewAttachment.AttachmentName, @class = "file-attachment-download" })
                                                                </div>*@
                                                                @item.NewAttachment.AttachmentName
                                                            }
                                                            else
                                                            {
                                                                @T("_ComPro.TrackingAttachment.TblSubTrackingAttachment.LblNonAttachment")
                                                            }
                                                        </td>
                                                        <td align="right">@fileSizeNew</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    number++;
                                }
                            </tbody>
                           
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

