﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.CompanyProfile.TrackingFieldCompanyProfileModel>
@{
    ViewBag.Title = "ViewTrackingCompanyInfo";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";  

    int number = 1;
    string actionName = ViewBag.TrackingPage;
    string controllerName = ViewBag.TrackingController;

    string resourceName = "";

    if (controllerName == "CompanyProfile")
    {
        resourceName = "_ComPro.Link.GoTrackingComProfile";
    }
    else
    {
        resourceName = "_ComPro.Link.GoCompanyInfo";
    }
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>

<div class="row">
    <div class="data_end"></div>
    <div class="ep_badge_green_edge"></div>
    <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_ComPro.LblMenuHeader") </div>
    <div class="data_end" style="padding-top:40px;"></div>
</div>

<div class="row">
    <div class="data_end" style="padding-top:35px;"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="normal_topic_wrap">
            <div class="normal_topic">
                <span id="tab_topic">@T("_ComPro.TrackingEdit.InstrTxt.Title")</span>
                <span class="normal_topic_detial" id="tab_detial">@T("_ComPro.TrackingEdit.InstrTxt.Txt")</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs-custom" role="tablist">
            <li class="active"><a href="#TrackingCompanyInfo" role="tab" data-toggle="tab"><span class="forgotPassword_label">@T("_ComPro.TrackingEdit.LblTrackingEdit")</span></a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane active" id="TrackingCompanyInfo">

                <div class="row">
                    <div class="col-md-12">
                        <div class="data_end" style="padding-top:12px;"></div>

                        <div style="float:left;padding-right:20px" class="link-profile">
                            @Html.ActionLink(T(resourceName).ToString(), actionName, controllerName, null, new { @class = "link-profile" })
                        </div>

                    </div>
                </div>

                <div class="data_end" style="padding-top:25px;"></div>

                <div class="row">
                    <div class="col-md-12">
                        <table width="85%" border="0" cellpadding="0" cellspacing="0" align="left" class="main_table">
                            <thead>
                                <tr class="regis_table_header">
                                    <td width="5%">@T("_ComPro.TrackingCompInfo.TblTrackingCompInfo.ColCaption.No")</td>
                                    <td width="23%">@T("_ComPro.TrackingCompInfo.TblTrackingCompInfo.ColCaption.Field")</td>
                                    <td width="22%">@T("_ComPro.TrackingCompInfo.TblTrackingCompInfo.ColCaption.EditBy")</td>
                                    <td width="22%">@T("_ComPro.TrackingCompInfo.TblTrackingCompInfo.ColCaption.EditTo")</td>                                  
                                    <td width="15%">@T("_ComPro.TrackingCompInfo.TblTrackingCompInfo.ColCaption.Status")</td>
                                    <td width="10%">@T("_ComPro.TrackingCompInfo.TblTrackingCompInfo.ColCaption.ReqID")</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    int rowCount = Model.Count();
                                    <tr class="main_table_row">
                                        <td align="center">@number</td>
                                        <td style="padding-left:10px;">@T(item.ResourceName)</td>
                                        <td style="padding-left:10px;">
                                        @item.OldKeyValue
                                        </td>
                                        <td style="padding-left:10px;">
                                        @item.NewKeyValue
                                        </td>                                       
                                        <td align="center">@item.TrackingStatusName</td>
                                        @if (number == 1)
                                        {
                                            <td rowspan="@rowCount" align="center">@item.TrackingReqID</td>
                                        }  
                                    </tr>
                                    
                                    number++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

