﻿

.breadcrumb_wrapper {
    padding: 6px 14px 6px 0px;
    text-align: left;
}
.breadcrumb_wrapper_portal {
    padding: 6px 14px 6px 18px;
    text-align: left;
}
.my_breadcrumb {
    color: #222222;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}
.my_breadcrumb_hl {
    color: #991111;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.my_breadcrumb a:link, .my_breadcrumb a:visited {
    color: #222222 !important;
    text-decoration: underline !important;
}
.my_breadcrumb:hover {
    color: #991111;
    text-decoration: underline;
}
.my_breadcrumb_s {
    color: #111111;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
}
.my_breadcrumb_s_hl {
    color: #991111;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.my_breadcrumb_s a:link, .my_breadcrumb_s a:visited {
    color: #0000ff;
    text-decoration: underline;
}
.my_breadcrumb_s a:hover {
    color: #0000ff;
    text-decoration: underline;
}
.bc_home_icon {
    margin-left: -19px;
    margin-top: -2px;
    position: absolute;
}


.normal_topic_wrap {
    padding: 6px;
    padding-left: 15px;
}

.normal_topic {
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}


.normal_topic_detial {
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
}


.forgotPassword_label {
    color: #444444;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 4px 2px;
}

.form_label {
    color: #444444;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    /*font-weight: bold;*/
    padding: 6px 4px 4px;
}

.form_label_bold {
    color: #444444;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 4px 4px;
}

.form_label_bold_inline {
    color: #444444;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 4px 3px;
}

.red_highlight {
    color: #ff0000;
    font-weight: bold;
}


.form_item {
    padding: 0 4px 4px;
}

.input-long {
    border: 1px solid #cccccc;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    padding: 2px;
    width: 200px;
    height: 20px;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #cccccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #cccccc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #cccccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #cccccc;
}


/*.sor_tab_sel {
    background: url("~/Content/imagescss/tbl-top-bg.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    color: #991111;
    float: left;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    padding: 6px 10px 0;
}*/

.nav-tabs-custom {
    margin-bottom: 1px;
}

.nav-tabs-custom {
  border-bottom: 1px solid #ddd;
}

.nav-tabs-custom > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs-custom > li > a {
  background: url("../Content/imagescss/tbl-top-bg.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  margin-right: 5px;
  /*padding-right: 5px;*/
  line-height: 0.8;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  border: 1px solid #dddddd;
  
}

.nav-tabs-custom > li > a{
  /*background: url("../Content/imagescss/tbl-top-bg.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);*/
  float: left;
  margin-bottom: 0px;
  font-family: Tahoma,Arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #444444;

   
}

.nav-tabs-custom > li.active > a,
.nav-tabs-custom > li.active > a:hover,
.nav-tabs-custom > li.active > a:focus {
  background: url("../Content/imagescss/tbl-top-bg-sel.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  /*color: #555555;*/
  color: #991111;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}

/*.nav-tabs {
    margin-bottom: 0;
}

.nav-tabs > li > a {
  background: url("../Content/imagescss/tbl-top-bg.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  margin-right: 5px;
  line-height: 0.8;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  border: 1px solid #dddddd;
  
}

.nav-tabs > li > a{
  float: left;
  margin-bottom: 0px;
  font-family: Tahoma,Arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #444444;

   
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: url("../Content/imagescss/tbl-top-bg-sel.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  color: #991111;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}*/



/******************************************************* tables ***************************************************************/
.main_table {
    
    font-family:Tahoma,Arial, sans-serif;
    font-size: 12px; 
    font-weight: normal;
    border:solid 1px #CCCCCC;
    /*border-left:solid 1px #CCCCCC;*/
} 
tr.main_table_header { 
    background:url(../Content/imagescss/fhbg.gif) repeat-x top left;
    color: #222222;
    font-size: 11px;  
    font-weight: bold; 
    text-align: center;
    height:26px; 
}
.main_table_header td{
	background:url(../Content/imagescss/fhbg.gif) repeat-x top left;
	font-family:Tahoma,Arial, sans-serif;
    font-size: 11px;
	border-left:solid 1px #CCCCCC;
    border-right:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;
    padding:2px;
    background-color:#E9E9E9;
    vertical-align:center;
}
.main_table_header_wsub_top td{
	background:url(../Content/imagescss/fhbg.gif) repeat-x top left;
	font-family:Tahoma,Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
	border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;
    padding:2px;
    height:18px;
    background-color:#E9E9E9;
    vertical-align:top;
    text-align:center;
}
.main_table_header_wsub_btm td{
	background:#E9E9E9;
	font-family:Tahoma,Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
	border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;
    padding:2px;
    height:18px;
    background-color:#E9E9E9;
    vertical-align:top;
}
tr.main_table_header_mid { 
    background:url(../Content/imagescss/fhbg.gif) repeat-x top left;
    color: #222222;
    font-size: 11px;  
    font-weight: bold; 
    text-align: center;
    height:16px; 
}
.main_table_header_mid td{
	background:url(../Content/imagescss/fhbg.gif) repeat-x top left;
	font-family:Tahoma,Arial, sans-serif;
    font-size: 11px;
	border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;
    padding:2px;
    background-color:#E9E9E9;
    vertical-align:middle;
}
.main_table_sub_header td{
	font-family:Tahoma,Arial, sans-serif;
    font-size: 11px;
    /*padding:6px 2px 2px 2px;*/
    padding:0;
    height:25px;
	border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC; 
    border-bottom:solid 1px #CCCCCC;
    background-color:#E9E9E9;
    vertical-align:top;
    text-align:center;
}
tr.main_table_footer { 
    background-color: #EEEEEE; 
    border-top:#DDDDDD;
}
.main_table_footer td{ 
    font-size: 1px;
} 
.main_table_row, .main_table_row td{ 
	background-color: #FFFFFF;
    border-left:solid 1px #CCCCCC;
    border-right:solid 1px #CCCCCC;
    font-family:Tahoma,Arial, sans-serif;
    font-size: 12px;
    padding:6px 2px 6px 4px;
    vertical-align:top;
    word-wrap:break-word;
    /*word-break: break-all;*/
}
.alternate_table_row td{ 
	background-color: #F8F8F8;
    border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    font-family:Tahoma,Arial, sans-serif;
    font-size: 12px;
    padding:6px 2px 6px 2px;
    vertical-align:top;
    word-wrap:break-word;
    /*word-break: break-all;*/
}
.main_table_td_img, .main_table_row td.main_table_td_img, .alternate_table_row td.main_table_td_img{
	padding:4px 2px 4px 2px;	
}
.main_table_td_txtbox, .main_table_row td.main_table_td_txtbox, .alternate_table_row td.main_table_td_txtbox{
	padding:3px 2px 3px 2px;	
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.main_table_td_img, .main_table_row td.main_table_td_img, .alternate_table_row td.main_table_td_img{
		padding:3px 2px 4px 2px;	
	}
	.main_table_td_txtbox, .main_table_row td.main_table_td_txtbox, .alternate_table_row td.main_table_td_txtbox{
		padding:1px;	
	}
}
@-moz-document url-prefix() {
	.main_table_td_img, .main_table_row td.main_table_td_img, .alternate_table_row td.main_table_td_img{
		padding:1px 2px 4px 2px;	
	}
}
.main_tr_hover td{ 
	background-color: #B7DBFF;
}
.secondary_table_space{
	border-top:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	background: url(../Content/imagescss/linen01.gif) 0px 0px repeat-x;
	padding:8px 8px 16px 8px;
}
.secondary_table_space_row{
	background-color: #FFFFFF;
    border-right:solid 1px #CCCCCC;
}

.alternate_secondary_table_space_row{ 
	background-color: #F8F8F8;
    border-right:solid 1px #CCCCCC;
}
.secondary_table {
    border:solid 1px #CCCCCC;
    font-family:Tahoma,Arial, sans-serif;
    font-size: 12px; 
    font-weight: normal;
} 
tr.secondary_table_header { 
    background-color:#F5F5F5;
    color: #222222; 
    font-weight: normal; 
    text-align: center;
    height:24px; 
}
.secondary_table_header{
	font-family:Tahoma,Arial, sans-serif;
    font-size: 11px;
    border-top:solid 1px #CCCCCC;
	border-left:solid 1px #D9E5FA;
    border-right:solid 1px #8FA7CC;
    border-bottom:solid 1px #CCCCCC;
    padding:2px;
    background-color:#C4D7F5;
    text-align: center;
    color: #222222; 
}
.type2_table_header td{
	font-family:Tahoma,Arial, sans-serif;
    font-size: 11px;
   	font-weight:bold;
   	text-align:left;
   	vertical-align:middle;
   	padding:3px 3px 3px 3px;
    *padding:3px 3px 5px 3px;
    border-top:solid 1px #FFFFFF;
	border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;
    background-color:#F5F5F5;
    color: #222222; 
}
.secondary_table_sub_header{
	font-family:Tahoma,Arial, sans-serif;
    font-size: 11px;
    border-top:solid 1px #8FA7CC;
	border-left:solid 1px #D9E5FA;
    border-right:solid 1px #8FA7CC;
    border-bottom:solid 1px #CCCCCC;
    padding:2px;
    background-color:#C4D7F5;
    text-align: center;
    color: #222222; 
}
.secondary_table_total{
	font-family:Tahoma,Arial, sans-serif;
    font-size: 12px;
    border-top:solid 1px #CCCCCC;
	border-left:solid 1px #D9E5FA;
    border-right:solid 1px #8FA7CC;
    border-bottom:solid 1px #B0B0CF;
    padding:2px;
    background-color:#C0D3F1;
    text-align: left;
    color: #222222; 
}
.secondary_row{ 
	background-color: #F3F7FF;
    border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    font-family:Tahoma,Arial, sans-serif;
    font-size: 12px;
    padding:3px 2px 3px 2px;
    vertical-align:top;
    word-wrap:break-word;word-break: break-all;
}
.secondary_row_wline{
	background-color: #F3F7FF;
	border-top:solid 1px #CCCCCC;
    border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;
    font-family:Tahoma,Arial, sans-serif;
    font-weight:normal;
    font-size: 11px;
    padding:3px 2px 3px 2px;
    vertical-align:top;
    word-wrap:break-word;word-break: break-all;
}
.alternate_secondary_row{ 
	background-color: #EDF1FE;
    border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    font-family:Tahoma,Arial, sans-serif;
    font-weight:normal;
    font-size: 12px;
    padding:3px 2px 3px 2px;
    vertical-align:top;
    word-wrap:break-word;word-break: break-all;
}
.alternate_secondary_row_tline{ 
	background-color: #EDF1FE;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
    border-left:solid 1px #FFFFFF;
    font-family:Tahoma,Arial, sans-serif;
    font-size: 11px;
    padding:3px 2px 3px 2px;
    vertical-align:top;
    word-wrap:break-word;word-break: break-all;
}
.alternate_secondary_row_wline{ 
	background-color: #EDF1FE;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
    border-left:solid 1px #FFFFFF;
    font-family:Tahoma,Arial, sans-serif;
    font-size: 11px;
    padding:3px 2px 3px 2px;
    vertical-align:top;
    word-wrap:break-word;word-break: break-all;
}
.secondary_table_footer td{
	background-color: #DDDDDD; 
    border-top:solid 1px #EEEEEE;
    border-bottom:solid 1px #CCCCCC;
    font-size: 1px;
}

@media only screen and (min-width : 1px) and (max-width : 360px) {
    .nav-tabs-custom > li > a {
        float: left;
        margin-bottom: 0px;
        font-family: Tahoma,Arial,sans-serif;
        font-size: 9px;
        font-weight: bold;
        color: #444444;
    }
}


@media only screen and (min-width : 361px) and (max-width : 667px) { 
    .nav-tabs-custom > li > a {
        float: left;
        margin-bottom: 0px;
        font-family: Tahoma,Arial,sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: #444444;
    }
}
