﻿.portal_func_content {
    padding-top: 8px;
    width: 100%;
    text-align: left;
}

.data_end_s {
    height: 0;
    padding: 0;
    clear: both;
}

.func_left_panel {
    /*width:505px;*/
    float: left;
}

.func_right_panel {
    width: 505px;
    float: right;
}

.func_sel_topic_left {
    height: 33px;
    border-top: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
    border-left: solid 1px #CCCCCC;
    background: url(../Content/imagescss/tbl-head-arrow.gif) 56px 0px no-repeat;
}

.portal_topic_tbl_left {
    width: 64px;
    font-family: Tahoma,Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 0 0 12px;
    float: left;
}

.portal_topic_tbl_right {
    font-family: Tahoma,Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 0 0 10px;
    float: left;
}

tr.company_table_header {
    background: url(../Content/imagescss/fhbg.gif) repeat-x top left;
    COLOR: #222222;
    TEXT-ALIGN: center;
    height: 26px;
}

.company_table_header td {
    background: url(../Content/imagescss/fhbg.gif) repeat-x top left;
    font-family: Tahoma,Arial, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    border-left: solid 1px #ffffff;
    border-right: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
    padding: 2px;
    background-color: #DDDDDD;
}

.ep_badge_green_edge {
    width: 13px;
    height: 14px;
    margin-top: 52px;
    margin-left: -13px;
    position: absolute;
    background: url(../Content/imagescss/new_badge_green.gif) no-repeat top left;
}


.ep_badge_green {
    width: 160px;
    height: 32px;
    margin-top: 20px;
    margin-left: -13px;
    position: absolute;
    padding-top: 7px;
    padding-left: 40px;
    background-color: #98C93D;
    text-align: left;
    font-family: Tahoma, Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

.ep_badge_blue {
    width: 160px;
    height: 32px;
    margin-top: -10px;
    margin-left: -33px;
    position: absolute;
    padding-top: 7px;
    padding-left: 40px;
    background-color: #3f98d4;
    text-align: left;
    font-family: Tahoma, Arial,sans-serif;
    font-size: 14px;
    /*font-weight:bold;*/
    color: #FFFFFF;
}

a.ep_badge_blue_link {
    text-align: left;
    font-family: Tahoma, Arial,sans-serif;
    font-size: 14px;
    /*font-weight:bold;*/
    color: #FFFFFF;
}

a.ep_badge_blue_link {
    text-align: left;
    font-family: Tahoma, Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

a.ep_badge_blue_active {
    font-size: 16px;
}

a:hover.ep_badge_blue_link {
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 5px 2px 5px rgba(150, 150, 150, 0.92);
}

.ep_badge_blue_edge {
    width: 13px;
    height: 14px;
    margin-top: 22px;
    margin-left: -33px;
    position: absolute;
    background: url(../Content/imagescss/new_badge_blue2.png) no-repeat top left;
}

@media (max-width: 1100px) {
    .ep_badge_blue {
        width: 160px;
        height: 64px;
        margin-top: -10px;
        margin-left: -40px;
        position: absolute;
        padding-top: 7px;
        padding-left: 40px;
        background-color: #3f98d4;
        text-align: left;
        font-family: Tahoma, Arial,sans-serif;
        font-size: 14px;
        color: #FFFFFF;
    }

    /*.ep_badge_blue_edge{
	width:13px;
	height:14px;
	margin-top:54px;
	margin-left:-40px;
	position:absolute;
	background: url(../Content/imagescss/new_badge_blue2.png) no-repeat top left;
}*/

}

.func_left_panel {
    /*width:505px;*/
    float: left;
    /*border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;*/
    height: auto;
}

.func_sel_topic_new {
    height: 33px;
    border-top: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
    border-left: solid 1px #CCCCCC;
    /*border-bottom:solid 1px #CCCCCC;*/
}

.portal_topic_tbl_new {
    font-family: Tahoma,Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 0 0 40px;
}

.summary_head_icon1 {
    position: absolute;
    margin-top: -2px;
    margin-left: -27px;
}

.func_sel_last_wrapper {
    height: 165px;
    overflow: auto;
    border: solid 1px #CCCCCC;
    /*border-top:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;*/
}

.main_table_borderBottom {
    /*border:solid 1px #CCCCCC;*/
    /*border-left:solid 1px #ffffff;
    border-right:solid 1px #ffffff;*/
    border-top: solid 0px #CCCCCC;
}

.tr_export td {
    border-left: solid 1px #ffffff;
}

#conOfConduct {
    font-size: 11px;
    overflow-y: auto;
}

    #conOfConduct > p:not(:first-child) {
        text-indent: 3rem;
    }

    #conOfConduct > h3 {
        font-size: 13px;
        padding-top: 5px;
    }

.btn-custom-coc, .btn-custom-coc:hover, .btn-custom-coc:active {
    color: #428bca;
}

/*Custom button */
/*.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px 4px 10px;
    margin-bottom: 0;
    font-family: tahoma, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

@-moz-document url-prefix() {
    .btn {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding: 4px 10px 5px 10px;
        margin-bottom: 0;
        font-family: tahoma, Arial, sans-serif;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: linear-gradient(top, #ffffff, #e6e6e6);
        background-repeat: repeat-x;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border: 1px solid #cccccc;
        border-bottom-color: #b3b3b3;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        *margin-left: .3em;
    }
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background-color: #e6e6e6;
}

.btn:active,
.btn.active {
    background-color: #cccccc \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    outline: 0;
}

.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-image: none;
    background-color: #e6e6e6;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-small {
    font-family: tahoma;
    font-size: 11px;
    line-height: 12px;
}

    .btn-small [class^="icon-"] {
        margin-top: -1px;
    }

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

    .btn-primary.active,
    .btn-warning.active,
    .btn-danger.active,
    .btn-success.active,
    .btn-info.active,
    .btn-inverse.active {
        color: rgba(255, 255, 255, 0.75);
    }

.btn-primary {
    background-color: #0074cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary.disabled,
    .btn-primary[disabled] {
        background-color: #0055cc;
    }

    .btn-primary:active,
    .btn-primary.active {
        background-color: #004099 \9;
    }

button.btn,
input[type="submit"].btn,
input[type="button"].btn {
    *padding-top: 2px;
    *padding-bottom: 2px;
}

    input[type="submit"].btn:focus,
    input[type="button"].btn:focus,
    input[type="text"]:focus {
        outline: none;
        outline-style: none;
        outline-width: 0;
    }

    button.btn::-moz-focus-inner,
    input[type="submit"].btn::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    button.btn.btn-large,
    input[type="submit"].btn.btn-large {
        *padding-top: 7px;
        *padding-bottom: 7px;
    }

    button.btn.btn-small,
    input[type="submit"].btn.btn-small {
        *padding-top: 3px;
        *padding-bottom: 3px;
    }

    button.btn.btn-mini,
    input[type="submit"].btn.btn-mini {
        *padding-top: 1px;
        *padding-bottom: 1px;
    }*/

/*End Custom button */
