﻿@model SupplierPortal.Data.Models.SupportModel.MenuPortal.IFrameMenuModel
@{
    ViewBag.Title = "DFMCaller";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";

    string fullUrl = "";
    fullUrl = Model.UrliFrame + "token=" + Model.Token + "&docGroup=" + Model.DocGroup + "&pageNo=" + Model.PageNo;
}
<style>
.iframe-contect{

    width:100%;
    min-height:1000px;
}

</style>
<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>


<div class="row">
    <div class="col-md-12">
        <iframe src="@fullUrl" class="iframe-contect" frameborder="0" onload="parent.scroll(0,0);"></iframe>
    </div>
</div>
