﻿@using SupplierPortal.Services.RegisterPortalManage
@using System.Web.UI.WebControls
@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyGeneralModel
@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_LayoutEditDataTracking.cshtml";

    string lableTaxNo = "";
    if (Model.CountryCode == "TH" && Model.CompanyTypeID == 2)
    {
        lableTaxNo = T("_ComPro.CompanyInfo.LblTaxNo.Ordinary_TH").ToString();
    }
    else
    {
        lableTaxNo = T("_ComPro.CompanyInfo.LblTaxNo.Corp").ToString();
    }

    string displayOtherBusEnt = "";
    if (Model.BusinessEntityID == -1)
    {
        displayOtherBusEnt = "display: block;";
    }
    else
    {
        displayOtherBusEnt = "display: none;";
    }

    string placeholderCompLocal = "";
    string placeholderCompInter = "";
    string placeholderBranchNameLocal = "";
    string placeholderBranchNameInter = "";


    if (Model.CountryCode == "TH")
    {
        placeholderCompLocal = T("_ComPro.CompanyInfo.GtxtTHLocalCompanyName").ToString();
        placeholderCompInter = T("_ComPro.CompanyInfo.GtxtTHInterCompanyName").ToString();
        placeholderBranchNameLocal = T("_ComPro.CompanyInfo.GtxtTHLocalBranchName").ToString();
        placeholderBranchNameInter = T("_ComPro.CompanyInfo.GtxtTHInterBranchName").ToString();

    }
    else
    {
        placeholderCompLocal = T("_ComPro.CompanyInfo.GtxtNonTHLocalCompanyName").ToString();
        placeholderCompInter = T("_ComPro.CompanyInfo.GtxtNonTHInterCompanyName").ToString();
        placeholderBranchNameLocal = T("_ComPro.CompanyInfo.GtxtNonTHLocalBranchName").ToString();
        placeholderBranchNameInter = T("_ComPro.CompanyInfo.GtxtNonTHInterBranchName").ToString();

    }

    var datatracking = Model.trackingFields;

    string returnUrlTracking = "";
    if (Session["ReturnUrlTracking"] != null)
    {
        returnUrlTracking = Session["ReturnUrlTracking"].ToString();
    }
}

<div class="row">
    @using (Html.BeginForm("GeneralSave", "EditDataTracking", FormMethod.Post, new { @id = "mainOrgGeneralForm" }))
    {
        @Html.Hidden("hidBranchNo", Model.BranchNo, new { @id = "hidBranchNo" })
        @Html.HiddenFor(m => m.SupplierID, new { @id = "SupplierID" })
        @Html.HiddenFor(m => m.TrackingReqID, new { @id = "TrackingReqID" })
        @Html.HiddenFor(m => m.TrackingItemID, new { @id = "TrackingItemID" })
        @Html.HiddenFor(m => m.TrackingType, new { @id = "TrackingType" })
        @Html.HiddenFor(m => m.JsonStr, new { @id = "JsonStr" })
        @Html.Hidden("hidBranchNo", Model.BranchNo, new { @id = "hidBranchNo" })
        @Html.Hidden("returnUrlTracking", returnUrlTracking, new { @id = "returnUrlTracking" })

        @Html.Hidden("placeholderBranchLocal", placeholderBranchNameLocal, new { @id = "placeholderBranchLocal" })
        @Html.Hidden("placeholderBranchInter", placeholderBranchNameInter, new { @id = "placeholderBranchInter" })


        <div class="col-sm-12 col-md-12">
            <div class="data_end" style="padding-top:40px;"></div>
            <div style="float:left;padding-right:20px" class="link-profile">
                <a class="link-profile" href="@returnUrlTracking">@T("_ComPro.EditDataTracking.LnkGoBackSupVer")</a>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 r-sec">
            <div class="data_end" style="padding-top:40px;"></div>
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div style="float:right;padding-right:20px">
                                <input type="button" value="@T(" _global.btnsave")" class="btn btn-primary" id="btnSaveGeneral" />
                            </div>
                        </div>
                    </div>

                    @*<div class="data_end" style="padding-top:20px;"></div>

                        <div class="alert-custom" role="alert">
                            <span class="fa-stack">
                                <i style="color:#98C93D" class="fa fa-info-circle fa-stack-2x"></i>
                            </span> <b>@T("_ComPro.CompanyInfo.InstrTxt.Title")</b> <p>@T("_ComPro.CompanyInfo.InstrTxt.Txt")</p>
                        </div>*@

                    <div class="data_end" style="padding-top:20px;"></div>

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(m => m.CompanyTypeID, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @*@Html.DevExpress().RadioButtonListFor(m => m.CompanyTypeID, settings =>
                                        {
                                            if (Model.CompanyTypeID == null || Model.CompanyTypeID == 0)
                                            {
                                                settings.SelectedIndex = 0;
                                            }

                                            settings.Name = "CompanyTypeID";
                                            settings.Properties.RepeatLayout = RepeatLayout.Table;
                                            settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                            settings.Properties.ValueField = "CompanyTypeID";
                                            settings.Properties.TextField = "CompanyType";
                                            settings.Properties.RepeatColumns = 2;
                                            settings.Properties.ValueType = typeof(int);

                                            settings.Attributes["data-edit"] = datatracking["CompanyTypeID"].EditTracking.ToString();

                                            settings.Properties.ClientSideEvents.SelectedIndexChanged = "CompanyTypeChanged";
                                        }).BindList(RegisterManage.GetCompanyTypeList()).GetHtml()*@
                                    @foreach (var item in RegisterManage.GetCompanyTypeList())
                                    {
                                        if (Model.CompanyTypeID == null || Model.CompanyTypeID == 0)
                                        {
                                            Model.CompanyTypeID = 1;
                                        }
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.CompanyTypeID, item.CompanyTypeID, new { id = "CompanyTypeID", @data_edit = datatracking["CompanyTypeID"].EditTracking })
                                            @item.CompanyType
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(m => m.CountryCode, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @*@Html.Action("CountryCompanyPartial", new { model = Model })*@
                                    <select id="CountryCode" name="CountryCode" data-edit="@Model.trackingFields["CountryCode"].EditTracking">
                                        <option value="@Model.CountryCode" selected="selected">@Model.CountryName</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.Label(@lableTaxNo, new { @class = "form_label_bold", @id = "lableTaxNo" })<span class="red_highlight">*</span>
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(m => m.TaxID, new { @id = "TaxID", @class = "form-control", @style = "", @data_edit = datatracking["TaxID"].EditTracking })
                                </div>
                                <div class="form-inline-element margin-none">
                                    @Html.ValidationMessageFor(m => m.TaxID, null, new { @class = "text-danger-bold" })
                                    <span class="text-danger-bold" style="display:none;" id="errorTaxIDCorp">@T("_ComPro.ValidateMsg.RequireTaxID.Corp")</span>
                                    <span class="text-danger-bold" style="display:none;" id="errorTaxIDOrdinary">@T("_ComPro.ValidateMsg.RequireTaxID.Ordinary_TH")</span>
                                    @*<span class="text-danger-bold" style="display:none;" id="errorFormatTaxIDCorp">@T("_ComPro.ValidateMsg.InvalidFormatTaxID.Corp")</span>
                                        <span class="text-danger-bold" style="display:none;" id="errorFormatTaxIDOrdinary">@T("_ComPro.ValidateMsg.InvalidFormatTaxID.Ordinary")</span>*@

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(m => m.DUNSNumber, new { @class = "form_label_bold" })
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(m => m.DUNSNumber, new { @id = "DUNSNumber", @class = "form-control", @style = "", @data_edit = datatracking["DUNSNumber"].EditTracking })
                                </div>
                                <div class="form-inline-element margin-none">
                                    @Html.ValidationMessageFor(m => m.DUNSNumber, null, new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(m => m.BusinessEntityID, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @*@Html.Action("BusinessEntityPartial", new { model = Model })*@
                                    <div id="BusinessEntity">
                                        @Html.Action("BusinessEntityPartialNew", new { model = Model })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="divOtherBusEnt" style="@displayOtherBusEnt;padding-top:10px">
                                @Html.Label(" ", new { @class = "form_label_bold" })
                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @Html.TextBoxFor(m => m.OtherBusinessEntity, new { @id = "txtOtherBusEnt", @class = "form-control", placeholder = T("_ComPro.CompanyInfo.GtxtOtherBisEntityType"), @style = "", @data_edit = datatracking["OtherBusinessEntity"].EditTracking })
                                    </div>
                                    <div class="form-inline-element margin-none">
                                        <span class="text-danger-bold" style="display:none;" id="errorOtherBusiness">@T("_ComPro.ValidateMsg.RequireOtherBusinessEntity")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="borT"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.LabelFor(m => m.CompanyName_Local, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(m => m.CompanyName_Local, new { @id = "CompanyName_Local", @class = "form-control", placeholder = @placeholderCompLocal, @style = "", @onKeyPress = "return keyThaiOnly(event,this.value);", @data_edit = datatracking["CompanyName_Local"].EditTracking })
                                </div>
                                <div class="form-inline-element margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCompanyName_Local">@T("_ComPro.ValidateMsg.RequireCompanyName")</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(m => m.CompanyName_Inter, new { @id = "CompanyName_Inter", @class = "form-control upper", placeholder = @placeholderCompInter, @style = "", @onKeyPress = "return keyEngOnly(event,this.value);", @data_edit = datatracking["CompanyName_Inter"].EditTracking })
                                </div>
                                <div class="form-inline-element margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCompanyName_Inter">@T("_ComPro.ValidateMsg.RequireCompanyName")</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 clearfix">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @*@Html.DevExpress().RadioButtonList(
                                            settings =>
                                            {
                                                settings.Name = "BranchTypeNotSpeci";
                                                settings.Properties.RepeatLayout = RepeatLayout.Table;
                                                settings.Properties.ClientSideEvents.Init = "CheckBranchNo";
                                                settings.Properties.ClientSideEvents.SelectedIndexChanged = "BranchTypeChanged";
                                                settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                            }).BindList(new string[] { T("_ComPro.CompanyInfo.LblBranchNotSpecified").ToString() }).GetHtml()

                                        @Html.DevExpress().RadioButtonList(settings =>
                                            {
                                                settings.Name = "BranchType";
                                                settings.Properties.RepeatLayout = RepeatLayout.Table;
                                                settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                                settings.Properties.RepeatColumns = 3;
                                                settings.Properties.ClientSideEvents.Init = "CheckBranchNo";
                                                settings.Properties.ClientSideEvents.SelectedIndexChanged = "BranchTypeChanged";
                                            }).BindList(new string[] { T("_ComPro.CompanyInfo.LblHeadQuarter").ToString(), T("_ComPro.CompanyInfo.LblBranchNo").ToString() }).GetHtml()*@

                                    <label class="radio-inline"><input type="radio" name="BranchType" value="0" class="BranchType" id="BranchType0">@T("_Regis.CompanyInfo.LblBranchNotSpecified")</label>
                                    <label class="radio-inline"><input type="radio" name="BranchType" value="1" class="BranchType" id="BranchType1">@T("_Regis.CompanyInfo.LblHeadQuarter")</label>
                                    <label class="radio-inline"><input type="radio" name="BranchType" value="2" class="BranchType" id="BranchType2">@T("_Regis.CompanyInfo.LblBranchNo")</label>

                                    @Html.TextBoxFor(m => m.BranchNo, new { @id = "BranchNo", @class = "form-control", @style = "width: 107px;display:inline", @readonly = "readonly", @onKeyPress = "return keyBranchNoNumberOnly(event,this.value);", @data_edit = datatracking["BranchNo"].EditTracking })

                                </div>
                                <div class="form-inline-element margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorBranchNo">@T("_ComPro.ValidateMsg.RequireBranchCode")</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            @Html.LabelFor(m => m.BranchName_Local, new { @class = "form_label_bold" })
                        </div>

                        <div class="col-sm-6">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(m => m.BranchName_Local, new { @id = "BranchName_Local", @class = "form-control", @style = "", @onKeyPress = "return keyThaiOnly(event,this.value);", @readonly = "readonly", @data_edit = datatracking["BranchName_Local"].EditTracking })
                                </div>
                                <div class="form-inline-element margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorBranchName_Local">@T("_ComPro.ValidateMsg.RequireBranchName")</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(m => m.BranchName_Inter, new { @id = "BranchName_Inter", @class = "form-control upper", @style = "", @onKeyPress = "return keyEngOnly(event,this.value);", @readonly = "readonly", @data_edit = datatracking["BranchName_Inter"].EditTracking })
                                </div>
                                <div class="form-inline-element margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorBranchName_Inter">@T("_ComPro.ValidateMsg.RequireBranchName")</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="myAlertLocal" class="fixedContainer alert alert-warning fade">
    <strong>@T("_ComPro.ValidateMsg.InvalidLangLocalCompanyName.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.InvalidLangLocalCompanyName.Txt")
</div>

<div id="myAlertInter" class="fixedContainer alert alert-warning fade">
    <strong>@T("_ComPro.ValidateMsg.InvalidLangInterCompanyName.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.InvalidLangInterCompanyName.Txt")
</div>

<div id="myAlertNumber" class="fixedContainer alert alert-warning fade">
    <strong>@T("_ComPro.ValidateMsg.NumberOnly.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.NumberOnly.Txt")
</div>

<script type="text/javascript">

    function UpdatePlaceholderCompany(countryCode) {

        if (countryCode == "TH") {
            $("#CompanyName_Local").attr("placeholder", "@T("_ComPro.CompanyInfo.GtxtTHLocalCompanyName").ToString()");
            $("#CompanyName_Inter").attr("placeholder", "@T("_ComPro.CompanyInfo.GtxtTHInterCompanyName").ToString()");
        } else {
            $("#CompanyName_Local").attr("placeholder", "@T("_ComPro.CompanyInfo.GtxtNonTHLocalCompanyName").ToString()");
            $("#CompanyName_Inter").attr("placeholder", "@T("_ComPro.CompanyInfo.GtxtNonTHInterCompanyName").ToString()");
        }
    }

    function UpdatePlaceholderName(countryCode) {

        if (countryCode == "TH") {
            $("#FirstName").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtTHLocalFirstName").ToString()");
            $("#LastName").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtTHLocalLastName").ToString()");
            $("#FirstName_Contact").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtTHLocalFirstName").ToString()");
            $("#LastName_Contact").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtTHLocalLastName").ToString()");
        } else {
            $("#FirstName").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtNonTHLocalFirstName").ToString()");
            $("#LastName").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtNonTHLocalLastName").ToString()");
            $("#FirstName_Contact").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtNonTHLocalFirstName").ToString()");
            $("#LastName_Contact").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtNonTHLocalLastName").ToString()");
        }
    }

    function UpdateLableTaxNo() {
        var countryCode = CountryCode.GetValue();
        var companyTypeID = CompanyTypeID.GetValue();

        if (countryCode == "TH" && companyTypeID == 2) {
            $("#lableTaxNo").text("@T("_ComPro.CompanyInfo.LblTaxNo.Ordinary_TH").ToString()");
        } else {
            $("#lableTaxNo").text("@T("_ComPro.CompanyInfo.LblTaxNo.Corp").ToString()");
        }
    }

    function SetDisableGeneral() {
        CompanyTypeID.SetEnabled(false);
        CountryCode.SetEnabled(false);
        $("#TaxID").attr('readonly', true);
        $("#DUNSNumber").attr('readonly', true);
        BusinessEntityID.SetEnabled(false);
        $("#txtOtherBusEnt").attr('readonly', true);
        $("#CompanyName_Local").attr('readonly', true);
        $("#CompanyName_Inter").attr('readonly', true);
        BranchTypeNotSpeci.SetEnabled(false);
        BranchType.SetEnabled(false);
        $("#BranchName_Local").attr('readonly', true);
        $("#BranchName_Inter").attr('readonly', true);

        //$("#btnSaveGeneral").attr('disabled', true);
    }


    $(document).ready(function () {

        //The url we will send our get request to
        var countryUrl = '@Url.Action("GetJsonCountry", "ApiData")';
        var pageSize = 20;

        $("#CountryCode").select2({
            width: '539px',
            ajax: {
                url: countryUrl,
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    //console.log(params);
                    return {
                        searchTerm: params.term, // search term
                        pageNum: params.page,
                        pageSize: pageSize
                    };
                },
                processResults: function (data, params) {
                    //console.log(data);
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Results,
                        pagination: {
                            more: (params.page * pageSize) < data.Total
                        }
                    };
                },
                cache: true
            },
            templateResult: function (item, params) {
                // No need to template the searching text
                //console.log(item);

                if (item.loading) {
                    return item.text;
                }

                var term = query.term || '';
                //console.log("term ==> "+term);
                var $result = markMatch(item.text, term);

                return $result;
            },
            language: {
                searching: function (params) {
                    // Intercept the query as it is happening
                    query = params;

                    // Change this to be appropriate for your application
                    return 'Searching…';
                }
            },
            escapeMarkup: function (markup) { return markup; },
            //minimumInputLength: 0,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        }).on("change", function (evt) {
            // mostly used event, fired to the original element when the value changes
            //console.log(evt.target.value);
            //console.log(evt);
            var countryCode = evt.target.value;
            CountryChangedNew(countryCode)
        });

        CompanyTypeChangedNew();

        CheckBranchNoNew();

        BranchTypeChangedNew();

        $("#BranchNo").focusout(function () {


            //var countryCode = CountryCode.GetValue();
            var countryCode = $("#CountryCode option:selected").val();

            if (countryCode == "TH") {

                var textBranchNo = $("#BranchNo").val();
                if (textBranchNo.length > 0 && textBranchNo.length < 5) {
                    var pad = "00000"
                    var ans = pad.substring(0, pad.length - textBranchNo.length) + textBranchNo

                    $("#BranchNo").val(ans);
                }
            }
        });

        $('#DUNSNumber').bind('input', function () {
            $(this).val(function (_, v) {
                return v.replace(/\s+/g, '');
            });
        });


        //SetDisableGeneral();

        $("input[data-edit=True]").each(function (index) {
            $(this).attr('readonly', false);
        });

        $("input[data-edit=False]").each(function (index) {
            $(this).attr('readonly', true);
        });

        $("input[type=radio][data-edit=False]").each(function (index) {
            $(this).attr('disabled', true);
        });

        $("input[type=radio][data-edit=True]").each(function (index) {
            $(this).attr('disabled', false);
        });

        $("select[data-edit=False]").each(function (index) {
            $(this).attr('disabled', 'disabled');
        });

        $("select[data-edit=True]").each(function (index) {
            $(this).attr('disabled', false);
        });

        //$("input[type=option][data-edit=True]").each(function (index) {
        //    $(this).attr('disabled', false);
        //});

        //$("table[data-edit=True]").each(function (index) {
        //    var idTracking = $(this).attr('id');
        //    var comboBox = ASPxClientControl.GetControlCollection().GetByName(idTracking);
        //    comboBox.SetEnabled(true);
        //    //console.log(comboBox);
        //});

        //$("table[data-edit=False]").each(function (index) {
        //    var idTracking = $(this).attr('id');
        //    var comboBox = ASPxClientControl.GetControlCollection().GetByName(idTracking);
        //    comboBox.SetEnabled(false);
        //    //console.log(comboBox);
        //});

        $("#btnSaveGeneral").click(function (evt) {
            var chk = ValidatRequire(evt);
            var chk2 = ValidatTaxIDAsync(evt);
            var chk3 = ValidatDUNSNumberAsync(evt);
            var $formGeneral = $('#mainOrgGeneralForm');
            //console.log("btnSaveGeneral");
            var validator = $("#mainOrgGeneralForm").validate({
                onfocusout: false,
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        validator.errorList[0].element.focus();
                    }
                }
            });
            //console.log(chk);
            //console.log(chk2);
            //console.log(chk3);
            if ($formGeneral.valid() && chk && chk2 && chk3) {
                //console.log("if");
                disablePage();
                //$formGeneral.submit();
                $("#CompanyName_Local").val($("#CompanyName_Local").val().toUpperCase());
                $("#CompanyName_Inter").val($("#CompanyName_Inter").val().toUpperCase());
                $("#BranchName_Local").val($("#BranchName_Local").val().toUpperCase());
                $("#BranchName_Inter").val($("#BranchName_Inter").val().toUpperCase());
                document.getElementById("mainOrgGeneralForm").submit();
            } else {
                //console.log("else");
                validator.focusInvalid();
                $("#mainOrgGeneralForm").submit(function (event) {
                    event.preventDefault();
                });
            }
        });
    });
</script>

