
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #eeeeee;
	background-image:url(../bgm.jpg);
	background-position:center;
	background-repeat:repeat-y;
	
	}
	
.footnote{
font-family: Tahoma, Geneva, sans-serif;
font-size: 7pt;
color:#666666;
font-weight: normal;
padding-left:55px;
padding-top:10px;
width:795px;}
.title{
font-family: Tahoma, Geneva, sans-serif;
font-size: 11pt;
color:#003366;
font-weight: bold;	
	}	

.supj{
font-family: Tahoma, Geneva, sans-serif;
font-size: 16pt;
color:#003366;
font-weight: bold;	
	}		
	
	
	.sup{
font-family: Tahoma, Geneva, sans-serif;
font-size: 8pt;
color:#990000;
font-weight: none;	
	}		
.bg{
background-image:url(../bg.gif);
background-repeat:no-repeat;
background-position:bottom;
}
	
div	
	
{
font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
		font-weight: normal;
}
#Table_01 tr td table tr th {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	color: #FFF;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}
#link {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	color: #FFF;
	text-decoration: underline;
	font-weight: normal;
}
.content
{

padding-left:80px;
padding-bottom:20px;
width:650px;}

.green
{
width:780px;
background-color:#8cc63f;
padding-left:70px;
padding-bottom:5px;
padding-top:5px;
	color: #FFF;

}
.dotbt{

border-bottom: #dddddd 1px solid;
}
.dot{
BORDER-LEFT: #dddddd 1px solid;
}

.button_example:hover{
border:0px solid #CCCCCC; -webkit-border-radius: 25px; -moz-border-radius: 25px;border-radius: 25px;font-size:18px;font-family:tahoma; padding: 9px 12px 9px 12px; text-decoration:none; display:inline-block ;color: #003366;
background-color: #99ff00; background-image: -webkit-gradient(linear, left top, left bottom, from(#99ff00), to(#669900));
 background-image: -webkit-linear-gradient(top, #99ff00, #669900);
 background-image: -moz-linear-gradient(top, #99ff00, #669900);
 background-image: -ms-linear-gradient(top, #99ff00, #669900);
 background-image: -o-linear-gradient(top, #99ff00, #669900);
 background-image: linear-gradient(to bottom, #99ff00, #669900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#99ff00, endColorstr=#669900);
}

.button_example{
border:0px solid #CCCCCC; -webkit-border-radius: 25px; -moz-border-radius: 25px;border-radius: 25px;font-size:18px;font-family:tahoma; padding: 9px 12px 9px 12px; text-decoration:none; display:inline-block ;color: #003366; display:inline-block ;color: #FFFFFF;
 background-color: #0066cc; background-image: -webkit-gradient(linear, left top, left bottom, from(#003366), to(#0066cc));
 background-image: -webkit-linear-gradient(top, #003366, #0066cc);
 background-image: -moz-linear-gradient(top, #003366, #0066cc);
 background-image: -ms-linear-gradient(top, #003366, #0066cc);
 background-image: -o-linear-gradient(top, #003366, #0066cc);
 background-image: linear-gradient(to bottom, #003366, #0066cc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#003366, endColorstr=#0066cc);
}


