﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyCertificationModel
@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";

}

<style>
    .input-group-addon, .input-group-btn {
        width: 0%;
        font-size: 12px !important;
        padding: 0px 5px 0px 5px !important;
        white-space: nowrap;
        vertical-align: middle;
    }
</style>
<script type="text/javascript">

    function CertifiedChangedNew(certifiedID) {

        if (certifiedID == -1) {
            $("#divOtherCertificate").css("display", "block");
        } else {
            $("#divOtherCertificate").css("display", "none");
            $("#OtherStandardName").val("");

        }
    }

    var startDate = new Date();
    var FromEndDate = new Date();
    var ToEndDate = new Date();

    function InitializationDatepicker() {
        $("#datepickerValidFrom").datepicker(
           {
               format: "dd/mm/yyyy",
               todayHighlight: true,
               autoclose: true

           }
           ).on('changeDate', function (selected) {
               startDate = new Date(selected.date.valueOf());
               startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));

               var dateFrom = startDate;
               var dateTo = $("#datepickerValidTo").datepicker("getDate");
               if (dateFrom > dateTo) {
                   $("#datepickerValidTo").datepicker('update', startDate);
               }
               $("#datepickerValidTo").datepicker('setStartDate', startDate);
           });

        $("#datepickerValidTo").datepicker(
            {
                format: "dd/mm/yyyy",
                autoclose: true,
                todayHighlight: true,
                startDate: new Date()
            }
            ).on('changeDate', function (selected) {
                FromEndDate = new Date(selected.date.valueOf());
                FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
                $("#datepickerValidFrom").datepicker('setEndDate', FromEndDate);
            });
    }

    function updateTodayDatepicker() {
        $("#datepickerValidTo").datepicker('update', new Date());
        $("#datepickerValidFrom").datepicker('update', new Date());
    }

    $(document).ready(function () {

        InitializationDatepicker();
        updateTodayDatepicker();
    });


</script>

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>



    <div class="row m-sec">
        @*<div class="col-sm-3 col-md-3 menuL">
                @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
            </div>*@

        <div class="col-sm-12 col-md-12 r-sec">
            <div class="data_end"></div>
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                            <div class="pull-right">
                                @Ajax.ActionLink(T("_Global.BtnReset").ToString(), "ResetCertification", null, new AjaxOptions() { UpdateTargetId = "mainOrgCertificationForm", InsertionMode = InsertionMode.ReplaceWith, OnSuccess = "formResetSuccess" }, new { id = "btnReset", @class = "btn btn-default" })
                                <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" id="btnSaveCertificate" />
                            </div>

                        </div>
                    </div>

                    <div class="data_end" style="padding-top:20px;"></div>

                    <div class="row">
                        @{ Html.RenderAction("OrgCertifiedStdTable", "CompanyAdditional", new { supplierID = Model.SupplierID }); }
                    </div>

                    <div class="data_end" style="padding-top:20px;"></div>

                    @Html.Partial(@"~/Views/CompanyAdditional/_CertificateFormPartial.cshtml", Model)

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                            <div class="pull-right">
                                @Ajax.ActionLink(T("_Global.BtnReset").ToString(), "ResetCertification", null, new AjaxOptions() { UpdateTargetId = "mainOrgCertificationForm", InsertionMode = InsertionMode.ReplaceWith, OnSuccess = "formResetSuccess" }, new { id = "btnReset", @class = "btn btn-default" })
                                <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" id="btnSaveCertificate1" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="myModal-DeleteCertification" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <img src="~/Content/images/icon/ico-sp_alert.png" style="padding-right:10px;" />
                @T("_ComPro.Certification.ConfirmMsg.DeleteCertification.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                @T("_ComPro.Certification.ConfirmMsg.DeleteCertification.Txt")
                @using (Html.BeginForm("CertificationDelete", "CompanyAdditional", FormMethod.Post, new { @id = "mainOrgCertificationDeleteForm", }))
                {
                    @Html.Hidden("hidCertIdDelete", null, new { @id = "hidCertIdDelete" })
                    @Html.Hidden("hidSupplierIDDelete", Model.SupplierID, new { @id = "hidSupplierIDDelete" })
                }
            </div>
            <!-- dialog buttons default primary -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="deleteCertification">@T("_Global.BtnOk")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@T("_Global.BtnCancel")</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function htmlDecodeComma(str) {
        var res = str.replace(",", "{comma}#44");
        return res;
    }

    function deleteCertification(certId) {

        //console.log(contactID);
        $('#myModal-DeleteCertification').modal({ backdrop: 'static', keyboard: false })
        $('#hidCertIdDelete').val(certId);

        event.preventDefault();
        return false;
    }

    function deleteAttachment(attachmentID) {

        //console.log("deleteAttachment 01");

        var elementID = "item_" + attachmentID;

        $("#" + elementID).remove();

        var htmlText = "";

        htmlText += "<input type=\"hidden\" name=\"hidRemoveAttachmentID[]\" value=\"" + attachmentID + "\" />";

        $(htmlText).appendTo("#remove_item");

        var rowCount = $("#listCertificateDoc   >tbody >tr").length;
        if (rowCount == 0) {
            var scntDiv = $('#p_scents');
            var htmlText = "<tr class=\"main_table_row\" id=\"lastData \"><td align=\"center\" colspan=\"3\"> NoData </td></tr>";
            scntDiv.append(htmlText);
        }


        return false;
    }

    function formEditSuccess() {
        InitializationFileupload();
        uploadchange();
        startupload();
        InitializationDatepicker();

        //var compCertifiedID = CertifiedID.GetValue();
        var compCertifiedID = $("#CertifiedID option:selected").val();
        if (compCertifiedID == -1) {
            $("#divOtherCertificate").css("display", "block");
        } else {
            $("#divOtherCertificate").css("display", "none");
            $("#OtherStandardName").val("");

        }

    }

    function formResetSuccess() {
        InitializationFileupload();
        uploadchange();
        startupload();
        InitializationDatepicker();
        updateTodayDatepicker();
    }

    var jqXHRData;

    function uploadchange() {
        @*$("#fu-my-simple-upload").on('change', function () {
            var filesSize = this.files[0].size;
            var maxfilesSize =  $("#maxFileSize").val();

            if(filesSize > maxfilesSize)
            {
                $("#requiredfileupload").text("@T("_ComPro.Certification.ValidateMsg.LimitAttachFileSize")");
                $("#tbx-file-path").val("");
            }else
            {
                $("#requiredfileupload").text("");
                $("#tbx-file-path").val(this.files[0].name);
            }
        });*@

        $(".fu-my-simple-upload").on('change', function () {
            jqXHRData

            var filesname = jqXHRData.originalFiles[0]['name']

            $("#requiredfileupload").text("");
            $("#tbx-file-path").val(filesname);
        });
    }

    function InitializationFileupload() {

        //----------------Initialization of fileupload--------------
        'use strict';
        $('.fu-my-simple-upload').fileupload({
            url: '/CompanyAdditional/UploadFileAttachment',
            dataType: 'json',
            add: function (e, data) {
                jqXHRData = data
            },
            done: function (event, data) {
                $.unblockUI();
                if (data.result.isUploaded) {

                    var documentTypeID = data.result.documentTypeID;

                    var scntDiv = $('#p_scents');
                    $("#tbx-file-path").val("");//If upload completed.
                    $("#tbx-doc-name").val("");//If upload completed.

                    $('#lastData').remove();

                    scntDiv.append(data.result.htmlText);
                } else {
                    $("#requiredfileupload").text(data.result.message);
                    $("#tbx-file-path").val("");
                }
            },
            fail: function (event, data) {
                $.unblockUI();
                //console.log("fail");
                //console.log(data);
            }
        });
        //---------------------End Upload--------------------------
    }

    function startupload() {
        $(".hl-start-upload").on('click', function () {

            if ($("#tbx-file-path").val() != "") {

                if (jqXHRData) {
                    uploadPage();
                    jqXHRData.submit();
                }
            }
            else {
                $("#requiredfileupload").text("@T("_ComPro.Certification.ValidateMsg.RequireFilePath")");
            }
            return false;
        });
    }

    $(document).ready(function () {

        InitializationFileupload();

        uploadchange();

        startupload();

        $("#deleteCertification").on("click", function (event) {

            var $formDelete = $('#mainOrgCertificationDeleteForm');
            disablePage();
            $formDelete.submit();
        });

        $(document).on('click', '#deleteAttachment', function () {
            //console.log("deleteAttachment 02");
            $(this).closest('tr').remove();

            var rowCount = $("#listCertificateDoc   >tbody >tr").length;

            if (rowCount == 0) {
                var scntDiv = $('#p_scents');
                var htmlText = "<tr class=\"main_table_row\" id=\"lastData \"><td align=\"center\" colspan=\"3\"> NoData </td></tr>";
                scntDiv.append(htmlText);
            }

            return false;
        });


        $("#btnSaveCertificate").click(function (evt) {
            var $form = $("#mainOrgCertificationForm");

            var validator = $("#mainOrgCertificationForm").validate({
                onfocusout: false,
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        validator.errorList[0].element.focus();
                    }
                }
            });

            //var compCertifiedID = CertifiedID.GetValue();
            var compCertifiedID = $("#CertifiedID option:selected").val();
            var chk = true;

            if (compCertifiedID == "" || compCertifiedID == undefined) {
                evt.preventDefault();
                $('#CertifiedID').focus();
                $("#errorCertificate").css("display", "block");
                chk = false;
            } else {
                $("#errorCertificate").css("display", "none");
                chk = true;
            }

            if (compCertifiedID == -1) {
                var otherStandardName = $('#OtherStandardName').val();

                if (otherStandardName == "" || otherStandardName == undefined) {
                    evt.preventDefault();
                    $('#OtherStandardName').focus();
                    $("#errorOtherStandardName").css("display", "block");
                    chk = false;
                } else {
                    $("#errorOtherStandardName").css("display", "none");
                    chk = true;
                }
            }

            if ($form.valid() && chk == true) {
                //console.log("valid 1");
                disablePage();
                $("#btnSubmit").click();
                $form.submit();
                //document.getElementById("mainOrgCertificationForm").submit();
                //$form.submit();
            } else {
                console.log("focusInvalid");
                validator.focusInvalid();
            }

        });

        $("#btnSaveCertificate1").click(function (evt) {
            var $form = $("#mainOrgCertificationForm");

            var validator = $("#mainOrgCertificationForm").validate({
                onfocusout: false,
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        validator.errorList[0].element.focus();
                    }
                }
            });

            //var compCertifiedID = CertifiedID.GetValue();
            var compCertifiedID = $("#CertifiedID option:selected").val();
            var chk = true;

            if (compCertifiedID == "" || compCertifiedID == undefined) {
                evt.preventDefault();
                $('#CertifiedID').focus();
                $("#errorCertificate").css("display", "block");
                chk = false;
            } else {
                $("#errorCertificate").css("display", "none");
                chk = true;
            }

            if (compCertifiedID == -1) {
                var otherStandardName = $('#OtherStandardName').val();

                if (otherStandardName == "" || otherStandardName == undefined) {
                    evt.preventDefault();
                    $('#OtherStandardName').focus();
                    $("#errorOtherStandardName").css("display", "block");
                    chk = false;
                } else {
                    $("#errorOtherStandardName").css("display", "none");
                    chk = true;
                }
            }

            if ($form.valid() && chk == true) {
                //console.log("valid 2");
                disablePage();

                $("#btnSubmit").click();
                $form.submit();
                //$form.submit();
            } else {
                console.log("focusInvalid");
                validator.focusInvalid();
            }

        });
        $("#CertifiedID").focusout(function () {
            //var compCertifiedID = CertifiedID.GetValue();
            var compCertifiedID = $("#CertifiedID option:selected").val();
            if (compCertifiedID == "" || compCertifiedID == undefined) {
                $("#errorCertificate").css("display", "block");
            } else {
                $("#errorCertificate").css("display", "none");
            }
        });

        $("#OtherStandardName").focusout(function () {
            var otherStandardName = $('#OtherStandardName').val();

            if (otherStandardName == "" || otherStandardName == undefined) {
                $("#errorOtherStandardName").css("display", "block");
            } else {
                $("#errorOtherStandardName").css("display", "none");
            }
        });

    });
</script>
