﻿@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_AutoUpdateUser>

<table class="table table-hover" id="UpdateUserTable">
    <thead>
        <tr>
            <th width="10%">ID</th>
            <th width="15%">UserName</th>
            <th>Remark</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model)
        {
            <tr>
                <td>@list.ID</td>
                <td>@list.Username</td>
                <td>@list.Remark</td>
            </tr>
        }
    </tbody>
</table>
