﻿@model SupplierPortal.Models.ChartsModels_POVolume
<script src="@Url.Content("~/FusionCharts/FusionCharts.js")" type="text/javascript"></script>


<div id="_POVolume_" style="padding-top:1px;"></div>

@*<table class='sel_sup_tbl' cellspacing='0' cellpadding='0' align='center' width='100%'>
        <thead>
            <tr>
                <th class='chart_data_th_no_link' width='80'>&nbsp;</th>
                @foreach (var item in Model.data_POVolume) {
                    <th class='chart_data_th' width='100'>  @Html.DisplayFor(modelItem => item.buyerShortName) </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class='chart_data_th2'>OP Volume</th>
                @foreach (var item in Model.data_POVolume) {
                    <td class='chart_data_td colChartBuyer" + i + "' align='right'>
                        <a style= 'text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.volume)</a>
                    </td>
                }
            </tr>
        </tbody>
    </table>*@

@*<table class='sel_sup_tbl' cellspacing='0' cellpadding='0' align='center' width='100%'>*@
<table cellspacing='0' cellpadding='0' align='center' width='100%'>
    <thead>
        <tr>
            <th class='chart_data_th' width='35%'> @T("_Report.Charts.Buyer") </th>
            <th class='chart_data_th' width='29.5%'> @T("_Report.Charts.POVolume") (%)</th>
            <th class='chart_data_th' width='35.5%'> @T("_Report.Charts.POVolume") </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan='3'>
                <div style="max-height:130px; min-height:20px; overflow-y:scroll; overflow-x:hidden">
                    <table cellspacing='0' cellpadding='0' align='center' width='100%' style="border-collapse:collapse; border-color:#bbbbbb">
                        @foreach (var item in Model.data_POVolume)
                        {
                            <tr>
                                <th class='chart_data_th' align='left' width='36%'>  @Html.DisplayFor(modelItem => item.buyer) </th>
                                <td class='chart_data_td' align='right' width='31%'>
                                    <a style='text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.percentVolume)</a>
                                </td>
                                <td class='chart_data_td' align='right' width='33%'>
                                    <a style='text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.volume)</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>



<script type="text/javascript">

    function DecodeHtml(str) {
        return jQuery('<div/>').html(str).text();
    }

    FusionCharts.setCurrentRenderer('javascript');

    var myChart = new FusionCharts("../FusionCharts/Pie3D.swf",
    "chart_Volume", "450", "300", "0", "1");

    if ('@(Model.json_POVolume)' != "") {
        var chrt_POVolume = DecodeHtml('@(Model.json_POVolume)');
        myChart.setJSONData(JSON.parse(chrt_POVolume));
    }

    myChart.configure("ChartNoDataText", "No data!");
    myChart.render("_POVolume_");

    //Add Commas
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

</script>

