﻿@using SupplierPortal.Services.RegisterPortalManage
@using System.Web.UI.WebControls
@using CaptchaMvc.HtmlHelpers
@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyGeneralModel
@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";

    string viewbagAlertMassage = ViewBag.AlertMessage;

    string lableTaxNo = "";
    if (Model.CountryCode == "TH" && Model.CompanyTypeID == 2)
    {
        lableTaxNo = T("_ComPro.CompanyInfo.LblTaxNo.Ordinary_TH").ToString();
    }
    else
    {
        lableTaxNo = T("_ComPro.CompanyInfo.LblTaxNo.Corp").ToString();
    }

    string displayOtherBusEnt = "";
    if (Model.BusinessEntityID == -1)
    {
        displayOtherBusEnt = "display: block;";
    }
    else
    {
        displayOtherBusEnt = "display: none;";
    }

    string placeholderCompLocal = "";
    string placeholderCompInter = "";
    string placeholderBranchNameLocal = "";
    string placeholderBranchNameInter = "";


    if (Model.CountryCode == "TH")
    {
        placeholderCompLocal = T("_ComPro.CompanyInfo.GtxtTHLocalCompanyName").ToString();
        placeholderCompInter = T("_ComPro.CompanyInfo.GtxtTHInterCompanyName").ToString();
        placeholderBranchNameLocal = T("_ComPro.CompanyInfo.GtxtTHLocalBranchName").ToString();
        placeholderBranchNameInter = T("_ComPro.CompanyInfo.GtxtTHInterBranchName").ToString();

    }
    else
    {
        placeholderCompLocal = T("_ComPro.CompanyInfo.GtxtNonTHLocalCompanyName").ToString();
        placeholderCompInter = T("_ComPro.CompanyInfo.GtxtNonTHInterCompanyName").ToString();
        placeholderBranchNameLocal = T("_ComPro.CompanyInfo.GtxtNonTHLocalBranchName").ToString();
        placeholderBranchNameInter = T("_ComPro.CompanyInfo.GtxtNonTHInterBranchName").ToString();

    }
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();

    //รับค่า viewbag จาก controller
    var datatracking = Model.trackingFields; //ViewBag.TrackingModel as Dictionary<string, int>;

    Func<int, int, string> setOnclick = (trackingItemIDField, TrackingGrpID) =>
    {
        return string.Format("return viewDataTracking({0},{1})", trackingItemIDField, TrackingGrpID);
    };

}

<style>
    .fa-flag {
        display: none;
        color: #EDB61D;
    }
</style>

<script>

    $(document).ready(function() {

        //The url we will send our get request to
        var countryUrl = '@Url.Action("GetJsonCountry", "ApiData")';
        var pageSize = 20;
        var query = {};

        $("#CountryCode").select2({
            width: '539px',
            ajax: {
                url: countryUrl,
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    //console.log(params);
                    return {
                        searchTerm: params.term, // search term
                        pageNum: params.page,
                        pageSize: pageSize
                    };
                },
                processResults: function (data, params) {
                    //console.log(data);
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Results,
                        pagination: {
                            more: (params.page * pageSize) < data.Total
                        }
                    };
                },
                cache: true
            },
            templateResult: function (item,params) {
                // No need to template the searching text
                //console.log(item);
                
                if (item.loading) {
                    return item.text;
                }

                var term = query.term || '';
                //console.log("term ==> "+term);
                var $result = markMatch(item.text, term);

                return $result;
            },
            language: {
                searching: function (params) {
                    // Intercept the query as it is happening
                    query = params;

                    // Change this to be appropriate for your application
                    return 'Searching…';
                }
            },
            escapeMarkup: function (markup) { return markup; },
            //minimumInputLength: 0,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        }).on("change", function(evt) {
            // mostly used event, fired to the original element when the value changes
            //console.log(evt.target.value);
            console.log(evt);
            var countryCode = evt.target.value;
            CountryChangedNew(countryCode)
        });

        CompanyTypeChangedNew();

        CheckBranchNoNew();

        BranchTypeChangedNew();
    });
</script>

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>



<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>



    <div class="row m-sec">

        <div class="col-sm-12 col-md-12 r-sec">

            @using (Html.BeginForm("GeneralSave", "GeneralInformation", FormMethod.Post, new { @id = "mainOrgGeneralForm" }))
            {
                @Html.Hidden("trackingItemIDField")
                @Html.Hidden("trackingGrpID")
                @Html.Hidden("trackingPage")
                @Html.Hidden("trackingController")
                @Html.Hidden("hidBranchNo", Model.BranchNo, new { @id = "hidBranchNo" })
                @Html.Hidden("hidCompanyTypeID", Model.CompanyTypeID, new { @id = "hidCompanyTypeID" })
                @Html.Hidden("hidTaxID", Model.TaxID, new { @id = "hidTaxID" })
                @Html.HiddenFor(m => m.SupplierID, new { @id = "SupplierID" })

                @Html.Hidden("placeholderBranchLocal", placeholderBranchNameLocal, new { @id = "placeholderBranchLocal" })
                @Html.Hidden("placeholderBranchInter", placeholderBranchNameInter, new { @id = "placeholderBranchInter" })





                <div class="data_end"></div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="pull-right">
                                    <input type="button" value="@T(" _global.btnsave")" class="btn btn-primary" id="btnSaveGeneral" />
                                </div>
                            </div>
                        </div>
                        <div class="data_end" style="padding-top:20px;"></div>
                        <div class="alert-custom" role="alert">
                            <span class="fa-stack">
                                <i style="color:#98C93D" class="fa fa-info-circle fa-stack-2x"></i>
                            </span>
                            <span><b>@T("_ComPro.CompanyInfo.InstrTxt.Title")</b></span>
                            <div style="padding-left:25px;"><span>@T("_ComPro.CompanyInfo.InstrTxt.Txt")</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.CompanyTypeID, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @foreach (var item in RegisterManage.GetCompanyTypeList())
                                        {
                                            if (Model.CompanyTypeID == null || Model.CompanyTypeID == 0)
                                            {
                                                Model.CompanyTypeID = 1;
                                            }
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.CompanyTypeID, item.CompanyTypeID, new { id = "CompanyTypeID", @data_tracking = datatracking["CompanyTypeID"].TrackingStatusID })
                                                @item.CompanyType
                                            </label>
                                        }


                                        <a class="CompanyTypeID">
                                            <span class="alert-trackinginfo" aria-hidden="true" show="CompanyTypeID"></span>
                                        </a>
                                        <a class="CompanyTypeID" data-toggle="popover" data-reqid='@datatracking["CompanyTypeID"].ReqId' style="vertical-align: top;">
                                            <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                  show="CompanyTypeID"
                                                  onclick="@setOnclick(datatracking["CompanyTypeID"].TrackingItemID,
                                              datatracking["CompanyTypeID"].TrackingGrpID)"></span>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.CountryCode, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @*@Html.Action("CountryCompanyPartial", new { model = Model })*@
                                        <select id="CountryCode" name="CountryCode"  data-tracking = @datatracking["CountryCode"].TrackingStatusID>
                                            <option value="@Model.CountryCode" selected="selected">@Model.CountryName</option>
                                        </select>
                                    </div>
                                    <div class="form-inline-element margin-none alert-icon">
                                        <a class="CountryCode">
                                            <span class="alert-trackinginfo" aria-hidden="true" show="CountryCode"></span>
                                        </a>
                                        <a class="CountryCode" data-toggle="popover" data-reqid='@datatracking["CountryCode"].ReqId'>
                                            <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                  show="CountryCode"
                                                  onclick="@setOnclick(datatracking["CountryCode"].TrackingItemID,
                                                            datatracking["CountryCode"].TrackingGrpID)"></span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.Label(@lableTaxNo, new { @class = "form_label_bold", @id = "lableTaxNo" })<span class="red_highlight">*</span>
                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @Html.TextBoxFor(m => m.TaxID, new { @id = "TaxID", @class = "form-control", @style = "", @data_tracking = datatracking["TaxID"].TrackingStatusID })
                                    </div>
                                    <div class="form-inline-element margin-none">
                                        @Html.ValidationMessageFor(m => m.TaxID, null, new { @class = "text-danger-bold" })
                                        <span class="text-danger-bold" style="display:none;" id="errorTaxIDCorp">@T("_ComPro.ValidateMsg.RequireTaxID.Corp")</span>
                                        <span class="text-danger-bold" style="display:none;" id="errorTaxIDOrdinary">@T("_ComPro.ValidateMsg.RequireTaxID.Ordinary_TH")</span>
                                        <span class="text-danger-bold" style="display:none;" id="errorFormatTaxIDCorp">@T("_ComPro.ValidateMsg.InvalidFormatTaxID.Corp")</span>
                                        <span class="text-danger-bold" style="display:none;" id="errorFormatTaxIDOrdinary">@T("_ComPro.ValidateMsg.InvalidFormatTaxID.Ordinary")</span>
                                        <span class="text-danger-bold" style="display:none;" id="errorDuplicateTexID">@T("_ComPro.ValidateMsg.DuplicateTexID")</span>
                                    </div>
                                    <div class="form-inline-element margin-none alert-icon">
                                        <a class="TaxID">
                                            <span class="alert-trackinginfo" aria-hidden="true" show="TaxID"></span>
                                        </a>
                                        <a class="TaxID" data-toggle="popover" data-reqid='@datatracking["TaxID"].ReqId'>
                                            <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                  show="TaxID"
                                                  onclick="@setOnclick(datatracking["TaxID"].TrackingItemID,
                                          datatracking["TaxID"].TrackingGrpID)"></span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.DUNSNumber, new { @class = "form_label_bold" })
                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @Html.TextBoxFor(m => m.DUNSNumber, new { @id = "DUNSNumber", @class = "form-control", @style = "", @data_tracking = datatracking["DUNSNumber"].TrackingStatusID })
                                    </div>
                                    <div class="form-inline-element margin-none">
                                        @Html.ValidationMessageFor(m => m.DUNSNumber, null, new { @class = "text-danger-bold" })
                                    </div>
                                    <div class="form-inline-element margin-none alert-icon">
                                        <a class="DUNSNumber">
                                            <span class="alert-trackinginfo" aria-hidden="true" show="DUNSNumber"></span>
                                        </a>
                                        <a class="DUNSNumber" data-toggle="popover" data-reqid='@datatracking["DUNSNumber"].ReqId'>
                                            <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                  show="DUNSNumber"
                                                  onclick="@setOnclick(datatracking["DUNSNumber"].TrackingItemID,
                                          datatracking["DUNSNumber"].TrackingGrpID)"></span>
                                        </a>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.BusinessEntityID, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @*@Html.Action("BusinessEntityPartial", new{model = Model})*@
                                        <div id="BusinessEntity">
                                            @Html.Action("BusinessEntityPartialNew", new { model = Model })
                                        </div>               
                                    </div>
                                    <div class="form-inline-element margin-none alert-icon">
                                        <a class="BusinessEntityID">
                                            <span class="alert-trackinginfo" aria-hidden="true" show="BusinessEntityID"></span>
                                        </a>
                                        <a class="BusinessEntityID" data-toggle="popover" data-reqid='@datatracking["BusinessEntityID"].ReqId'>
                                            <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                  show="BusinessEntityID"
                                                  onclick="@setOnclick(datatracking["BusinessEntityID"].TrackingItemID,
                                          datatracking["BusinessEntityID"].TrackingGrpID)"></span>
                                        </a>

                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div id="divOtherBusEnt" style="@displayOtherBusEnt;padding-top:10px">
                                    @Html.Label(" ", new { @class = "form_label_bold" })
                                    <div class="form-inline-regis">
                                        <div class="form-inline-element margin-none">
                                            @Html.TextBoxFor(m => m.OtherBusinessEntity, new { @id = "txtOtherBusEnt", @class = "form-control", placeholder = T("_ComPro.CompanyInfo.GtxtOtherBisEntityType"), @style = "", @data_tracking = datatracking["BusinessEntityID"].TrackingStatusID })
                                        </div>
                                        <div class="form-inline-element margin-none">
                                            <span class="text-danger-bold" style="display:none;" id="errorOtherBusiness">@T("_ComPro.ValidateMsg.RequireOtherBusinessEntity")</span>
                                        </div>
                                        <div class="form-inline-element margin-none alert-icon">
                                            <a class="OtherBusinessEntity">
                                                <span class="alert-trackinginfo" aria-hidden="true" show="OtherBusinessEntity"></span>
                                            </a>
                                            <a class="OtherBusinessEntity" data-toggle="popover" data-reqid='@datatracking["BusinessEntityID"].ReqId'>
                                                <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                      show="OtherBusinessEntity"
                                                      onclick="@setOnclick(datatracking["OtherBusinessEntity"].TrackingItemID,
                                                       datatracking["BusinessEntityID"].TrackingGrpID)"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="borT"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.LabelFor(m => m.CompanyName_Local, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @Html.TextBoxFor(m => m.CompanyName_Local, new { @id = "CompanyName_Local", @class = "form-control", placeholder = @placeholderCompLocal, @style = "", @onKeyPress = "return keyThaiOnly(event,this.value);", @data_tracking = datatracking["CompanyName_Local"].TrackingStatusID })
                                    </div>
                                    <div class="form-inline-element margin-none">
                                        @*@Html.ValidationMessageFor(m => m.CompanyName_Local, null, new { @class = "text-danger-bold" })*@
                                        <span class="text-danger-bold" style="display:none;" id="errorCompanyName_Local">@T("_ComPro.ValidateMsg.RequireCompanyName")</span>
                                    </div>
                                    <div class="form-inline-element margin-none alert-icon">
                                        <a class="CompanyName_Local">
                                            <span class="alert-trackinginfo" aria-hidden="true" show="CompanyName_Local"></span>
                                        </a>
                                        <a class="CompanyName_Local" data-toggle="popover" data-reqid='@datatracking["CompanyName_Local"].ReqId'>
                                            <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                  show="CompanyName_Local"
                                                  onclick="@setOnclick(datatracking["CompanyName_Local"].TrackingItemID,
                                          datatracking["CompanyName_Local"].TrackingGrpID)"></span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @Html.TextBoxFor(m => m.CompanyName_Inter, new { @id = "CompanyName_Inter", @class = "form-control upper", placeholder = @placeholderCompInter, @style = "", @onKeyPress = "return keyEngOnly(event,this.value);", @data_tracking = datatracking["CompanyName_Inter"].TrackingStatusID })
                                    </div>
                                    <div class="form-inline-element margin-none">
                                        @*@Html.ValidationMessageFor(m => m.CompanyName_Inter, null, new { @class = "text-danger-bold" })*@
                                        <span class="text-danger-bold" style="display:none;" id="errorCompanyName_Inter">@T("_ComPro.ValidateMsg.RequireCompanyName")</span>
                                    </div>
                                    <div class="form-inline-element margin-none alert-icon">
                                        <a class="CompanyName_Inter">
                                            <span class="alert-trackinginfo" aria-hidden="true" show="CompanyName_Inter"></span>
                                        </a>
                                        <a class="CompanyName_Inter" data-toggle="popover" data-reqid='@datatracking["CompanyName_Inter"].ReqId'>
                                            <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                  show="CompanyName_Inter"
                                                  onclick="@setOnclick(datatracking["CompanyName_Inter"].TrackingItemID,
                                          datatracking["CompanyName_Inter"].TrackingGrpID)"></span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 clearfix">
                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @*@Html.DevExpress().RadioButtonList(settings =>
                                    {
                                        settings.Name = "BranchTypeNotSpeci";
                                        settings.Properties.RepeatLayout = RepeatLayout.Table;
                                        settings.Properties.ClientSideEvents.Init = "CheckBranchNo";
                                        settings.Properties.ClientSideEvents.SelectedIndexChanged = "BranchTypeChanged";
                                        settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                    }).BindList(new string[] { T("_ComPro.CompanyInfo.LblBranchNotSpecified").ToString() }).GetHtml()

                                        @Html.DevExpress().RadioButtonList(settings =>
                                    {
                                        settings.Name = "BranchType";
                                        settings.Properties.RepeatLayout = RepeatLayout.Table;
                                        settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                        settings.Properties.RepeatColumns = 3;
                                        settings.Properties.ClientSideEvents.Init = "CheckBranchNo";
                                        settings.Properties.ClientSideEvents.SelectedIndexChanged = "BranchTypeChanged";
                                    }).BindList(new string[] { T("_ComPro.CompanyInfo.LblHeadQuarter").ToString(), T("_ComPro.CompanyInfo.LblBranchNo").ToString() }).GetHtml()*@

                                        <label class="radio-inline"><input type="radio" name="BranchType" value="0" class="BranchType" id="BranchType0">@T("_Regis.CompanyInfo.LblBranchNotSpecified")</label>
                                        <label class="radio-inline"><input type="radio" name="BranchType" value="1" class="BranchType" id="BranchType1">@T("_Regis.CompanyInfo.LblHeadQuarter")</label>
                                        <label class="radio-inline"><input type="radio" name="BranchType" value="2" class="BranchType" id="BranchType2">@T("_Regis.CompanyInfo.LblBranchNo")</label>

                                        @Html.TextBoxFor(m => m.BranchNo, new { @id = "BranchNo", @class = "form-control", @style = "width: 107px;display:inline", @readonly = "readonly", @onKeyPress = "return keyBranchNoNumberOnly(event,this.value);", @data_tracking = datatracking["BranchNo"].TrackingStatusID })
                                        <a class="BranchNo">
                                            <span class="alert-trackinginfo" aria-hidden="true" show="BranchNo"></span>
                                        </a>
                                        <a class="BranchNo" data-toggle="popover" data-reqid='@datatracking["BranchNo"].ReqId' style="vertical-align: top;">
                                            <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                  show="BranchNo"
                                                  onclick="@setOnclick(datatracking["BranchNo"].TrackingItemID,
                                          datatracking["BranchNo"].TrackingGrpID)"></span>
                                        </a>

                                        @*</div>*@
                                    </div>



                                    <div class="form-inline-element margin-none">
                                        <span class="text-danger-bold" style="display:none;" id="errorBranchNo">@T("_ComPro.ValidateMsg.RequireBranchCode")</span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12">
                                @Html.LabelFor(m => m.BranchName_Local, new { @class = "form_label_bold" })
                            </div>
                            <div class="col-sm-6">
                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @Html.TextBoxFor(m => m.BranchName_Local, new { @id = "BranchName_Local", @class = "form-control", @style = "", @onKeyPress = "return keyThaiOnly(event,this.value);", @readonly = "readonly", @data_tracking = datatracking["BranchName_Local"].TrackingStatusID })
                                    </div>
                                    <div class="form-inline-element margin-none">
                                        @*@Html.ValidationMessageFor(m => m.CompanyName_Local, null, new { @class = "text-danger-bold" })*@
                                        <span class="text-danger-bold" style="display:none;" id="errorBranchName_Local">@T("_ComPro.ValidateMsg.RequireBranchName")</span>
                                    </div>
                                    <div class="form-inline-element margin-none alert-icon">
                                        <a class="BranchName_Local">
                                            <span class="alert-trackinginfo" aria-hidden="true" show="BranchName_Local"></span>
                                        </a>
                                        <a class="BranchName_Local" data-toggle="popover" data-reqid='@datatracking["BranchName_Local"].ReqId'>
                                            <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                  show="BranchName_Local"
                                                  onclick="@setOnclick(datatracking["BranchName_Local"].TrackingItemID,
                                          datatracking["BranchName_Local"].TrackingGrpID)"></span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        @Html.TextBoxFor(m => m.BranchName_Inter, new { @id = "BranchName_Inter", @class = "form-control upper", @style = "", @onKeyPress = "return keyEngOnly(event,this.value);", @readonly = "readonly", @data_tracking = datatracking["BranchName_Inter"].TrackingStatusID })
                                    </div>
                                    <div class="form-inline-element margin-none">
                                        @*@Html.ValidationMessageFor(m => m.CompanyName_Inter, null, new { @class = "text-danger-bold" })*@
                                        <span class="text-danger-bold" style="display:none;" id="errorBranchName_Inter">@T("_ComPro.ValidateMsg.RequireBranchName")</span>
                                    </div>
                                    <div class="form-inline-element margin-none alert-icon">
                                        <a class="BranchName_Inter">
                                            <span class="alert-trackinginfo" aria-hidden="true" show="BranchName_Inter"></span>
                                        </a>
                                        <a class="BranchName_Inter" data-toggle="popover" data-reqid='@datatracking["BranchName_Inter"].ReqId'>
                                            <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                                                  show="BranchName_Inter"
                                                  onclick="@setOnclick(datatracking["BranchName_Inter"].TrackingItemID,
                                          datatracking["BranchName_Inter"].TrackingGrpID)"></span>
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                                <div class="pull-right">
                                    <input type="button" value="@T(" _global.btnsave")" class="btn btn-primary" id="btnSaveGeneral1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            }
        </div>

    </div>

</div>


<div id="myAlertLocal" class="fixedContainer alert alert-warning fade">
    <strong>@T("_ComPro.ValidateMsg.InvalidLangLocalCompanyName.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.InvalidLangLocalCompanyName.Txt")
</div>

<div id="myAlertInter" class="fixedContainer alert alert-warning fade">
    <strong>@T("_ComPro.ValidateMsg.InvalidLangInterCompanyName.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.InvalidLangInterCompanyName.Txt")
</div>

<div id="myAlertNumber" class="fixedContainer alert alert-warning fade">
    <strong>@T("_ComPro.ValidateMsg.NumberOnly.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.NumberOnly.Txt")
</div>

<div id="myModalError" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @T("_Login.ForgotPassword.AlertMsg.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                @Html.Raw(viewbagAlertMassage)
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal" id="BtnOk">@T("_Global.BtnOk")</button></div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        function alertData() {


            $('#myModalError').modal({ backdrop: 'static', keyboard: false })
            .one('click', '#BtnOk', function () {
                disablePage();
                window.location.href = "/GeneralInformation/General";
                //$.unblockUI();

            });
        }

        function UpdatePlaceholderCompany(countryCode) {

            if (countryCode == "TH") {
                $("#CompanyName_Local").attr("placeholder", "@T("_ComPro.CompanyInfo.GtxtTHLocalCompanyName").ToString()");
                $("#CompanyName_Inter").attr("placeholder", "@T("_ComPro.CompanyInfo.GtxtTHInterCompanyName").ToString()");
            } else {
                $("#CompanyName_Local").attr("placeholder", "@T("_ComPro.CompanyInfo.GtxtNonTHLocalCompanyName").ToString()");
                $("#CompanyName_Inter").attr("placeholder", "@T("_ComPro.CompanyInfo.GtxtNonTHInterCompanyName").ToString()");
            }
        }

        function UpdatePlaceholderName(countryCode) {

            if (countryCode == "TH") {
                $("#FirstName").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtTHLocalFirstName").ToString()");
                $("#LastName").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtTHLocalLastName").ToString()");
                $("#FirstName_Contact").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtTHLocalFirstName").ToString()");
                $("#LastName_Contact").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtTHLocalLastName").ToString()");
            } else {
                $("#FirstName").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtNonTHLocalFirstName").ToString()");
                $("#LastName").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtNonTHLocalLastName").ToString()");
                $("#FirstName_Contact").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtNonTHLocalFirstName").ToString()");
                $("#LastName_Contact").attr("placeholder", "@T("_ComPro.UserInfo.ContactName.GtxtNonTHLocalLastName").ToString()");
            }
        }

        function UpdateLableTaxNoNew() {
            var companyTypeID = $('input[name=CompanyTypeID]:checked').val();
            var countryCode = $("#CountryCode option:selected").val();

            if (countryCode == "TH" && companyTypeID == 2)
            {
                $("#lableTaxNo").text("@T("_ComPro.CompanyInfo.LblTaxNo.Ordinary_TH").ToString()");
            } else {
                $("#lableTaxNo").text("@T("_ComPro.CompanyInfo.LblTaxNo.Corp").ToString()");
            }
        }

        function SetDisableGeneral()
        {
            //CompanyTypeID.SetEnabled(false);
            //CountryCode.SetEnabled(false);
            $('input[name=CompanyTypeID]').attr('disabled', true);
            $("#CountryCode").attr('disabled','disabled')
            $("#TaxID").attr('readonly', true);
            $("#DUNSNumber").attr('readonly', true);
            //BusinessEntityID.SetEnabled(false);
            $("#BusinessEntityID").attr('disabled','disabled')
            $("#txtOtherBusEnt").attr('readonly', true);
            $("#CompanyName_Local").attr('readonly', true);
            $("#CompanyName_Inter").attr('readonly', true);
            //BranchTypeNotSpeci.SetEnabled(false);
            //BranchType.SetEnabled(false);
            $('input:radio[class=BranchType]').prop('disabled', true);
            $("#BranchName_Local").attr('readonly', true);
            $("#BranchName_Inter").attr('readonly', true);

            $("#btnSaveGeneral").attr('disabled', true);
            $("#btnSaveGeneral1").attr('disabled', true);
        }

        function SetEnableGeneral()
        {
            $('input[name=CompanyTypeID]').attr('disabled', false);
            $("#BusinessEntityID").prop('disabled', false);
            $("#CountryCode").prop('disabled', false);
        }


        function viewDataTracking(trackingItemIDField, trackingGrpID) {

            var formAttachment = $("#mainOrgGeneralForm");
            var urlAction = '/CompanyProfile/ViewTrackingFieldCompanyProfile';

            formAttachment.attr("action", urlAction);
            $("#trackingItemIDField").val(trackingItemIDField);
            $("#trackingGrpID").val(trackingGrpID);
            $("#trackingPage").val("General");
            $("#trackingController").val("GeneralInformation");
            formAttachment.submit();

            disablePage();
            return false;
        }

        $(function () {
            $("input[data-tracking=2]").each(function (index) {
                var idTracking = $(this).attr('id');
                var tag_tracking =  $('[data-reqid].' + idTracking);
                var trackingGrpID = tag_tracking.attr('data-reqid');
                var lg = "";
                if (@LanguageID == 1) {
                    lg = "Waiting for Approve ( Request No."+trackingGrpID+" )";
                }
                else if (@LanguageID == 2) {
                    lg = "อยู่ระหว่างการรออนุมัติ ( คำร้องเลขที่ "+trackingGrpID+" )";
                }
                tag_tracking.popover({
                    html: true,
                    placement: "top",
                    trigger: "hover",
                    container: tag_tracking,
                    content: lg,
                    delay: { show: 150, hide: 150 }
                });
            });
            @*$("table[data-tracking=2]").each(function (index) {
                var idTracking = $(this).attr('id');
                var tag_tracking =  $('[data-reqid].' + idTracking);
                var trackingGrpID = tag_tracking.attr('data-reqid');
                var lg = "";
                if (@LanguageID == 1) {
                    lg = "Waiting for Approve ( Request No."+trackingGrpID+" )";
                }
                else if (@LanguageID == 2) {
                    lg = "อยู่ระหว่างการรออนุมัติ ( คำร้องเลขที่ "+trackingGrpID+" )";
                }
                tag_tracking.popover({
                    html: true,
                    placement: "top",
                    trigger: "hover",
                    container: tag_tracking,
                    content: lg,
                    delay: { show: 150, hide: 150 }
                });
            });*@
            $("select[data-tracking=2]").each(function (index) {
                var idTracking = $(this).attr('id');
                var tag_tracking =  $('[data-reqid].' + idTracking);
                var trackingGrpID = tag_tracking.attr('data-reqid');
                var lg = "";
                if (@LanguageID == 1) {
                    lg = "Waiting for Approve ( Request No."+trackingGrpID+" )";
                }
                else if (@LanguageID == 2) {
                    lg = "อยู่ระหว่างการรออนุมัติ ( คำร้องเลขที่ "+trackingGrpID+" )";
                }
                tag_tracking.popover({
                    html: true,
                    placement: "top",
                    trigger: "hover",
                    container: tag_tracking,
                    content: lg,
                    delay: { show: 150, hide: 150 }
                });
            });

        });

        $(document).ready(function () {
            $("#BranchNo").focusout(function () {

                var inputCheck = false;
                $("input[data-tracking=2]").each(function (index) {
                    var idTracking1 = $(this).attr('id');
                    if (idTracking1 == "BranchNo") {
                        inputCheck = true;
                        return false;
                    }
                });
                //$("input[data-tracking=2]").each(function (index) {
                //    inputCheck = true;
                //    return false;
                //    if (inputCheck == false) {
                //        $("table[data-tracking=2]").each(function (index) {
                //            inputCheck = true;
                //            return false;
                //        });
                //    }
                //});

                //console.log(inputCheck);
                if (inputCheck == false) {
                    var countryCode = $("#CountryCode option:selected").val();
                    if (countryCode == "TH") {

                        var textBranchNo = $("#BranchNo").val();
                        if (textBranchNo.length > 0 && textBranchNo.length < 5) {
                            var pad = "00000"
                            var ans = pad.substring(0, pad.length - textBranchNo.length) + textBranchNo

                            $("#BranchNo").val(ans);
                        }
                    }
                }

            });

            $('#DUNSNumber').bind('input', function () {
                $(this).val(function (_, v) {
                    return v.replace(/\s+/g, '');
                });
            });

            //$("#btnSaveGeneral").click(function (evt) {
            //    var chk = ValidatRequire(evt);
            //    var chk2 = ValidatTaxIDAsync(evt);
            //    var $formGeneral = $('#mainOrgGeneralForm');

            //    if ($formGeneral.valid() && chk && chk2) {
            //        disablePage();
            //        $formGeneral.submit();
            //    }

            //});

            //SetDisableGeneral();

            $("#btnSaveGeneral").click(function (evt) {
                var chk = ValidatRequire(evt);
                var chk2 = ValidatTaxIDAsync(evt);
                var chk3 = ValidatDUNSNumberAsync(evt);
                var chk4 = ValidatDuplicateTexID(evt);
                var $formGeneral = $('#mainOrgGeneralForm');
                var flag = false;
                var flag1 = false;


                $("input[data-tracking=1]").each(function (index) {
                    var idTracking = $(this).attr('id');
                    //$(".alert-trackingflide[show=" + idtracking + "]").show();
                    var name = document.getElementById(idTracking);

                    if(idTracking =="CompanyTypeID")
                    {
                        var oldValue = $('#hidCompanyTypeID').val();
                        var newValue = $('input[name=CompanyTypeID]:checked').val();
                        flag = newValue != oldValue;
                        //console.log("input CompanyTypeID old ==>"+ name.value + ":"+name.defaultValue);
                        //console.log("input CompanyTypeID ==>"+ newValue + ":"+oldValue);
                    }else
                    {
                        flag = name.value != name.defaultValue;
                        //console.log("input ==>"+ name.value + ":"+name.defaultValue);
                    }
                    
                    if (flag) {
                        return false;
                    }
                });

                if (flag == false) {
                    $("select[data-tracking=1]").each(function (index) {
                            var idTracking = $(this).attr('id');
                            var name = document.getElementById(idTracking);

                            flag = name.options[name.selectedIndex].value != name.options[0].value;
                            console.log("select ==>"+ name.options[name.selectedIndex].value + ":"+ name.options[0].value);                       
                            if (flag) {
                                return false;
                            }
                    });
                }

                if ($formGeneral.valid() && chk && chk2 && chk3 && chk4 && flag) {
                    disablePage();
                    //$formGeneral.submit();
                    SetEnableGeneral();
                    $("#CompanyName_Local").val($("#CompanyName_Local").val().toUpperCase());
                    $("#CompanyName_Inter").val($("#CompanyName_Inter").val().toUpperCase());
                    $("#BranchName_Local").val($("#BranchName_Local").val().toUpperCase());
                    $("#BranchName_Inter").val($("#BranchName_Inter").val().toUpperCase());
                    document.getElementById("mainOrgGeneralForm").submit();
                } else {
                    $("#mainOrgGeneralForm").submit(function (event) {
                        event.preventDefault();
                    });
                }
            });

            $("#btnSaveGeneral1").click(function (evt) {
                var chk = ValidatRequire(evt);
                var chk2 = ValidatTaxIDAsync(evt);
                var chk3 = ValidatDUNSNumberAsync(evt);
                var chk4 = ValidatDuplicateTexID(evt);
                var $formGeneral = $('#mainOrgGeneralForm');
                var flag = false;
                var flag1 = false;

                $("input[data-tracking=1]").each(function (index) {
                    var idTracking = $(this).attr('id');
                    var name = document.getElementById(idTracking);

                    if(idTracking =="CompanyTypeID")
                    {
                        var oldValue = $('#hidCompanyTypeID').val();
                        var newValue = $('input[name=CompanyTypeID]:checked').val();
                        flag = newValue != oldValue;
                        //console.log("input CompanyTypeID old ==>"+ name.value + ":"+name.defaultValue);
                        //console.log("input CompanyTypeID ==>"+ newValue + ":"+oldValue);
                    }else
                    {
                        flag = name.value != name.defaultValue;
                        //console.log("input ==>"+ name.value + ":"+name.defaultValue);
                    }
                    if (flag) {
                        return false;
                    }
                });

                if (flag == false) {
                    $("select[data-tracking=1]").each(function (index) {
                        var idTracking = $(this).attr('id');
                        var name = document.getElementById(idTracking);

                        flag = name.options[name.selectedIndex].value != name.options[0].value;
                        //console.log("select ==>"+ name.options[name.selectedIndex].value + ":"+ name.options[0].value);             
                        if (flag) {
                            return false;
                        }
                    });
                }

                if ($formGeneral.valid() && chk && chk2 && chk3 && chk4 && flag) {
                    disablePage();
                    //$formGeneral.submit();
                    SetEnableGeneral();
                    $("#CompanyName_Local").val($("#CompanyName_Local").val().toUpperCase());
                    $("#CompanyName_Inter").val($("#CompanyName_Inter").val().toUpperCase());
                    $("#BranchName_Local").val($("#BranchName_Local").val().toUpperCase());
                    $("#BranchName_Inter").val($("#BranchName_Inter").val().toUpperCase());
                    //console.log("submit");
                    document.getElementById("mainOrgGeneralForm").submit();
                } else {
                    $("#mainOrgGeneralForm").submit(function (event) {
                        event.preventDefault();
                    });
                }
            });

            //$("input[data-tracking=1]").each(function (index) {
            //    var idtracking = $(this).attr('id');
            //    $(".alert-trackinginfo[show=" + idtracking + "]").attr('style', 'display:inline-block').show();
            //});
            //$("table[data-tracking=1]").each(function (index) {
            //    var idTracking = $(this).attr('id');
            //    $(".alert-trackinginfo[show=" + idTracking + "]").attr('style', 'display:inline-block').show();
            //});
            //check trachingstatus = 2 disable and show icon
            $("input[data-tracking=2]").each(function (index) {
                if($(this).attr('type') == 'radio')
                {
                    $(this).attr('disabled', true);
                }else
                {
                    $(this).attr('readonly', true);
                }
                var idTracking = $(this).attr('id');
                //$(".alert-trackingflide[show=" + idtracking + "]").show();
                //$(".alert-trackingstatus[for=" + idtracking + "]").show();
                if (idTracking == "BranchNo") {
                    //BranchTypeNotSpeci.SetEnabled(false);
                    //BranchType.SetEnabled(false);
                    $('input:radio[class=BranchType]').prop('disabled', true);
                }
                $(".alert-trackingflide[show=" + idTracking + "]").attr('style', 'display:inline-block').show();
            });
            //check trackingstatus devexpess
            //$("table[data-tracking=2]").each(function (index) {
            //    var idTracking = $(this).attr('id');
            //    var comboBox = ASPxClientControl.GetControlCollection().GetByName(idTracking);
            //    comboBox.SetEnabled(false);
            //    if (idTracking == "BusinessEntityID") {
            //        $("#txtOtherBusEnt").attr('readonly', true);
            //    }
            //    $(".alert-trackingflide[show=" + idTracking + "]").attr('style', 'display:inline-block').show();
            //});
            $("select[data-tracking=2]").each(function (index) {
                var idTracking = $(this).attr('id');
                //console.log(idTracking);
                    //var comboBox = ASPxClientControl.GetControlCollection().GetByName(idTracking);
                //comboBox.SetEnabled(false);
                    $(this).attr('disabled', 'disabled');
                    if (idTracking == "BusinessEntityID") {
                        $("#txtOtherBusEnt").attr('readonly', true);
                    }
                    $(".alert-trackingflide[show=" + idTracking + "]").attr('style', 'display:inline-block').show();
            });

            $("input[data-tracking=5]").each(function (index) {
                //console.log($(this));
                //console.log($(this).attr('type'));
                if($(this).attr('type') == 'radio')
                {
                    $(this).attr('disabled', true);
                }else
                {
                    $(this).attr('readonly', true);
                }
                
                var idTracking = $(this).attr('id');
                //$(".alert-trackingflide[show=" + idtracking + "]").show();
                //$(".alert-trackingstatus[for=" + idtracking + "]").show();
                if (idTracking == "BranchNo") {
                    //BranchTypeNotSpeci.SetEnabled(false);
                    //BranchType.SetEnabled(false);
                    $('input:radio[class=BranchType]').prop('disabled', true);
                }
            });
            //check trackingstatus devexpess
            //$("table[data-tracking=5]").each(function (index) {
            //    var idTracking = $(this).attr('id');
            //    var comboBox = ASPxClientControl.GetControlCollection().GetByName(idTracking);
            //    comboBox.SetEnabled(false);
            //    if (idTracking == "BusinessEntityID") {
            //        $("#txtOtherBusEnt").attr('readonly', true);
            //    }
            //});
            $("select[data-tracking=5]").each(function (index) {
                    var idTracking = $(this).attr('id');
                    //var comboBox = ASPxClientControl.GetControlCollection().GetByName(idTracking);
                //comboBox.SetEnabled(false);
                    $(this).attr('disabled', 'disabled');
                    if (idTracking == "BusinessEntityID") {
                        $("#txtOtherBusEnt").attr('readonly', true);
                    }
            });
            

        });
</script>
    @if (!string.IsNullOrEmpty(viewbagAlertMassage))
    {
        <script>
            alertData();
        </script>
    }


}


