﻿<div style="font-family: Tahoma, Arial,sans-serif; font-size: 14px;">
    <p><span style="font-size: 14px;">สินเชื่อธุรกิจ Supply Chain Finance</span></p>
    <p>
        <span style="font-size: 14px;">
            <span>
                จุดเด่น<br>
                &nbsp;&nbsp; &bull; ไม่ใช้หลักทรัพย์ค้ำประกัน<br>
                &nbsp;&nbsp; &bull; วงเงินสูง ดอกเบี้ยต่ำ<br>
                &nbsp;&nbsp; &bull; ระยะเวลาการกู้ 30-180 วัน<br>
                &nbsp;&nbsp; &bull; อนุมัติภายใน 3 วัน
            </span>
        </span>
    </p>
    <p>
        <span style="font-size: 14px;">สมัครผ่านระบบ Pantavanij Supplier Web Work ได้แล้ววันนี้</span>
    </p>
    <p><span style="font-size: 14px;">เจ้าหน้าที่จะติดต่อท่านกลับตามข้อมูลที่ได้ให้ไว้ในระบบ<br>สอบถามเพิ่มเติมติดต่อ 02-034-4428</span></p>
</div>