﻿<div class="row">
    <div class="col-md-6">
        <div class="ep_footer_new_block1">
            <div class="ep_footer_new_txt_header">
                @T("_Home.Footer.AboutUs")
            </div>
            <ul class="ep_footer_new_txt">
                <li>@T("_Home.Footer.CompanyProfile")</li>
                <li>@T("_Home.Footer.HomePage")</li>
                <li>@T("_Home.Footer.eNewsletter")</li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ep_footer_new_block2">
            <div class="ep_footer_new_txt_header">@T("_Home.Footer.TermOfUse")</div>
            <div class="ep_footer_new_txt_header">@T("_Home.Footer.PrivacyPolicy")</div>
            <div class="ep_footer_new_txt_header">@T("_Home.Footer.SiteMap")</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="ep_footer_new_txt_header" style="text-align:center">@T("_Home.Footer.MobileApp")</div>
        <div class="ep_footer_photo_block3" align="center">
            @*<img class="img_icon" src="~/Content/images/appstore.png" title='App Store' />
            <img class="img_icon" src="~/Content/images/google_play_icon.png" title='Google play' />*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="ep_footer_new_block4">
            <div class="ep_footer_new_txt_last">@T("_Home.Footer.Browser")</div>
            <div class="ep_footer_new_txt_last">@T("_Home.Footer.Copyright")</div>
            @*<div class="ep_footer_new_txt_last">@T("_Home.Footer.Copyright").ToHtmlString().Replace("<%year%>", DateTime.Now.Year.ToString()).ToString()</div>*@
        </div>
    </div>
</div>
