﻿@using System.Web.Configuration;
@{
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();

    string joinNowURL = WebConfigurationManager.AppSettings["join_now_url"];
}
<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
        ::-webkit-input-placeholder { /* WebKit browsers */
            color: #aaa !important;
        }

        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #aaa !important;
            opacity: 1;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #aaa !important;
            opacity: 1;
        }

        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #aaa !important;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Supplier Web Work</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/breadcrumb")
    @Styles.Render("~/Content/portal")
    @Styles.Render("~/Content/msdropdown")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*@Html.Partial("_popupContent")*@
    @Html.Hidden("hdfRequiredField", @T("_Regis.Msg_RequireTicketCode"), new { @id = "hdfRequiredField" })
    <div id="loadingMsg" style="display:none;">
        <img src="~/Content/images/loading8-1.gif" />
    </div>
    <div class="page-header" align="center">
        <div class="ep_header_width">
            @using (Html.BeginForm("SetCulture_LangingPage", "SetCulture", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "countries_select", role = "form" }))
            {
                <div class="language_select" align="right">

                    <select name="countries" id="countries" style="width:130px; text-align: left" onchange="changeCountries();">
                        @{ Html.RenderAction("CountrySelect", "SetCulture"); }
                    </select><p>
                </div>
            }
            <div class="brand" align="left"><a><img class="img" src="~/Content/images/logo_Newbg.png" border="0" /></a></div>
        </div>
    </div>

    <div class="login_body_New_bg">
        <div class="landing_content">
            <div class="data_end" style="padding-top:40px;"></div>
            <div class="container container_landing">
                <div class="row">
                    <div class="data_end"></div>
                    <div class="ep_badge_blue_edge"></div>

                    <div class="navbar navbar-portal-landing" role="navigation" style="padding-left: 0px; width: 95%;">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav ">

                                    <li class="top_menu_li">@Html.ActionLink(T("_Landing.TopMenu1").ToString(), "WhyVerification", "Landing")</li>
                                    <li class="top_menu_li">@Html.ActionLink(T("_Landing.TopMenu2").ToString(), "ProcessofVerification", "Landing")</li>
                                    <li class="top_menu_li">@Html.ActionLink(T("_Landing.TopMenu3").ToString(), "SuccessStories", "Landing")</li>
                                    <li class="top_menu_li">@Html.ActionLink(T("_Landing.TopMenu4").ToString(), "PressSection", "Landing")</li>
                                    @*<li class="top_menu_li">@Html.ActionLink("Get Verified", "GetVerified", "Landing")</li>*@
                                    <li class="top_menu_li">@Html.ActionLink(T("_Landing.TopMenu5").ToString(), "FAQs", "Landing")</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:10px;"></div>
                </div>

                <div class="row">
                    <img class="img" src="~/Content/images/logo_NewLogin1.png" border="0" />
                </div>
                <div class="row body_landing" style="overflow-y:auto; height:280px;">
                    @RenderBody()
                </div>

                <div class="row">
                    <div class="checkbox_landing">
                        <input id="TicketCode" type="checkbox" value="true" name="TicketCode" onclick="checkTicketCode();">&nbsp;&nbsp;
                        @T("_Landing.LblHaveRegistrationCode")
                    </div>
                    <div class="ticketCode_text" style="padding-left:15px; display: none;">
                        <form id="form-ticketcode">
                            <input id="ticketcode" class="textBoxStyle" type="text" value="" name="ticketcode" maxlength="15" placeholder="@T("_Landing.GtxtTicketCode")">
                            <span id="requirederror" class="text-danger-bold"></span>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="button_landing">
                        <a href="javascript:submitTicketCode();" class="btn_login_landing">
                            @TP("Landing.Button.Join")
                        </a>
                        @Html.ActionLink(@TP("Landing.Button.Member").ToString(), "Login", "AccountPortal", null, new { @class = "btn_login_landing" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial(@"~/Views/Shared/_FooterLandingPartial.cshtml")

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    @T("_Login.ForgotPassword.Lbl_MsgTitle")
                </div>
                <!-- dialog body -->
                <div class="modal-body">
                    <span id="ticketcodeWrongmessage"></span>
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer"><button id="btn" type="button" class="btn btn-primary" data-dismiss="modal">@T("_Global.BtnOk")</button></div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/blockUI")
    @Scripts.Render("~/bundles/placeholder")
    @Scripts.Render("~/bundles/country-dropdown")

    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $('input, textarea').placeholder();

    function disablePage() {
        $.blockUI({
            message: $('#loadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            //timeout: 2000,
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });
    }

    function changeCountries() {

        $("#countries_select").submit();
        //waitPage();
        disablePage();
    }

    function checkTicketCode() {

        var chk = document.getElementById("TicketCode").checked;
        if(chk == true)
        {
            $(".ticketCode_text").show();
        }else
        {
            $(".ticketCode_text").hide();
        }
    }

    function submitTicketCode()
    {

        chk = document.getElementById("TicketCode").checked;
        var form = $("form#form-ticketcode");
        if(chk == true)
        {
            if ($.trim($("#ticketcode").val()) != ""){

                $.ajax({
                    url: '/Register/RenderViewByTicketcode',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        model: {
                            Ticketcode: $("#ticketcode").val()
                        }
                    }),
                    async: false,
                    processData: false,
                    cache: false,
                    success: function (data) {

                        if (data.Response == "Success") {
                            //var url = "kCIn";
                            //url = url.concat($("#ticketcode").val());
                            //url = url.concat("EOiK");
                            disablePage();

                            if (typeof data.IsRedirectToSC !== undefined && data.IsRedirectToSC) {
                                window.location.href = data.RedirectURL;
                            }
                            else {
                                window.location.href = '/Register/SupplierRegisterByTicket/?ticketcode=' + $("#ticketcode").val();
                            }
                        }
                        else{
                            $("#ticketcodeWrongmessage").text(data.Response);
                            $("#requirederror").text("");
                            loadPopup();//Funtion from customheadscript
                            $("#btn").click(function () {
                                return true;
                            });
                        }
                    },
                    error: function (xhr) {
                        return false;
                    }
                })
            }
            else{
                $("#requirederror").text($("#hdfRequiredField").val());
            }
        }
        else
        {
            disablePage();
            //form.attr("action", "/AccountPortal/Login");
            //form.submit();
            window.location = "@joinNowURL" == "" ? "/Register/SupplierRegister" : "@joinNowURL";
        }
    }

    function selectItemByValue(elmnt, value) {
        for (var i = 0; i < elmnt.options.length; i++) {
            if (elmnt.options[i].value == value)
            {

                $("#countries [value='"+value+"']").attr("selected","selected");

            }
        }
    }

    function loadPopup() {
        //---------------------------------------Render message box---------------------------------------------
        $("#myModal").on("show", function () {    // wire up the OK button to dismiss the modal when shown
            $("#myModal a.btn").on("click", function (e) {
                alert("11");
                console.log("button pressed");   // just as an example...
                $("#myModal").modal('hide');     // dismiss the dialog
            });
        });

        $("#myModal").on("hide", function () {    // remove the event listeners when the dialog is dismissed
            $("#myModal a.btn").off("click");
        });

        $("#myModal").on("hidden", function () {  // remove the actual elements from the DOM when fully hidden
            $("#myModal").remove();
        });

        $("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        //--------------------------------------------------End---------------------------------------------------
    }

    $(document).ready(function () {

        var number = document.getElementById('countries');
        selectItemByValue(number, @LanguageID);

        $("#countries").msDropdown();

        $(".ticketCode_text").hide();

        $('a[href="' + this.location.pathname + '"]').parent().addClass('active top_menu_li_active');
    });
</script>

@*//-------เพิ่มสคริป ปุ่ม more hoid-------------*@
<script>
    $(document).ready(function(){

        $("#more").click(function()
        {
            @*alert(@LanguageID);*@
            if (@LanguageID == 1)
            {
                $self=$(this),$toggle=$('#test');
                $toggle.toggle();
                $self.text($toggle.is(':visible')?'hide...':'more...')
            }
            else if (@LanguageID == 2) {

                $self=$(this),$toggle=$('#test');
                $toggle.toggle();
                $self.text($toggle.is(':visible')?'ซ่อนที่เหลือ...':'อ่านเพิ่มเติม...')
            }
        });

    });
</script>