﻿@{
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();

}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Supplier Web Work</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/breadcrumb")
    @*@Styles.Render("~/Content/portal")*@
    @Styles.Render("~/Content/jquery-ui-1.11.2/themes/smoothness/css")
    @Styles.Render("~/Content/fileuploadcss")
    @Styles.Render("~/Content/msdropdown")
    @Styles.Render("~/Content/msdropdown")
    @Styles.Render("~/Content/select2")
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/registerscript")

    



</head>
<body>
    <div id="loadingMsg" style="display:none;">
        <img src="~/Content/images/loading8-1.gif" />
    </div>
    <div id="uploadingMsg" style="display:none;">
        <img src="~/Content/images/uploading.gif" />
    </div>
    <div class="page-header" align="center">
        <div class="ep_header_width">
            @using (Html.BeginForm("SetCulture", "SetCulture", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "countries_select", role = "form" }))
            {
                <div class="user_org" align="right" style="padding-top:25px">

                    <select name="countries" id="countries" style="width:130px; text-align: left" onchange="changeCountries();">
                        @{ Html.RenderAction("CountrySelect", "SetCulture"); }
                    </select><p>
                </div>
            }
            <div class="brand" align="left"><a href=@Url.Action("WhyVerification","Landing")><img class="img" src="~/Content/images/logo_Newbg.png" border="0" /></a></div>
         
           
        </div>
    </div>

    <div class="landing_body_bg">
        <div class="container">
            @RenderBody()
        </div>
    </div>

   @Html.Partial(@"~/Views/Shared/_FooterLandingPartial.cshtml")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/blockUI")
    @Scripts.Render("~/bundles/country-dropdown")
    @Scripts.Render("~/bundles/jquery-ui-1.11.2/jqueryui")
    @Scripts.Render("~/bundles/fileuploadscript")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/typeahead")
   
    @RenderSection("scripts", required: false)

</body>
</html>
<script>

    function disablePage() {
        $.blockUI({
            message: $('#loadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            //timeout: 2000,
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });
    }

    function uploadPage() {
        $.blockUI({
            message: $('#uploadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            //timeout: 2000,
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });
    }

    function changeCountries() {

        //$("#countries_select").submit();
        document.getElementById('countries_select').submit();
        //waitPage();
        disablePage();
    }

    function selectItemByValue(elmnt, value) {
        for (var i = 0; i < elmnt.options.length; i++) {
            if (elmnt.options[i].value == value)
            {
                $("#countries [value='"+value+"']").attr("selected","selected");
            }
        }
    }

    $(document).ready(function () {

        var number = document.getElementById('countries');
        selectItemByValue(number, @LanguageID);

        $("#countries").msDropdown();

    });

</script>
