﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - Supplier Web Work</title>

    @*<link href="@Url.Content("~/Content/css-Report/PrintReportingTheme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css-Report/jquery.ui.selectmenu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css-Report/print_html.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css-Report/util.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css-Report/form.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/Report/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Report/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>*@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/msdropdown")
    @*@Styles.Render("~/Content/PrintReportingTheme")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page">
        <div id="ms_wrapper">
            <div style="padding-top:2px;">
                <div id="loadingMsg" style="display:none;">
                    <img src="../Content/images/loading8-1.gif" />
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

</body>

</html>


