﻿@{
    ViewBag.Title = "TimeOutError";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<div class="row">
    <table style="width: 998px;height:450px;">
        <tr>
            <td height="23" width="998" align="center" style="padding-left:200px">
                <b>
                    <font face="Tahoma" size="2" style='color:black; text-align:center;'>
                        You can Re-Connect to Reporting Service page by click here for close page --> <a href="JavaScript:goClosePage();">Close Page</a>
                    </font>
                </b>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">

    function goClosePage() {
        window.close();
    }

</script>
