﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyProductModel
@*@Html.DevExpress().TokenBoxFor(a => a.ProductKeyword, settings =>
    {
        settings.Name = "ProductKeyword";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        //settings.Width = 300;
        //settings.Height = 100;
        settings.Properties.DropDownWidth = 550;
        //settings.Properties.AllowCustomTokens = true;
        settings.Properties.ClientSideEvents.ValueChanged = "OnChangedTokenbox";
        settings.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Always;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
        settings.CallbackRouteValues = new { Controller = "ProductInformation", Action = "Product_Keyword" };
        settings.Properties.CallbackPageSize = 20;
        settings.Properties.DropDownRows = 4;
        //settings.Properties.TextFormatString = "{1}";
        //settings.Properties.ValueField = "PurGroupId";
        //settings.Properties.TextField = "PurGroupName";
        settings.Properties.ClientSideEvents.TokensChanged = "CheckCommaTokenbox";
        settings.ControlStyle.CssClass = "autocomplete-textbox form-control setHeight";
        settings.Properties.ClientInstanceName = "myTokenProductKeyword";
        //settings.Properties.ValueType = typeof(string);
        //settings.Properties.ClientSideEvents.Init = "Buyer_Init";
        //settings.Properties.ClientSideEvents.BeginCallback = "GetValueCountryCode";
        //settings.Properties.ClientSideEvents.SelectedIndexChanged = "ContactCountryChanged";
        //settings.Properties.NullText = T("_ComPro.ValidateMsg.Address_BuyerList").ToString();
        //settings.ControlStyle.CssClass = "form-control padding-right-none";
    }).BindList(ViewData["ProductKeyword"]).GetHtml()*@


<select class="form-control" style="width:100%" id="tokenboxSelect2" multiple="multiple" data-productkeyword="@Model.ProductKeyword">
    @if (Model.ProductKeyword != null && Model.ProductKeyword != "")
    {
        string[] dataKeyword = Model.ProductKeyword.Split(',');
        foreach (string word in dataKeyword)
        {
            <option selected="selected">@word</option>
        }
    }
</select>
