﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyProductModel
@{
    int n = 1;
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";

    string languageID = SupplierPortal.Framework.MethodHelper.GetCurrentLanguageHelper.GetStringLanguageIDCurrent();
    int languageId = Convert.ToInt32(languageID);
    var businessType = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetBusinessTypeGroup(languageId);
    var productType = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetProductTypeGroup(languageId);

    var dataCategory = ViewBag.Category1 as IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_ProductCategoryLev1>;

    var productTypeList = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetProductTypeGroup(languageId);
    var dataProductType = ViewBag.ProductType as List<SupplierPortal.Data.Models.MappingTable.Tbl_OrgProductCategory>;

    var dataOrgCategory = ViewBag.ListCategory as List<SupplierPortal.Data.Models.SupportModel.Register.CategoryModel>;

    var masters = dataOrgCategory.GroupBy(g => new
    {
        CategoryID_Lev1 = g.CategoryID_Lev1,
        CategoryName = languageId == 1 ? g.CategoryName_Inter : g.CategoryName_Local
    })
                       .Select(s => new
                       {
                           CategoryID_Lev1 = s.Key.CategoryID_Lev1,
                           CategoryName = s.Key.CategoryName,
                           CategoryLv3 = s.Select(ss => ss.CategoryLv3).OrderBy(o => o.CategoryID_Lev3)
                           .OrderBy(o => o.CategoryID_Lev3 < 0)
                           .ThenBy(p => languageId == 1 ? p.CategoryName_Inter : p.CategoryName_Local)
                           .ToList()
                       })
                       .OrderBy(o => o.CategoryID_Lev1)
                       .ToList();



    //var TitleDelete = "";
    //var gridNoResultMessage = "";
    //if (languageId == 1)
    //{
    //    TitleDelete = "Delete";
    //    gridNoResultMessage = "No results were found. Please try a different search.";
    //}
    //else if (languageId == 2)
    //{
    //    TitleDelete = "ลบ";
    //    gridNoResultMessage = "ไม่พบข้อมูลที่คุณกำลังค้นหา กรุณาลองใหม่อีกครั้ง";
    //}
}
<style>
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        background: #47A447 !important;
        color: #fff;
    }

    .well {
        padding: 5px 5px 15px 20px !important;
    }

    table.scroll {
        border-spacing: 0;
    }

        table.scroll tbody,
        table.scroll thead {
            width: 100%;
            display: block;
        }

    .border-Cat {
        border: 1px solid #d3d3d3;
        height: 300px;
        overflow-y: scroll;
    }

    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        border-top: none;
    }

    .border1 {
        border: 1px solid #d3d3d3;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }


    .active-cat, .table-hover > tbody > tr.active-cat:hover > td {
        background-color: #98c93d;
        color: #fff;
    }

    span.help-block {
        margin-top: -10px;
    }

    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        padding: 2px;
    }

    .bgHTable {
        background-color: #98c93d;
    }

    #ProductKeyword {
        min-height: 100px;
    }

    .select2-selection__rendered {
        min-height: 100px;
    }
</style>
<script type="text/javascript">
    var productCategorys = [@string.Join(",", dataOrgCategory.Select(s => s.CategoryLv3.CategoryID_Lev3))];
    var productCategorysSearch = [];
    $(function () {
        //$("#checkBoxBusinessType").buttonset();
        $("#checkBoxProdServType").buttonset();
        //$("#checkboxAdvancedProdServType").buttonset();
    });


    $(function () {
        function init() {

            data = [];

            $("#grid-data").bootgrid({
                ajax: true,
                labels: {
                    noResults: '@T("_Global.Msg.LblGridNoResultMessage")'
                },
                post: function () {
                    /* To accumulate custom parameter with the request object */
                    return {
                        keySearch: $("#txtProdSearch").val()
                    };
                },
                url: "/ApiData/SearchProductandService",
                selection: true,
                multiSelect: true,
                rowSelect: true,
                keepSelection: true


                //}).on("loaded.rs.jquery.bootgrid", function (e) {
                //    // Resets the selected data array on reload, searching, sorting or changing page
                //    data = [];

                //    //}).on("selected.rs.jquery.bootgrid", function (e, selectedRows) {

                //    //    var row, quantity;
                //    //    for (var i = 0; i < selectedRows.length; i++) {
                //    //        row = selectedRows[i];

                //    //        // Array.contains is an extension of bootgrid
                //    //        if (!data.contains(function (item) { return item.ProductCode === row.ProductCode; })) {

                //    //            data.push({ ProductCode: row.ProductCode, ProductName: row.ProductName || 0 });
                //    //        }
                //    //    }
                //    //}).on("deselected.rs.jquery.bootgrid", function (e, deselectedRows) {

                //    //    var row;
                //    //    for (var i = 0; i < deselectedRows.length; i++) {
                //    //        row = deselectedRows[i];
                //    //        for (var j = 0; j < data.length; j++) {

                //    //            if (data[j].ProductCode === row.ProductCode) {

                //    //                data.splice(j, 1);
                //    //                return;
                //    //            }
                //    //        }
                //    //    }
                //    //});
                //}).on("selected.rs.jquery.bootgrid", function (e, selectedRows) {
                //    var row, quantity;
                //    for (var i = 0; i < selectedRows.length; i++) {
                //        row = selectedRows[i];

                //        // Array.contains is an extension of bootgrid
                //        if (!data.contains(function (item) { return item.CategoryID_Lev3 === row.CategoryID_Lev3; })) {

                //            data.push({ CategoryID_Lev3: row.CategoryID_Lev3, CategoryName: row.CategoryName || 0 });
                //        }
                //    }
                //}).on("deselected.rs.jquery.bootgrid", function (e, deselectedRows) {
                //    var row;
                //    for (var i = 0; i < deselectedRows.length; i++) {
                //        row = deselectedRows[i];
                //        for (var j = 0; j < data.length; j++) {

                //            if (data[j].CategoryID_Lev3 === row.CategoryID_Lev3) {

                //                data.splice(j, 1);
                //                return;
                //            }
                //        }
                //    }
                //});
            }).on("selected.rs.jquery.bootgrid", function (e, rows) {
                for (var i = 0; i < rows.length; i++) {
                    productCategorysSearch.push(rows[i].CategoryID_Lev3);
                }
            }).on("deselected.rs.jquery.bootgrid", function (e, rows) {
                for (var i = 0; i < rows.length; i++) {
                    productCategorysSearch.pop(rows[i].CategoryID_Lev3);
                }
            });
        }

        //    init();


        $("#lnkProdSearch").on("click", function () {
            $(".showOnSearch").css("display", "block");
            init();
            //var chkProdChecked = $('input:checkbox.checkProductType:checked').length > 0;
            //if (!chkProdChecked)
            //{
            //    $('#errorRequireProductType').css("display", "block");

            //} else
            //{
            $("#hideColumnBootgrid_CategoryID_Lev3").closest("div .btn-group").css("display", "none");
            $('#errorRequireProductType').css("display", "none");
            $("#grid-data").bootgrid("remove");
            $("#grid-data").bootgrid("reload");
            //}

        });


    });

</script>

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>
    <div class="row m-sec">
        @*<div class="col-sm-3 col-md-3 menuL">
                @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
            </div>*@

        <div class="col-sm-12 col-md-12 r-sec">
            @using (Html.BeginForm("ProductServiceSave", "ProductInformation", FormMethod.Post, new { @id = "mainOrgProductForm" }))
            {
                @Html.HiddenFor(m => m.SupplierID, new { @id = "SupplierID" })
                @Html.Hidden("model.ProductKeyword", Model.ProductKeyword)
                <div class="data_end"></div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.TextBox("focustextCP", null, new { id = "focustextCP", @style = "position: absolute;z-index: -10;" })
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                                <div class="pull-right">
                                    <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" id="btnSaveProduct" />
                                </div>

                            </div>
                        </div>

                        <div class="data_end" style="padding-top:20px;"></div>

                        <div class="row">
                            <div class="col-xs-2 col-md-2">
                                @Html.Label("", T("_ComPro.ProductInfo.LblBusinessType").ToString(), new { @class = "" })@*<span class="red_highlight">*</span>*@

                            </div>
                            <div class="col-xs-10 col-md-10">
                                <div id="checkBoxBusinessType">
                                    @{int i = 1;}
                                    @foreach (var businessList in businessType)
                                    {

                                        string checkedRadio = "";
                                        if (Model.OrgBusinessType.Exists(m => m.BusinessTypeID == businessList.EntityID))
                                        {
                                            checkedRadio = "checked=\"checked\"";
                                        }
                                        else
                                        {
                                            checkedRadio = "";
                                        }


                                        <input type="checkbox" class="checkBusinessType" id="checkBusi_@businessList.EntityID" name="businessType_@businessList.EntityID" value="@businessList.EntityID" @checkedRadio> <label for="checkBusi_@businessList.EntityID">@businessList.EntityValue &nbsp;</label>
                                        i++;
                                    }
                                </div>

                            </div>
                        </div>

                        <div style="display:none;" id="errorRequireBusinessType">
                            <div class="row">
                                <div class="col-xs-2 col-md-2">
                                    &nbsp;
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <span class="text-danger-bold">@T("_ComPro.ValidateMsg.RequireBusinessType")</span>
                                </div>
                            </div>
                        </div>

                        <br />
                        @*<div class="row">
                                <div>
                                    <div class="col-xs-3 col-md-3">
                                        @Html.Label("", T("_ComPro.ProductInfo.LblMainBusiness").ToString(), new { @class = "form_label_bold" })
                                    </div>
                                </div>
                                <div>
                                    <div class="col-xs-9 col-md-9">
                                        <div class="well">
                                            <div class="row">
                                                <span><strong>UNSPSC :</strong>@Model.MainBusinessCode</span>
                                            </div>
                                            <div class="data_end" style="padding-top:7px;"></div>
                                            <div class="row">
                                                <span>@Model.BusinessLongDes</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="row">
                                <div class="col-xs-12 col-md-2">
                                    @Html.Label("", T("_Regis.ProductCategory.LblProductCategory").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                                </div>
                                <div class="col-xs-12 col-md-10">
                                    <div class="form-inline-regis">
                                        <div class="form-inline-element margin-none">
                                            <span class="text-danger-bold" style="display:none;" id="valideCategory">@T("_Regis.ValidateMsg.RequireProductCategory")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="border-Cat">
                                        <table class="table table-hover scroll">
                                            <tbody>
                                                @foreach (var item in dataCategory)
                                                {
                                                    <tr>
                                                        <td class="CategoryLv1" data-catid="@item.CategoryID_Lev1" style='width: 100%;cursor:pointer'>
                                                            @if (languageId == 1)
                                                            {
                                                                @item.CategoryName_Inter
                                                            }
                                                            else if (languageId == 2)
                                                            {
                                                                @item.CategoryName_Local
                                                            }
                                                        </td>
                                                        <td class="CategoryLv1" data-catid="@item.CategoryID_Lev1" style='width: 100%;cursor:pointer'>
                                                            <i class=" fa fa-chevron-right" aria-hidden="true">
                                                            </i>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div id="category2" class="border-Cat">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="category3" class="border-Cat">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="categoryVal" class="table-responsive border1">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>@T("_Regis.Category.LblTblMainCategory")</th>
                                                    <th>
                                                        <table style="width:100%">
                                                            <tbody>
                                                                <tr>
                                                                    <th>
                                                                        @T("_Regis.Category.LblTblProductCategory")
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </th>
                                                </tr>
                                                @foreach (var item in masters)
                                                {
                                                    <tr>
                                                        <td data-catid1="@item.CategoryID_Lev1">
                                                            @item.CategoryName
                                                        </td>
                                                        <td>
                                                            <table style="width:100%">
                                                                <tbody>
                                                                    @foreach (var sub_item in item.CategoryLv3)
                                                                    {
                                                                        <tr>
                                                                            <td data-catid3="@sub_item.CategoryID_Lev3" width="80%">
                                                                                @if (languageId == 1)
                                                                                {
                                                                                    @sub_item.CategoryName_Inter
                                                                                }
                                                                                else if (languageId == 2)
                                                                                {
                                                                                    @sub_item.CategoryName_Local
                                                                                }
                                                                            </td>
                                                                            <td width="20%" align="center">
                                                                                <img src="/Content/images/icon/ico-sp_deluser2.gif" class="removetrorgcat" style="cursor:pointer" data-categoryvalue="@sub_item.CategoryID_Lev3" alt="Submit" data-toggle="tooltip" placement="left" title="Delete" doctype="1">
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br />*@



                        @*<div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <span><strong>@T("_ComPro.ProductInfo.LblProductService")</strong> @T("_ComPro.ProductInfo.LblProductService.Txt")</span>
                                </div>
                            </div>

                            <div class="data_end" style="padding-top:10px;"></div>

                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="form-inline-custom">

                                                        <div class="form-inline-element margin-none">
                                                            <input id="txtProdSearch" type="text" class="form-control" placeholder="@T("_ComPro.ProductInfo.GtxtProductSearch")" style="width: 233px;">
                                                        </div>
                                                        <div class="form-inline-element margin-none">
                                                            <span id="lnkProdSearch" class="glyphicon glyphicon-search" style="font-size:1.2em;cursor:pointer;"> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="display:none;" id="errorRequireProductType">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <span class="text-danger-bold">@T("_ComPro.ValidateMsg.RequireProductType")</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="data_end" style="padding-top:10px;"></div>

                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <table id="grid-data" class="table table-condensed table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th data-column-id="ProductCode" data-identifier="true" data-visible="false">@T("_ComPro.ProductInfo.TblProductSearch.ColCaption.ProductCode")</th>
                                                                <th data-column-id="ProductName">@T("_ComPro.ProductInfo.TblProductSearch.ColCaption.ProductName")</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="data_end" style="padding-top:30px;"></div>

                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="center-myAccount-button">
                                                        <input type="button" id="LnkAddAdvancedProduct" value="@T("_ComPro.ProductInfo.Btn.AddProduct")" class="btn btn-success" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="data_end" style="padding-top:20px;"></div>

                                            <div id="remove_product"></div>
                                            <table id="list-product" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">#</th>
                                                        <th width="45%">@T("_ComPro.ProductInfo.TblProduct.ColCaption.ProductName")</th>
                                                        <th width="40%">@T("_ComPro.ProductInfo.TblProduct.ColCaption.ProductType")</th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="list-item-product">
                                                    @Html.Action("ProductListPartial", new { supplierID = Model.SupplierID })
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <span><strong>@T("_Regis.ProductCategory.LblProductCategory")</strong> @T("_Compro.ProductCategory.LblProductCategory.Txt") <span class="red_highlight">*</span></span>
                            </div>

                            <div class="col-xs-12 col-md-12">
                                <div class="form-inline-regis">
                                    <div class="form-inline-element margin-none">
                                        <span class="text-danger-bold" style="display:none;" id="valideCategory">@T("_Regis.ValidateMsg.RequireProductCategory")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_end" style="padding-top:20px;"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs-custom" role="tablist" id="myTab">
                                    <li class="active"><a href="#ProductCategory" role="tab" data-toggle="tab"><span class="profile_label">@T("_Compro.ProductCategory.LblProductCategory")</span></a></li>
                                    @*@Html.Hidden("ProductCategory", @T("_Regis.ProductCategory.LblProductCategory"), new { id = "tab_productCategory" })
                                        @Html.Hidden("ProductCategoryDetail", @T("_ComPro.ProductInfo.LblProductService.Txt"), new { id = "tab_productCategoryDetail" })*@

                                    <li><a href="#ProductList" role="tab" data-toggle="tab"><span class="profile_label">@T("_ComPro.ProductInfo.LblProductService")</span></a></li>
                                    @*@Html.Hidden("ProductList", @T("_ComPro.ProductInfo.LblProductService"), new { id = "tab_productList" })
                                        @Html.Hidden("ProductListDetail", @T("_ComPro.ProductInfo.LblProductService.Txt"), new { id = "tab_productListDetail" })*@

                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="ProductCategory">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                @*@Html.Label("", T("_Regis.ProductCategory.LblProductCategory").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>*@

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span><strong>@T("_Regis.ProductCategory.LblProductCategory_Lv1")</strong></span>
                                                <div class="border-Cat pre">
                                                    <table class="table table-hover ">
                                                        <tbody>
                                                            @foreach (var item in dataCategory)
                                                            {
                                                                <tr>
                                                                    <td class="CategoryLv1" data-catid="@item.CategoryID_Lev1" style='width: 100%;cursor:pointer'>
                                                                        @if (languageId == 1)
                                                                        {
                                                                            @item.CategoryName_Inter
                                                                        }
                                                                        else if (languageId == 2)
                                                                        {
                                                                            @item.CategoryName_Local
                                                                        }
                                                                    </td>
                                                                    <td class="CategoryLv1" data-catid="@item.CategoryID_Lev1" style='width: 100%;cursor:pointer'>
                                                                        <i class=" fa fa-chevron-right" aria-hidden="true">
                                                                        </i>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <span><strong>@T("_Regis.ProductCategory.LblProductCategory_Lv2")</strong></span>
                                                <div id="category2" class="border-Cat">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <span><strong>@T("_Regis.ProductCategory.LblProductCategory_Lv3")</strong></span>
                                                <div id="category3" class="border-Cat">
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        @*<div class="row">
                                                <div class="col-md-12">
                                                    <div id="categoryVal" class="table-responsive border1">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <th>@T("_Regis.Category.LblTblMainCategory")</th>
                                                                    <th>
                                                                        <table style="width:100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th>
                                                                                        @T("_Regis.Category.LblTblProductCategory")
                                                                                    </th>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </th>
                                                                </tr>
                                                                @foreach (var item in masters)
                                                                {
                                                                    <tr>
                                                                        <td data-catid1="@item.CategoryID_Lev1">
                                                                            @item.CategoryName
                                                                        </td>
                                                                        <td>
                                                                            <table style="width:100%">
                                                                                <tbody>
                                                                                    @foreach (var sub_item in item.CategoryLv3)
                                                                                    {
                                                                                        <tr>
                                                                                            <td data-catid3="@sub_item.CategoryID_Lev3" width="80%">
                                                                                                @if (languageId == 1)
                                                                                                {
                                                                                                    @sub_item.CategoryName_Inter
                                                                                                }
                                                                                                else if (languageId == 2)
                                                                                                {
                                                                                                    @sub_item.CategoryName_Local
                                                                                                }
                                                                                            </td>
                                                                                            <td width="20%" align="center">
                                                                                                <img src="/Content/images/icon/ico-sp_deluser2.gif" class="removetrorgcat" style="cursor:pointer" data-categoryvalue="@sub_item.CategoryID_Lev3" alt="Submit" data-toggle="tooltip" placement="left" title="Delete" doctype="1">
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />*@

                                        @*@Html.Partial("_PartialGeneral", Model.GeneralData)*@
                                    </div>

                                    <div class="tab-pane" id="ProductList">

                                        <div class="row">
                                            @*<div class="col-xs-3 col-md-3">
                                                    @Html.Label("", T("_ComPro.ProductInfo.LblProdServKeyword").ToString(), new { @class = "form_label_bold" })
                                                </div>*@
                                            <div class="col-xs-12 col-md-12">
                                                <div class="form-inline-custom">
                                                    @*<div class="form-inline-element margin-none">
                                                            <div id="checkboxAdvancedProdServType">
                                                                @{int k = 1;}
                                                                @foreach (var productList in productType)
                                                                {

                                                                    string checkedRadio = "";
                                                                    if (k == 1)
                                                                    {
                                                                        checkedRadio = "checked=\"checked\"";
                                                                    }
                                                                    else
                                                                    {

                                                                        checkedRadio = "";
                                                                    }
                                                                    <input type="checkbox" class="checkProductType" id="radioAdvancedProdServ_@productList.EntityID" name="radioAdvancedProdServ" value="@productList.EntityID" @checkedRadio><label for="radioAdvancedProdServ_@productList.EntityID">@productList.EntityValue</label>
                                                                    k++;
                                                                }
                                                            </div>
                                                        </div>*@
                                                    <div class="form-inline-element margin-none">
                                                        <input id="txtProdSearch" type="text" class="form-control" placeholder="@T("_ComPro.ProductInfo.GtxtProductSearch")" style="width: 233px;">
                                                    </div>
                                                    <div class="form-inline-element margin-none">
                                                        <span id="lnkProdSearch" class="glyphicon glyphicon-search" style="font-size:1.2em;cursor:pointer;"> </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div style="display:none;" id="errorRequireProductType">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <span class="text-danger-bold">@T("_ComPro.ValidateMsg.RequireProductType")</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="data_end" style="padding-top:10px;"></div>

                                        <div class="row showOnSearch" style="display:none">
                                            <div class="col-xs-12 col-md-12">

                                                <table id="grid-data" class="table table-condensed table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            @*<th data-column-id="ProductCode" data-identifier="true" data-visible="false">@T("_ComPro.ProductInfo.TblProductSearch.ColCaption.ProductCode")</th>
                                                                <th data-column-id="ProductName">@T("_ComPro.ProductInfo.TblProductSearch.ColCaption.ProductName")</th>*@

                                                            <th data-column-id="CategoryID_Lev3" data-type="numeric" data-identifier="true" data-visible="false">@T("_ComPro.ProductInfo.TblProductSearch.ColCaption.ProductCode")</th>
                                                            <th data-column-id="CategoryName">@T("_ComPro.ProductInfo.txtProductServiceCategory")</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="data_end" style="padding-top:30px;"></div>

                                        <div class="row showOnSearch" style="display:none">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="center-myAccount-button">
                                                    @*<input type="button" id="LnkAddAdvancedProduct" value="@T("_ComPro.ProductInfo.Btn.AddProduct")" class="btn btn-success" />*@
                                                    <input type="button" id="LnkAddProductCategory" value="@T("_ComPro.ProductInfo.Btn.AddProduct")" class="btn btn-success" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="data_end" style="padding-top:30px;"></div>
                                        @*<div id="remove_product"></div>
                                            <table id="list-product" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">#</th>
                                                        <th width="45%">@T("_ComPro.ProductInfo.TblProduct.ColCaption.ProductName")</th>
                                                        <th width="40%">@T("_ComPro.ProductInfo.TblProduct.ColCaption.ProductType")</th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="list-item-product">
                                                    @Html.Action("ProductListPartial", new { supplierID = Model.SupplierID })
                                                </tbody>
                                            </table>*@
                                        @*@Html.Action("MergUserAccountPartial")*@
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="data_end" style="padding-top:20px;"></div>
                        <span><strong>@T("_Regis.ProductCategory.LblProductCategory_MyCategory")</strong></span>
                        <div class="row" style="margin:0px">
                            <div id="categoryVal" class="table-responsive border1">
                                <table id="ProductTypeList" class="table">
                                    <tbody>
                                        <tr class="bgHTable">
                                            <th width="5%">#</th>
                                            <th width="25%">@T("_Regis.Category.LblTblMainCategory")</th>
                                            <th width="70%">
                                                <table style="width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <th width="10%"></th>
                                                            <th width="25%">
                                                                @T("_Comprofile.Category.LblTblProductCategory")
                                                            </th>
                                                            <th width="55%">
                                                                @T("_ComPro.ProductInfo.TblProduct.ColCaption.ProductType")
                                                            </th>
                                                            <th width="10%" style="text-align:center">@T("_Regis.ProductCategory.LblProductCategory_Action")</th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                        @{var subItemIndex = 0;}
                                        @foreach (var item in masters)
                                        {
                                            <tr>
                                                <td>@n</td>
                                                <td data-catid1="@item.CategoryID_Lev1">
                                                    @item.CategoryName
                                                </td>
                                                <td>
                                                    <table style="width:100%">
                                                        <tbody>
                                                            @foreach (var sub_item in item.CategoryLv3)
                                                            {
                                                                <tr>
                                                                    <td width="10%">
                                                                        >>
                                                                    </td>
                                                                    <td data-catid3="@sub_item.CategoryID_Lev3" width="25%">
                                                                        @Html.Hidden(string.Format("model.ProductCategory[{0}].CategoryID_Lev_3", subItemIndex), sub_item.CategoryID_Lev3)
                                                                        @if (languageId == 1)
                                                                        {
                                                                            @sub_item.CategoryName_Inter
                                                                        }
                                                                        else if (languageId == 2)
                                                                        {
                                                                            @sub_item.CategoryName_Local
                                                                        }
                                                                    </td>
                                                                    <td width="55%">

                                                                        @{
                                                                        string textProductType = "";
                                                                        textProductType += "<div data-producttype >";

                                                                        foreach (var itemList in productTypeList)
                                                                        {
                                                                            string checkedRadio = "";

                                                                            if (dataProductType.Exists(x => x.ProductTypeID == itemList.EntityID && x.CategoryID_Lev3 == sub_item.CategoryID_Lev3))
                                                                            {
                                                                                checkedRadio = "checked=\"checked\"";
                                                                            }
                                                                            else
                                                                            {

                                                                                checkedRadio = "";
                                                                            }

                                                                            textProductType += " <input type=\"checkbox\" id=\"radio" + sub_item.CategoryID_Lev3 + "_" + itemList.EntityID + "\" name=\"model.ProductCategory[" + subItemIndex + "].ProductsTypeID\" value=\"" + itemList.EntityID + "\" " + checkedRadio + "> ";
                                                                            textProductType += " <label for=\"radio" + sub_item.CategoryID_Lev3 + "_" + itemList.EntityID + "\">" + itemList.EntityValue + "</label> ";
                                                                        }

                                                                        textProductType += "</div>";
                                                                        @Html.Raw(textProductType)
                                                                        }

                                                                    </td>
                                                                    <td width="10%" align="center">
                                                                        <img src="/Content/images/icon/ico-sp_deluser2.gif" class="removetrcat" style="cursor:pointer" data-categoryvalue="@sub_item.CategoryID_Lev3" alt="Submit" data-toggle="tooltip" placement="left" title="@T("_ComPro.ValidateMsg.RequireBusinessType")" doctype="1">
                                                                    </td>
                                                                </tr>
                                                                        subItemIndex++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                                            n++;
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                        <div class="data_end" style="padding-top:20px;"></div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <span><strong>@T("_ComPro.ProductInfo.LblKeyword")</strong> @T("_ComPro.ProductInfo.LblKeyword.Txt") <span class="red_highlight">*</span></span>
                                @*@Html.Label("", T("_ComPro.ProductInfo.LblKeyword").ToString(), new { @class = "form_label_bold" })*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="form-inline">
                                    <div class="margin-none">
                                        @Html.Action("Product_Keyword", new { model = Model })
                                        @*<span class="help-block">@T("_Regis.ProductInfo.LblKeyword.Txt")</span>*@

                                        @*<input class="form-control input-sm" id="1234testtest" type="text">*@


                                    </div>
                                    <div class="margin-none">
                                        <span class="text-danger-bold" style="display:none;" id="valideProductKeyword">@T("_Regis.ValidateMsg.RequireProductKeyword")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_end" style="padding-top:20px;"></div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                                <div class="pull-right">
                                    <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" id="btnSaveProduct1" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>

</div>




<div id="myModal-DeleteProduct" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <img src="~/Content/images/icon/ico-sp_alert.png" style="padding-right:10px;" />
                @T("_ComPro.ConfirmMsg.DeleteProduct.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                @T("_ComPro.ConfirmMsg.DeleteProduct.Txt")
                @Html.Hidden("hidproductCodeDelete", null, new { @id = "hidproductCodeDelete" })
            </div>
            <!-- dialog buttons default primary -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="deleteProduct">@T("_Global.BtnOk")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@T("_Global.BtnCancel")</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function CheckExistsProduct(productCode) {

        var chk = true;

        var trRows = $("#list-product>tbody").find('tr');

        $.each(trRows, function () {

            var idTr = $(this).closest('tr').attr('id');
            //console.log(idTr);
            if (idTr == productCode) {
                //console.log(productCode + "Is Exists");
                chk = false;
                return false;
            }


        });

        return chk;
    }

    function deleteDataProduct(productCode) {

        //alert(productCode);

        $('#hidproductCodeDelete').val(productCode);
        //$('#myModal-DeleteProduct').modal({ backdrop: 'static', keyboard: false })

        var productCode = $("#hidproductCodeDelete").val();
        $("#" + productCode).closest('tr').remove();
        var htmlText = "";
        htmlText += "<input type=\"hidden\" name=\"hidRemoveProduct[]\" value=\"" + productCode + "\" />";
        $(htmlText).appendTo("#remove_product");
        ReloadRowsNumber();
        //$("#myModal-DeleteProduct").modal('hide');

        var rowCount = $("#list-product >tbody >tr").length;
        if (rowCount == 0) {
            var scntDiv = $("#list-item-product");
            var htmlText = "<tr class=\"numbered_row\" id=\"lastData\"><td align=\"center\" colspan=\"4\"> NoData </td></tr>";
            scntDiv.append(htmlText);
        }

        event.preventDefault();
        return false;
    }

    function ReloadButtonSet() {
        var trList = $("#list-product>tbody").find('tr');
        $.each(trList, function () {
            var td2 = $(this).find('td').eq(2);

            if (td2.find('#radio') != undefined) {
                td2.find('#radio').buttonset();
                //console.log($(this).find('td').eq(2).find('#radio').html());
            }
        });
    }

    function ReloadRowsNumber() {
        $('table tr.numbered_row').each(function (i) {
            $(this).children('.row_number').text(i + 1);
        });
    }

    function keypressHandler(e) {
        if (e.which == 13) {
            e.preventDefault(); //stops default action: submitting form
            $(this).blur();
            $('#lnkProdSearch').focus().click();//give your submit an ID
        }
    }

    function ReloadButtonSetProductType() {
        // var trList = $(".ProductTypeList>tbody>tr>td>table>tbody").find('tr');
        // $.each(trList, function () {
        // var td2 = $(this).find('td').eq(2);

        // if (td2.find('#radio') != undefined) {
        // td2.find('#radio').buttonset();
        //console.log($(this).find('td').eq(2).find('#radio').html());
        // }
        // });
        $("#ProductTypeList").find("[data-producttype]").each(function (index, item) {

            $self = $(this);
            $self.buttonset();
            //console.log($self.find('#radio'));
            //if ($self.find('#radio') != undefined) {
            //    $self.find('#radio').buttonset();
            //}
        });
    }

    $(document).ready(function () {

        ReloadButtonSet();

        ReloadButtonSetProductType();

        ReloadRowsNumber();

        $('#mainOrgProductForm').keypress(keypressHandler);

        //$("#deleteProduct").on("click", function (event) {

        //    var productCode = $("#hidproductCodeDelete").val();
        //    $("#" + productCode).closest('tr').remove();
        //    var htmlText = "";
        //    htmlText += "<input type=\"hidden\" name=\"hidRemoveProduct[]\" value=\"" + productCode + "\" />";
        //    $(htmlText).appendTo("#remove_product");
        //    ReloadRowsNumber();
        //    $("#myModal-DeleteProduct").modal('hide');

        //    var rowCount = $("#list-product >tbody >tr").length;
        //    if (rowCount == 0) {
        //        var scntDiv = $("#list-item-product");
        //        var htmlText = "<tr class=\"numbered_row\" id=\"lastData\"><td align=\"center\" colspan=\"4\"> NoData </td></tr>";
        //        scntDiv.append(htmlText);
        //    }

        //    event.preventDefault();
        //    return false;

        //});


        $(document).ready(function () {
            $("#LnkAddProductCategory").on("click", function () {
                //$('#grid-data').find('input[type=checkbox]:checked').each(function () {
                //    var id = $(this).closest('tr').attr('data-row-id');
                //    if (productCategorys.indexOf(id) == -1) {
                //        productCategorys.push(id);
                //    }
                //});

                $.each(productCategorysSearch, function (index, value) {
                    if (productCategorys.indexOf(value) === -1) {
                        productCategorys.push(value);
                    }
                });

                var datacate = [];
                var value_Lv3 = new Array();
                var data = $("#ProductTypeList div[data-producttype]");
                data.each(function (index) {

                    //get idProductCategory Lv3
                    var name_Lv3 = "model.ProductCategory[" + index + "].CategoryID_Lev_3"
                    $.each($("input[name='" + name_Lv3 + "']"), function () {
                        //value_Lv3.push($(this).val());
                        var vallv3 = $(this).val();

                        //get ProductsTypeID
                        var values = new Array();
                        var name = "model.ProductCategory[" + index + "].ProductsTypeID"
                        $.each($("input[name='" + name + "']:checked"), function () {
                            values.push($(this).val());
                        });
                        datacate.push({ CategoryID_Lev_3: vallv3, ProductsTypeID: values });
                    });
                });

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetProductCategory", "ProductInformation")',
                    data: JSON.stringify({ ProductCategory: datacate, productCategorys: productCategorys }),
                    contentType: 'application/json',
                    dataType: 'html',
                    success: function (data) {
                        $("#valideCategory").css("display", "none");
                        $('#categoryVal').html(data);
                        ReloadButtonSetProductType();

                        $.each(productCategorysSearch, function (index, value) {
                            productCategorysSearch.pop(value);
                        });
                        $("#grid-data").bootgrid("destroy");
                        $("#lnkProdSearch").click();
                        //$("#grid-data").bootgrid("deselect");
                    }
                });
            });
        });

        $("#LnkAddAdvancedProduct").click(function () {

            //var chkProdChecked = $('input:checkbox.checkProductType:checked').length > 0;

            //if (!chkProdChecked)
            //{
            //    $('#errorRequireProductType').css("display", "block");

            //} else
            //{
            //    $('#errorRequireProductType').css("display", "none");

            disablePage();

            dataAdd = [];

            dataProTypeAdd = [];

            var trAdd = $("#list-product>tbody").find('tr');

            $.each(trAdd, function () {
                var idTr = $(this).closest('tr').attr('id');
                dataAdd.push({ ProductCode: idTr || 0 });
            });

            //var chkType = $("#checkboxAdvancedProdServType>input:checked");

            //$.each(chkType, function () {
            //    dataProTypeAdd.push({ ProductTypeID: $(this).val() || 0 });
            //});


            //***Default ProductTypeID = 3 (จำหน่าย)
            dataProTypeAdd.push({ ProductTypeID: 3 });

            $.ajax({
                url: '@Url.Action("AddProductMulti", "ProductInformation")',
                type: 'POST',
                //data: { productArray:JSON.stringify(data), productType: productType },
                data: JSON.stringify({
                    productArray: JSON.stringify(data),
                    productType: JSON.stringify(dataProTypeAdd),
                    dataAdd: JSON.stringify(dataAdd)
                }),
                //dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    //console.log(data);
                    //alert("success");
                    if (data.isSuccess) {

                        $('#lastData').remove();
                        $('#list-product tbody').append(data.htmlText);

                        ReloadButtonSet();

                        ReloadRowsNumber();

                        $("#txtProdSearch").val("");
                        $("#grid-data").bootgrid("remove");
                        $("#grid-data").bootgrid("reload");
                    }


                    $.unblockUI();
                },
                error: function (data) {
                    alert("error");
                    //console.log(data);
                    $.unblockUI();
                }
            });
            //}


        });


        $("#btnSaveProduct").click(function (evt) {
            var chk = true;
            var chks = true;

            var dataCatagory = [];
            $.each(productCategorys, function (i, el) {
                if ($.inArray(el, dataCatagory) === -1) dataCatagory.push(el);
            });
            var categoryID_Lev3 = JSON.stringify(dataCatagory);
            //var chkChecked = $('input:checkbox.checkBusinessType:checked').length > 0;

            if (categoryID_Lev3 == "[]") {
                $("#valideCategory").css("display", "block");
                setTimeout(function () {
                    $("#focustextCP").focus();
                }, 1);
                chk = false;
                //return false;
            }
            else {
                $("input[name='model.CategoryID_Lev_3']").val(categoryID_Lev3);
                $("#valideCategory").css("display", "none");
                chk = true;
            }

            //if (!chkChecked) {
            //    $('#errorRequireBusinessType').css("display", "block");
            //    setTimeout(function () {
            //        $("#focustextCP").focus();
            //    }, 1);
            //} else {
            //    $('#errorRequireBusinessType').css("display", "none");
            //}

            //var productKeywordx = myTokenProductKeyword.GetValue();

            var productKeywordx = $("#tokenboxSelect2").val();

            if (productKeywordx == "") {
                $("#valideProductKeyword").css("display", "block");
                if (chk) {
                    setTimeout(function () {
                        $("#ProductKeyword_I").focus();
                    }, 1);
                }
                chks = false;
                return false;
            }
            else {
                $("#valideProductKeyword").css("display", "none");
                $("input[name='model.ProductKeyword']").val(productKeywordx);
                chks = true;
            }

            var $formProduct = $('#mainOrgProductForm');
            if ($formProduct.valid() && chk && chks) {
                disablePage();
                $formProduct.submit();
            }

        });

        $("#btnSaveProduct1").click(function (evt) {
            var chk = true;
            var chks = true;

            var dataCatagory = [];
            $.each(productCategorys, function (i, el) {
                if ($.inArray(el, dataCatagory) === -1) dataCatagory.push(el);
            });
            var categoryID_Lev3 = JSON.stringify(dataCatagory);
            //var chkChecked = $('input:checkbox.checkBusinessType:checked').length > 0;


            if (categoryID_Lev3 == "[]") {
                $("#valideCategory").css("display", "block");
                setTimeout(function () {
                    $("#focustextCP").focus();
                }, 1);
                chk = false;
                //return false;
            }
            else {
                $("input[name='model.CategoryID_Lev_3']").val(categoryID_Lev3);
                $("#valideCategory").css("display", "none");
                chk = true;
            }


            //if (!chkChecked) {
            //    $('#errorRequireBusinessType').css("display", "block");
            //    setTimeout(function () {
            //        $("#focustextCP").focus();
            //    }, 1);
            //} else {
            //    $('#errorRequireBusinessType').css("display", "none");
            //}

            //var productKeywordx = myTokenProductKeyword.GetValue();

            var productKeywordx = $("#tokenboxSelect2").val();

            if (productKeywordx == "") {
                $("#valideProductKeyword").css("display", "block");
                if (chk) {
                    setTimeout(function () {
                        $("#ProductKeyword_I").focus();
                    }, 1);
                }
                chks = false;
                return false;
            }
            else {
                $("#valideProductKeyword").css("display", "none");
                $("input[name='model.ProductKeyword']").val(productKeywordx);
                chks = true;
            }

            var $formProduct = $('#mainOrgProductForm');
            if ($formProduct.valid() && chk && chks) {
                disablePage();
                $formProduct.submit();
            }

        });

    });

</script>


<script type="text/javascript">
    $(document).ready(function () {
        $(".CategoryLv1").on("click", function () {
            $self = $(this);
            var id = $self.data('catid');
            $self.closest('table').find('.active-cat').removeClass('active-cat');
            $self.closest('tr').addClass('active-cat');
            //$(this).parent().css("background-color", "yellow");
            $.ajax({
                type: "GET",
                url: "/ProductInformation/GetProductCategory2?id=" + id,
                data: id,
                datatype: "html",
                success: function (data) {
                    $('#category2').html(data);
                    $.ajax({
                        type: "GET",
                        url: "/ProductInformation/GetProductCategory3?id=" + 0,
                        data: id,
                        datatype: "html",
                        success: function (data) {
                            $('#category3').html(data);
                        }
                    });
                }
            });

        });

        $(".removetrorgcat").on("click", function () {
            var id = $(this).data('categoryvalue');
            //productCategorys.pop(id);
            productCategorys = jQuery.grep(productCategorys, function (val) {
                return val != id;
            });
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetProductCategory", "ProductInformation")',
                data: JSON.stringify({ productCategorys: productCategorys }),
                contentType: 'application/json',
                dataType: 'html',
                success: function (data) {

                    $('#categoryVal').html(data);
                    ReloadButtonSetProductType();
                }
            });
        });

        $("#tokenboxSelect2").select2({
            tags: true,
            minimumInputLength: 2,
            tokenSeparators: [','],
            createTag: function (params) {
                var term = $.trim(params.term);
                if (term === "") { return null; }

                var optionsMatch = false;

                this.$element.find("option").each(function () {
                    if (this.value.toLowerCase().indexOf(term.toLowerCase()) > -1) {
                        optionsMatch = true;
                    }
                });

                if (optionsMatch) {
                    return null;
                }
                return { id: term, text: term };
            }
        });

    });

</script>
<script type="text/javascript">

    $("body").on("click", ".removetrcat", function () {

        var datacate = [];
        var value_Lv3 = new Array();
        var data = $("#ProductTypeList div[data-producttype]");
        data.each(function (index) {

            //get idProductCategory Lv3
            var name_Lv3 = "model.ProductCategory[" + index + "].CategoryID_Lev_3"
            $.each($("input[name='" + name_Lv3 + "']"), function () {
                //value_Lv3.push($(this).val());
                var vallv3 = $(this).val();

                //get ProductsTypeID
                var values = new Array();
                var name = "model.ProductCategory[" + index + "].ProductsTypeID"
                $.each($("input[name='" + name + "']:checked"), function () {
                    values.push($(this).val());
                });
                datacate.push({ CategoryID_Lev_3: vallv3, ProductsTypeID: values });
            });
        });

        var id = $(this).data('categoryvalue');
        //productCategorys.pop(id);
        productCategorys = jQuery.grep(productCategorys, function (val) {
            return val != id;
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetProductCategory", "ProductInformation")',
            data: JSON.stringify({ ProductCategory: datacate, productCategorys: productCategorys }),
            contentType: 'application/json',
            dataType: 'html',
            success: function (data) {

                $('#categoryVal').html(data);
                ReloadButtonSetProductType();
            }
        });
    });

</script>