﻿@model SupplierPortal.Data.Models.SupportModel.Manual.ViewDataDocumentManual
@{
    ViewBag.Title = "Manual & FAQ";
    //Layout = "~/Views/Shared/_LayoutPortalMain.cshtml";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";

    // Source Video
    string srcVideoWebWork = "", srcVideoLogin = "", srcVideoAccept = "", srcVideoSearch = "", srcVideoReport = "", srcVideoMyProfile = "", srcVideoCompanyProfile = "", srcVideoUserInformation = "", srcVideoOnlinePurchasingVN = "", srcVideoeRFXVN = "", srcVideoInformationManagementVN = "", srcVideoInvoiceManagement = "";
    srcVideoWebWork = Url.Content("~/Content/VDOTraining/Supplier_Webwork.mp4");
    srcVideoLogin = Url.Content("~/Content/VDOTraining/SupplierWebwork_Login.mp4");
    srcVideoAccept = Url.Content("~/Content/VDOTraining/SupplierWebwork_Accept.mp4");
    srcVideoSearch = Url.Content("~/Content/VDOTraining/SupplierWebwork_Search.mp4");
    srcVideoReport = Url.Content("~/Content/VDOTraining/SupplierWebwork_Report.mp4");
    srcVideoMyProfile = Url.Content("~/Content/VDOTraining/SupplierWebwork_MyProfile.mp4");
    srcVideoCompanyProfile = Url.Content("~/Content/VDOTraining/SupplierWebwork_CompanyProfile.mp4");
    srcVideoUserInformation = Url.Content("~/Content/VDOTraining/SupplierWebwork_UserInformation.mp4");
    srcVideoInvoiceManagement = Url.Content("~/Content/VDOTraining/Invoice_Management.mp4");

    srcVideoOnlinePurchasingVN = Url.Content("~/Content/VDOTraining/Online Purchasing VN_Sub_Only.mp4");
    srcVideoeRFXVN = Url.Content("~/Content/VDOTraining/eRFX_Only_VN_Sub.mp4");
    srcVideoInformationManagementVN = Url.Content("~/Content/VDOTraining/Information management_Only_VN_sub.mp4");

    //string baseURLWebConfig = System.Configuration.ConfigurationManager.AppSettings["baseURLWeb"];
    //if (!string.IsNullOrEmpty(baseURLWebConfig))
    //{
    //    if (baseURLWebConfig.EndsWith("@/"))
    //    {
    //        baseURLWebConfig = baseURLWebConfig.TrimEnd('/');
    //    }

    //    srcVideoWebWork = baseURLWebConfig + "/SWWDocuments_tst/VDOTraining/Supplier_Webwork.mp4";
    //    srcVideoLogin = baseURLWebConfig + "/SWWDocuments_tst/VDOTraining/SupplierWebwork_Login.mp4";
    //    srcVideoAccept = baseURLWebConfig + "/SWWDocuments_tst/VDOTraining/SupplierWebwork_Accept.mp4";
    //    srcVideoSearch = baseURLWebConfig + "/SWWDocuments_tst/VDOTraining/SupplierWebwork_Search.mp4";
    //    srcVideoReport = baseURLWebConfig + "/SWWDocuments_tst/VDOTraining/SupplierWebwork_Report.mp4";
    //}

    // JSON Treeview
    var json_tree_data = "";

    json_tree_data += "[";

    foreach (var documentGroups in Model.allDocumentGroups)
    {
        var childNodes = Model.allDocuments.Where(m => m.DocGrpID == documentGroups.DocGrpID).ToList();
        if (childNodes.Count > 0)
        {
            json_tree_data += "{";

            //var node = settings.Nodes.Add(documentGroups.DocumentGrp);
            json_tree_data += "text: '" + documentGroups.DocumentGrp + "',";
            json_tree_data += "nodes: [";

            foreach (var documentList in childNodes)
            {
                var text_link = "";
                text_link = Html.ActionLink(documentList.DocumentName, "Download").ToHtmlString();
                text_link = Url.Action("Download", "Manual", new { filePath = @documentList.DocumentPath });

                json_tree_data += "{";

                //json_tree_data += "text: \"<div class='link-black-color'>" + documentList.DocumentName + "</div>\",";
                json_tree_data += "text: \"<a class='link-black-color' href='" + text_link + "'>" + documentList.DocumentName + "</a>\",";
                json_tree_data += "href: '" + text_link + "',";
                json_tree_data += "icon: 'glyphicon glyphicon-plus glyphicon-sm',";

                json_tree_data += "}";


                if (!(documentList == childNodes.LastOrDefault()))
                {
                    json_tree_data += ",";
                }
            }

            json_tree_data += "]";
            json_tree_data += "}";

            if (!(documentGroups == Model.allDocumentGroups.LastOrDefault()))
            {
                json_tree_data += ",";
            }
        }
    }

    json_tree_data += "]";

    var x = "";
}
<style>
    div.vertical-line {
        width: 1px;
        background-color: silver;
        height: 100%;
        float: left;
        border: 2px ridge silver;
        border-radius: 2px;
    }

    .line-gray {
        border-left: 1px solid #EEEEEE;
    }

    .div-bestsupply {
        min-height: 100px;
        border-right: 3px solid #EEEEEE;
    }

    .modal-video {
        width: 800px;
        height: 400px;
    }

    .video-tutorial {
        width: 150px;
        height: 100px;
    }

    .video-font {
        font-size: 12px;
        font-weight: bold;
        min-height: 100px;
    }

    .video-player {
        width: 640px;
        height: 360px;
    }

    .vertical-align-center {
        display: flex;
        align-items: center;
    }

    .row-margin {
        margin-bottom: 30px;
    }

    .fa-sm {
        font-size: 7px;
    }

    .glyphicon-sm {
        font-size: 9px;
    }

    .glyphicon-bullet:before {
        /*content: '\e080';
        font-family: 'Glyphicons Halflings';*/
        content: '\f192';
        font-family: 'FontAwesome';
    }

    @@media (max-width: 768px) {
        .modal-video {
            width: 100%;
            height: 100%;
        }

        .video-player {
            width: 100%;
            height: 100%;
        }

        .vertical-align-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
</style>
@*<div class="row">
        @Html.DevExpress().Splitter(
        settings =>
        {
            settings.Name = "splResizing";
            settings.Height = 245;
            settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
            settings.Styles.Pane.BackColor = System.Drawing.Color.Transparent;
            settings.Styles.Pane.Paddings.Padding = 0;
            settings.ShowCollapseBackwardButton = true;
            settings.ShowCollapseForwardButton = true;

            settings.Panes.Add(MenuPane =>
            {
                MenuPane.Name = "MenuPane";
                MenuPane.Size = System.Web.UI.WebControls.Unit.Percentage(100);
                MenuPane.ShowCollapseBackwardButton = DefaultBoolean.True;
                MenuPane.SetContent(() =>
                {
                    @Html.RenderAction("SubMenuPortal", "MenuPortal");
                });
            });
            settings.Panes.Add(ContentPane =>
            {
                ContentPane.Name = "MenuPane2";
                ContentPane.Size = System.Web.UI.WebControls.Unit.Percentage(1);
                ContentPane.ShowCollapseBackwardButton = DefaultBoolean.True;
                ContentPane.SetContent(() =>
                {
                    //@Html.RenderAction("Index", "Home");
                });
            });
        }).GetHtml()
    </div>*@


<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<div class="row">
    <div class="col-md-5" style="padding-left: 0px;">
        <div class="container">
            <div class="row">
                <div class="data_end"></div>
                <div class="ep_badge_green_edge"></div>
                <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_Menu.Manual")</div>
                <div class="data_end" style="padding-top: 40px;"></div>
            </div>
            <div class="row">
                <div class="data_end" style="padding-top: 25px;"></div>
            </div>

            <div class="row" style="min-height: 250px">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="treeview" class=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="data_end"></div>
                    <div class="ep_badge_green_edge"></div>
                    <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_Manual.MobileApp.Header")</div>
                    <div class="data_end" style="padding-top: 40px;"></div>
                </div>
                <div class="row line-gray">
                    <div class="data_end" style="padding-top: 25px;"></div>
                </div>

                <div class="row line-gray">

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body" style="max-height: 300px; overflow-y: auto;">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-2 text-center">
                                        <img src="~/Content/VDOTraining/OPicon.png" style="width:100px;" />
                                    </div>
                                    <div class="col-md-3 div-bestsupply vertical-align-center">
                                        @T("_Manual.MobileApp.OPBestSupply")
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="~/Content/VDOTraining/QRcode.png" style="width:100px;" />
                                        <img src="~/Content/VDOTraining/AppStore.png" style="width:100px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row line-gray">
            <div class="container">
                <div class="row">
                    <div class="data_end"></div>
                    <div class="ep_badge_green_edge"></div>
                    <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_Manual.VDOTutorial.Header")</div>
                    <div class="data_end" style="padding-top: 40px;"></div>
                </div>
                <div class="row">
                    <div class="data_end" style="padding-top: 25px;"></div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="row row-margin">
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoWebWork', '@T("_Manual.VDOTutorial.ModalHeader.OnlinePurchasing")');"><img class="video-tutorial" src="~/Content/VDOTraining/Supplier Webwork.png" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.OnlinePurchasing")
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoLogin', '@T("_Manual.VDOTutorial.ModalHeader.Login")');"><img class="video-tutorial" src="~/Content/VDOTraining/SupplierWebwork_Login.png" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.Login")
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoAccept', '@T("_Manual.VDOTutorial.ModalHeader.AcceptRejectPO")');"><img class="video-tutorial" src="~/Content/VDOTraining/SupplierWebwork_Accept.png" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.AcceptRejectPO")
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoSearch', '@T("_Manual.VDOTutorial.ModalHeader.SearchPO")');"><img class="video-tutorial" src="~/Content/VDOTraining/SupplierWebwork_Search.png" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.SearchPO")
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoReport', '@T("_Manual.VDOTutorial.ModalHeader.Report")');"><img class="video-tutorial" src="~/Content/VDOTraining/SupplierWebwork_Report1.png" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.Report")
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoMyProfile', '@T("_Manual.VDOTutorial.ModalHeader.MyProfile")');"><img class="video-tutorial" src="~/Content/VDOTraining/SupplierWebwork_MyProfile.png" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.MyProfile")
                                    </div>
                                </div>
                                <div class="row row-margin">
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoCompanyProfile', '@T("_Manual.VDOTutorial.ModalHeader.CompanyProfile")');"><img class="video-tutorial" src="~/Content/VDOTraining/SupplierWebwork_CompanyProfile.png" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.CompanyProfile")
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoUserInformation', '@T("_Manual.VDOTutorial.ModalHeader.UserInformation")');"><img class="video-tutorial" src="~/Content/VDOTraining/SupplierWebwork_UserInformation.png" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.UserInformation")
                                    </div>
                                </div>
                                <div class="row row-margin">
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoInvoiceManagement', '@T("_Manual.VDOTutorial.ModalHeader.InvoiceManagment")');"><img class="video-tutorial" src="~/Content/VDOTraining/Cover Supplier Webwork eInvoice-11.jpg" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.InvoiceManagment")
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoOnlinePurchasingVN', '@T("_Manual.VDOTutorial.ModalHeader.OnlinePurchasingVietnamese")');"><img class="video-tutorial" src="~/Content/VDOTraining/Online_Purchasing.jpg" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.OnlinePurchasingVietnamese")
                                    </div>
 
                                </div>
                                <div class="row row-margin">
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoeRFXVN', '@T("_Manual.VDOTutorial.ModalHeader.eRFXVietnamese")');"><img class="video-tutorial" src="~/Content/VDOTraining/eRFX.jpg" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.eRFXVietnamese")
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <a href="javascript: void(0);" onclick="onChangeVideo('@srcVideoInformationManagementVN', '@T("_Manual.VDOTutorial.ModalHeader.MyProfileVietnamese")');"><img class="video-tutorial" src="~/Content/VDOTraining/Profile.jpg" /></a>
                                    </div>
                                    <div class="col-md-3 video-font vertical-align-center">
                                        @T("_Manual.VDOTutorial.MyProfileVietnamese")
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalVideoPlayer" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-video">
        <div class="modal-content">
            <!-- dialog header -->
            <div class="modal-header">
                <button type="button" onclick="onStopVideo();" class="close" data-dismiss="modal">&times;</button>
                <div id="divModalVideoHeader">@T("_Manual.VDOTutorial.Header")</div>
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                <div class="row text-center">
                    <video id="videoPlayer" class="video-player" controls controlsList="nodownload" preload="metadata"></video>
                </div>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                @*<button id="btn" type="button" class="btn btn-primary" data-dismiss="modal">@T("_Global.BtnOk")</button>*@
                <input type="button" onclick="onStopVideo();" class="btn btn-primary" data-dismiss="modal" value="@T("_Global.BtnBack")">
            </div>
        </div>
    </div>
</div>

<link href="~/Scripts/bootstrap-treeview/css/bootstrap-treeview.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-treeview/js/bootstrap-treeview.js"></script>
<style>
    .link-black-color {
        color: black;
    }
</style>
<script>

    if (!Array.prototype.indexOf) {
        Array.prototype.indexOf = function (elt /*, from*/) {
            var len = this.length >>> 0;

            var from = Number(arguments[1]) || 0;
            from = (from < 0)
                ? Math.ceil(from)
                : Math.floor(from);
            if (from < 0)
                from += len;

            for (; from < len; from++) {
                if (from in this &&
                    this[from] === elt)
                    return from;
            }
            return -1;
        };
    }

    function onChangeVideo(source, title) {
        try {
            var video = $('#modalVideoPlayer video')[0];
            video.src = source;
            video.load();
            video.play();
            $('#divModalVideoHeader').html(title);
            $('#modalVideoPlayer').modal('show');
        } catch (e) {
            console.log(e);
        }
    }

    function onStopVideo() {
        try {
            var video = $('#modalVideoPlayer video')[0];
            video.pause();
        } catch (e) {
            console.log(e);
        }
    }

    $(function () {

        var json = @Html.Raw(json_tree_data);
        var options = {
            bootstrap2: false,
            showBorder: false,
            highlightSelected: false,
            //showTags: true,
            levels: 2,
            expandIcon: 'fa fa-sm fa-circle',
            collapseIcon: 'fa fa-sm fa-circle',
            //expandIcon: 'glyphicon glyphicon-sm glyphicon-bullet',
            //collapseIcon: 'glyphicon glyphicon-sm glyphicon-bullet',
            data: json
        };

        $('#treeview').treeview(options).on('nodeSelected', function (event, data) {
            var hrefData = data.href;
            if (hrefData != null && hrefData) {
                window.location.href = data.href;
            }
        });

        var $li = $('li > span.indent').parent('li');
        $li.css('padding-left','60px');
        $.each($li, function() {
            $(this).find('span.icon').eq(0).css('margin-left','-52px');
        });

    });
</script>