﻿@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_ProductCategoryLev3>
@{
    Layout = null;
    string languageID = SupplierPortal.Framework.MethodHelper.GetCurrentLanguageHelper.GetStringLanguageIDCurrent();
    int languageId = Convert.ToInt32(languageID);

    //var TitlePlus = "";
    //if (languageId == 1)
    //{
    //    TitlePlus = "Add";
    //}
    //else if (languageId == 2)
    //{
    //    TitlePlus = "เพิ่ม";
    //}
}
<style>
    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        border-top: none;
    }
</style>
<table class="table table-hover scroll">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="CategoryLv3_active" style='width: 100%'>
                    @if (languageId == 1)
                    {
                        @item.CategoryName_Inter
                    }
                    else if (languageId == 2)
                    {
                        @item.CategoryName_Local
                    }
                </td>
                <td class="CategoryLv3" data-catid3="@item.CategoryID_Lev3" style='width: 100%;cursor:pointer'>
                    <label hidden>
                        @if (languageId == 1)
                        {
                            @item.CategoryName_Inter
                        }
                        else if (languageId == 2)
                        {
                            @item.CategoryName_Local
                        }
                    </label>
                    <span style="text-decoration: underline" @*class="fa fa-plus"*@ aria-hidden="true" data-toggle="tooltip" placement="left" title="@T("_Regis.Category.LblTitleAdd")">@T("_Regis.Category.LblTitleAdd")</span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $(".CategoryLv3_active").on("click", function () {
            $self = $(this);
            $self.closest('table').find('.active-cat').removeClass('active-cat');
            $self.closest('tr').addClass('active-cat');
        });
        $(".CategoryLv3").on("click", function () {
            $self = $(this);
            var id = $self.data('catid3');
            $self.closest('table').find('.active-cat').removeClass('active-cat');
            $self.closest('tr').addClass('active-cat');
            //productCategorys.indexOf(id) == -1
            if ($.inArray(-1, productCategorys)) {
                productCategorys.push(id);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetProductCategory", "Register")',
                    data: JSON.stringify({  productCategorys: productCategorys }),
                    contentType: 'application/json',
                    dataType: 'html',
                    success: function (data) {
                       
                        $('#categoryVal').html(data);
                        $("#valideCategory").css("display", "none");
                    }
                });
            }
        });
    });
</script>

@*<script type="text/javascript">
        $(document).ready(function () {
            $(".CategoryLv3").on("click", function () {
                var id = $(this).data('catid3');
                var html = $(this).text();

                var check = false;
                $(".CategoryValue").each(function (index) {
                    var idVal = $(this).data('categoryvalue');
                    if (idVal == id) {
                        check = true;
                        return false;
                    }

                });
                if (check == false) {
                    $("#tblCategory").append("<tr class='removeCategory'><td class='CategoryValue' style='width: 100%;' data-categoryValue='" + id + "'>" + html + "</td> <td align='center'  class='removetrcat'  style='width: 100%;cursor:pointer' data-categoryValue='" + id + "'><img src='/Content/images/icon/ico-sp_deluser2.gif' alt='Submit'  data-toggle='tooltip' data-placement='left' title='Delete' doctype='1' class='iconDeleteCat'></td> </tr>");
                }
            });


        });
    </script>


    <script type="text/javascript">
        $('body').on('click', '.removetrcat', function () {
            $(this).closest(".removeCategory").remove();
        });
    </script>*@