﻿@model List<SupplierPortal.Data.Models.SupportModel.Register.CategoryModel>
@{
    int i = 1;
    Layout = null;
    string languageID = SupplierPortal.Framework.MethodHelper.GetCurrentLanguageHelper.GetStringLanguageIDCurrent();
    int languageId = Convert.ToInt32(languageID);
    var masters = Model.GroupBy(g => new
    {
        CategoryID_Lev1 = g.CategoryID_Lev1,
        CategoryName = languageId == 1 ? g.CategoryName_Inter : g.CategoryName_Local
    })
                       .Select(s => new
                       {
                           CategoryID_Lev1 = s.Key.CategoryID_Lev1,
                           CategoryName = s.Key.CategoryName,
                           CategoryLv3 = s.Select(ss => ss.CategoryLv3).OrderBy(o => o.CategoryID_Lev3)
                           .OrderBy(o => o.CategoryID_Lev3 < 0)
                           .ThenBy(p => languageId == 1 ? p.CategoryName_Inter : p.CategoryName_Local)
                           .ToList()
                       })
                       .OrderBy(o => o.CategoryID_Lev1)
                       .ToList();


    //var TitleDelete = "";
    //if (languageId == 1)
    //{
    //    TitleDelete = "Delete";
    //}
    //else if (languageId == 2)
    //{
    //    TitleDelete = "ลบ";
    //}
}
<style>
    .bgHTable {
      background-color: #98c93d;
    }
</style>
<table class="table">
    <tbody>
        <tr class="bgHTable">
            <th width="5%">#</th>
            <th width="25%">@T("_Regis.Category.LblTblMainCategory")</th>
            <th width="70%">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <th width="80%">
                                @T("_Regis.Category.LblTblProductCategory")
                            </th>
                            <th width="20%" style="text-align:center">@T("_Regis.ProductCategory.LblProductCategory_Action")</th>
                        </tr>
                    </tbody>
                </table>
            </th>
        </tr>
        @foreach (var item in masters)
        {
            <tr>
                <td width="5%">@i</td>
                <td width="25%" data-catid1="@item.CategoryID_Lev1">
                    @item.CategoryName
                </td>
                <td width="70%">
                    <table style="width:100%">
                        <tbody>
                            @foreach (var sub_item in item.CategoryLv3)
                            {
                                <tr>
                                    <td data-catid3="@sub_item.CategoryID_Lev3" width="80%">
                                        @if (languageId == 1)
                                        {
                                            @sub_item.CategoryName_Inter
                                        }
                                        else if (languageId == 2)
                                        {
                                            @sub_item.CategoryName_Local
                                        }
                                    </td>
                                    <td width="20%" align="center">
                                        <img src="/Content/images/icon/ico-sp_deluser2.gif" class="removetrcat" style="cursor:pointer" data-categoryvalue="@sub_item.CategoryID_Lev3" alt="Submit" data-toggle="tooltip" placement="left" title="@T("_Regis.Category.LblTitleDelete")" doctype="1">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<script type="text/javascript">

    $(document).ready(function () {
        $(".removetrcat").on("click", function () {
            var id = $(this).data('categoryvalue');
            //productCategorys.pop(id);
            productCategorys = jQuery.grep(productCategorys, function (val) {
                return val != id;
            });
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetProductCategory", "Register")',
                data: JSON.stringify({ productCategorys: productCategorys }),
                contentType: 'application/json',
                dataType: 'html',
                success: function (data) {

                    $('#categoryVal').html(data);
                }
            });
        });
    });
</script>