﻿@model SupplierPortal.Data.Models.SupportModel.AccountPortal.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutForgotPassword.cshtml";
    //string viewbagUsername = ViewBag.Username;
    string viewbagMassage = ViewBag.Message;
}

<div class="container body-content" style="min-height: 540px;">
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="my_breadcrumb" class="breadcrumb_wrapper">
                @Html.ActionLink(T("_Login.ForgotPassword.LblLoginLink").ToString(), "Login", "AccountPortal", new { @class = "my_breadcrumb" }) > @*<span class="my_breadcrumb_hl">Reset Password</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="normal_topic_wrap">
                <div class="normal_topic">

                    <span class="normal_topic_detial">@T("_Login.ResetPassword.InstrTxt.ResetPassword")</span>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs-custom" role="tablist">
                <li class="active"><a href="#home" role="tab" data-toggle="tab"><span class="forgotPassword_label">@T("_Login.ResetPassword.LblResetPassword")</span></a></li>
            </ul>

            <div class="tab-content">
                @using (Html.BeginForm("ResetPassword", "AccountPortal", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-login" }))
                {
                    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                    @*@Html.HiddenFor(model => model.Username)*@
                    @Html.HiddenFor(model => model.Token)

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    @TP("ResetPassword.PasswordPolicy")
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger-bold" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger-bold" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="@T("_Login.ResetPassword.btnReset")" onclick="submitResetPassword();" />
                            </div>
                        </div>
                    </div>
                  

                }
            </div>
        </div>
    </div>

</div>



<div id="myModal" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                @T("_Login.ForgotPassword.AlertMsg.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                @*@viewbagMassage*@
                @Html.Raw(viewbagMassage)
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
            @*<button type="button" class="btn btn-primary" data-dismiss="modal">@T("_Global.BtnOk")</button>*@
                @Html.ActionLink(T("_Global.BtnOk").ToString(), "Login", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

@{
    if (!string.IsNullOrEmpty(viewbagMassage))
    {

        <script>
            $("#myModal").on("show", function () {    // wire up the OK button to dismiss the modal when shown
                $("#myModal a.btn").on("click", function (e) {
                    //alert("11");
                    console.log("button pressed");   // just as an example...
                    $("#myModal").modal('hide');     // dismiss the dialog
                });
            });

            $("#myModal").on("hide", function () {    // remove the event listeners when the dialog is dismissed
                $("#myModal a.btn").off("click");
            });

            $("#myModal").on("hidden", function () {  // remove the actual elements from the DOM when fully hidden
                $("#myModal").remove();
            });

            $("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
                "backdrop": "static",
                "keyboard": true,
                "show": true                     // ensure the modal is shown immediately
            });
        </script>


    }


}

}

