﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyFacilityModel
@{
    //var supplierID = Model.SupplierID;

}

<script type="text/javascript">
    //$("#FacilityName")
    //document.getElementById("FacilityName").value = facilityName;
</script>
<style>
    .r-sec table.form-control {
        width: 300px !important;
    }
</style>
@using (Html.BeginForm("SaveFacility", "AdditionalInformation", FormMethod.Post, new { @id = "fmFacility", }))
{

    @Html.HiddenFor(m => m.SupplierID, new { @id = "SupplierID" })
    @Html.HiddenFor(m => m.FacilityID, new { @id = "FacilityID" })
    @Html.HiddenFor(m => m.FacilityType, new { @id = "FacilityType" })
    @Html.HiddenFor(m => m.AddressID, new { @id = "AddressID" })
    @Html.HiddenFor(m => m.SeqNo, new { @id = "SeqNo" })
    @Html.HiddenFor(m => m.Command, new { @id = "Command" })
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblFacilityTypeID").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @*@Html.HiddenFor(m => m.InitialEmail, new { id = "InitialEmail" })*@
                                    @*@Html.TextBoxFor(m => m.FacilityTypeID, null, new { @class = "form-control", id = "Email", maxlength = "255", placeholder = "", @style = "width: 300px;" })*@
                                    @Html.Action("FacilityTypePartial", new { model = Model })
                                </div>
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCompFacilityTypeID">@T("_ComPro.Facility.ValidateMsg.RequireFacilityType")</span>
                                </div>
                                @*<div class="margin-none">
                                        @Html.ValidationMessageFor(m => m.FacilityTypeID, "", new { @class = "text-danger-bold" })
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblFacilityName").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.FacilityName, null, new { @class = "form-control", id = "FacilityName", maxlength = "255", @style = "width: 300px;" })
                                </div>
                                <div class="margin-none">
                                    @Html.ValidationMessageFor(m => m.FacilityName, "", new { @class = "text-danger-bold" })
                                </div>
                                @*<div class="margin-none">
                                        <span class="text-danger-bold" style="display:none;" id="errorCompFacilityName">@T("_ComPro.Facility.ValidateMsg.RequireFacilityName")</span>
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblPhoneNo").ToString(), new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.PhoneNo, null, new { @class = "form-control", id = "PhoneNo", maxlength = "50", @style = "width: 300px;" })
                                </div>
                                <div class="margin-none">
                                    <div class="form_label_bold_inline" style="width:38px;text-align:right;">@T("_ComPro.Facility.LblPhoneExt")</div>
                                </div>
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.PhoneExt, null, new { @class = "form-control input-lg", id = "PhoneExt", maxlength = "50", @style = "width: 300px;" })
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                            <div class="col-xs-3 col-md-3">
                                @Html.Label("", @T("_ComPro.Facility.LblMobileNo").ToString(), new { @class = "form_label_bold" ,@Display="none"})
                            </div>
                            <div class="col-xs-9 col-md-9">
                                @Html.TextBoxFor(m => m.MobileNo, null, new { @class = "form-control", id = "MobileNo", maxlength = "50", @style = "width: 145px;", @Display = "none" })
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblFaxNo").ToString(), new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.FaxNo, null, new { @class = "form-control", id = "FaxNo", maxlength = "50", @style = "width: 300px;" })
                                </div>
                                <div class="margin-none">
                                    <div class="form_label_bold_inline" style="width:38px;text-align:right;">@T("_ComPro.Facility.LblFaxExt")</div>
                                </div>
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.FaxExt, null, new { @class = "form-control", id = "FaxExt", maxlength = "50", @style = "width: 300px;" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblWebSite").ToString(), new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.WebSite, null, new { @class = "form-control", id = "WebSite", maxlength = "50", @style = "width: 300px;" })
                                </div>
                                <div class="margin-none">
                                    @Html.ValidationMessageFor(m => m.WebSite, null, new { @class = "text-danger-bold" })
                                </div>
                            </div>

                            </div>

                        @*<div class="margin-none">
                                <span class="text-danger-bold" style="display:none;" id="errorCompWebsite">@T("_ComPro.Facility.ValidateMsg.RequireWebsite")</span>
                            </div>*@
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="strike-subHeader">
                                <span class="lable-head-text">@T("_ComPro.Facility.LblSubHeader.Address")</span>
                            </div>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:10px;"></div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblHouseNo_Local").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>

                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.HiddenFor(m => m.AddressID, new { id = "AddressID" })
                                    @Html.TextBoxFor(m => m.HouseNo_Local, null, new { @class = "form-control", id = "HouseNo_Local", maxlength = "255", @style = "width: 300px;" })
                                </div>
                                <div class="margin-none">
                                    @Html.ValidationMessageFor(m => m.HouseNo_Local, null, new { @class = "text-danger-bold" })
                                </div>
                                @*<div class="margin-none">
                                        <span class="text-danger-bold" style="display:none;" id="errorCompHouseNo">@T("_ComPro.Facility.ValidateMsg.RequireHouseNo")</span>
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblVillageNo_Local").ToString(), new { @class = "form_label_bold" })

                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.VillageNo_Local, null, new { @class = "form-control", id = "VillageNo_Local", maxlength = "255", @style = "width: 300px;" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblLane_Local").ToString(), new { @class = "form_label_bold" })

                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.Lane_Local, null, new { @class = "form-control", id = "Lane_Local", maxlength = "255", @style = "width: 300px;" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblRoad_Local").ToString(), new { @class = "form_label_bold" })

                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.Road_Local, null, new { @class = "form-control", id = "Road_Local", maxlength = "255", @style = "width: 300px;" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblSubDistrict_Local").ToString(), new { @class = "form_label_bold" })<span id="starCountry" class="red_highlight">*</span>

                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.SubDistrict_Local, null, new { @class = "form-control", id = "SubDistrict_Local", maxlength = "255", @style = "width: 300px;" })
                                </div>
                                @*<div class="margin-none">
                                        @Html.ValidationMessageFor(m => m.SubDistrict_Local, null, new { @class = "text-danger-bold" })
                                    </div>*@
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCompSubDistrict">@T("_ComPro.ContactPerson.ValidateMsg.RequireSubDistrict")</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblCity_Local").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>

                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.City_Local, null, new { @class = "form-control", id = "City_Local", maxlength = "255", @style = "width: 300px;" })
                                </div>
                                @*<div class="margin-none">
                                        @Html.ValidationMessageFor(m => m.City_Local, null, new { @class = "text-danger-bold" })
                                    </div>*@
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCompCity">@T("_ComPro.ContactPerson.ValidateMsg.RequireCity")</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblState_Local").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>

                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.State_Local, null, new { @class = "form-control", id = "State_Local", maxlength = "255", @style = "width: 300px;" })
                                </div>
                                @*<div class="margin-none">
                                        @Html.ValidationMessageFor(m => m.State_Local, null, new { @class = "text-danger-bold" })
                                    </div>*@
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCompState">@T("_ComPro.ContactPerson.ValidateMsg.RequireState")</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblPostalCode").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>

                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.PostalCode, null, new { @class = "form-control", id = "Address_PostalCode", maxlength = "255", @style = "width: 300px;" })
                                </div>
                                <div class="margin-none">
                                    @Html.ValidationMessageFor(m => m.PostalCode, null, new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", @T("_ComPro.Facility.LblCountryCode").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>

                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    <select id="CountryCode" name="CountryCode">
                                        <option value="@Model.CountryCode" selected="selected">@Model.CountryName</option>
                                    </select>
                                </div>
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorFaclityCountry">@T("_Profile.ValidateMsg.RequireCountry")</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="data_end" style="padding-top:30px;"></div>

                    @*<div class="text-center">
                            @Ajax.ActionLink(T("_ComPro.Facility.Btn.Reset").ToString(), "ResetFacility", null, new AjaxOptions() { UpdateTargetId = "fmFacility", InsertionMode = InsertionMode.ReplaceWith }, new { id = "btnReset", @class = "btn btn-default", data_dismiss = "modal", @Styles = "background-color:#CCCCCC" })

                        </div>*@


                </div>
            </div>
        </div>
    </div>
}

