﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.GeneralInfosModel
@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>
@*<div class="row" style="padding-top:10px;">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>*@

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>



    <div class="row m-sec">
        @*<div class="col-sm-3 col-md-3 menuL">
                @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
            </div>*@

        <div class="col-sm-12 col-md-12 r-sec">

            @using (Html.BeginForm("Additional", "AdditionalInformation", FormMethod.Post, new { id = "SupplierID" }))
            {
                @Html.HiddenFor(g => g.SupplierID)
                @*<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table table-striped">
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>*@
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                                <div class="pull-right">
                                    <input type="submit" value="@T("_Global.BtnSave")" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                        <div style="padding-top:40px;">
                        </div>
                        <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                            <tbody>
                                <tr class="padding-table">
                                    <td width="15%" style="text-align: left;">
                                        <div class="">
                                            <div class="form-inline-element margin-none" style="width: 100%;">
                                                @Html.Label("", T("_ComPro.Addtional.CompAddtional.LblYearEstablish").ToString(), new { @class = "captionStyle1" })
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align: left;">
                                        <div class="">
                                            <div class="col-sm-4">
                                                <div class="form-group margin-none">
                                                    <div class="form_item">
                                                        @*@Html.TextBoxFor(m => m.YearEstablished, new { @class = "form-control", id = "YearCom", maxlength = "255", placeholder = "e.g. 2015", @style = "width: 300px;" })*@
                                                        @Html.Action("YearEstablishedList", new { model = Model})
                                                        @*@Html.ValidationMessageFor(a => a.YearEstablished, "", new { @class = "text-danger-bold" })*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="padding-table">
                                    <td width="15%" style="text-align: left;">
                                        <div class="form-inline-element margin-none" style="width: 15%;">
                                            @Html.Label("", T("_ComPro.Addtional.CompAddtional.LblRegisterCapital").ToString(), new { @class = "captionStyle1" })
                                        </div>
                                    </td>
                                    <td style="text-align: left;">
                                        <div class="">
                                            <div class="col-sm-4">
                                                <div class="form-group margin-none">
                                                    <div class="form_item">
                                                        @Html.TextBoxFor(m => m.RegisteredCapital, new { @class = "form-control", id = "RegisterCapital", maxlength = "255", placeholder = "", @style = "width: 300px;" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group margin-none">
                                                    <div class="form_item" style="margin-left: 0px">
                                                        @Html.Action("CurrencyBox", new { model = Model })
                                                    </div>
                                                </div>
                                            </div>


                                            @*<div class="form-group margin-none">
                                                    @Html.ValidationMessageFor(a => a.RegisteredCapital, "", new { @class = "text-danger-bold" })
                                                </div>*@
                                        </div>
                                    </td>
                                </tr>
                                <tr class="padding-table">
                                    <td width="15%" style="text-align: left;">
                                        <div class="form-inline-element margin-none" style="width: 15%;">
                                            @Html.Label("", T("_ComPro.Addtional.CompAddtional.LblNoOfEmp").ToString(), new { @class = "captionStyle1" })
                                        </div>
                                    </td>
                                    <td style="text-align: left;">
                                        <div class="">
                                            <div class="col-sm-4">
                                                <div class="form-group margin-none">
                                                    <div class="form_item" onkeypress="return numbersonly(event)">
                                                        @Html.TextBoxFor(m => m.NumberOfEmp, new { @class = "form-control", id = "NumberOfEmp", maxlength = "255", placeholder = "", @style = "width: 300px;" })
                                                        @* @Html.ValidationMessageFor(a => a.NumberOfEmp, "", new { @class = "text-danger-bold" })*@
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>

    </div>

</div>





<script type="text/javascript">
    //$(function () {
    //    $('#RegisterCapital').on('keypress', function () {
    //        validateDecimal($(this).val());
    //    });
    //});
    function numbersonly(e) {
        var unicode = e.charCode ? e.charCode : e.keyCode
        if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
            if (unicode < 48 || unicode > 57) //if not a number
                return false //disable key press
        }
    }
    $(document).ready(function () {

        $('#RegisterCapital').keypress(function (e) {

            return isNumber(e, this)
        });
    });
    function isNumber(evt, element) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode == 8) {
            return true;
        }
        if (
            //(charCode != 45 || $(element).val().indexOf('-') != -1) &&      // “-” CHECK MINUS, AND ONLY ONE.
            (charCode != 46 || $(element).val().indexOf('.') != -1) &&      // “.” CHECK DOT, AND ONLY ONE.
            (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    //function validateDecimal(decimalValue) {
    //    // evt = (evt) ? evt : window.event;
    //    var rx = /^\d+(?:\.\d{1,2})?$/
    //    var errMsg = "";
    //    var msgReturn = "";

    //    if (!rx.test(decimalValue)) {
    //        return true;
    //    }
    //    else {
    //      //  errorMessage = messageReturn.GetStringResource("_Compro.ValidateMsg.DecimalNumberOnly", languageId);
    //        return false;
    //    }
    //}

    //function validate() {
    //    var txttext = document.getElementById("RegisterCapital").value;
    //    var regex = /[0-9][.][0-9]{2}$/;
    //    if (regex.test(txttext))
    //        return true;
    //    else return false;
    //}

    //function jsDecimals(e) {
    //    var evt = (e) ? e : window.event;
    //    var key = (evt.keyCode) ? evt.keyCode : evt.which;
    //    if (key != null) {
    //        key = parseInt(key, 10);
    //        if ((key < 48 || key > 57) && (key < 96 || key > 105)) {
    //            if (!jsIsUserFriendlyChar(key, "Decimals")) {
    //                return false;
    //            }
    //        }
    //        else {
    //            if (evt.shiftKey) {
    //                return false;
    //            }
    //        }
    //    }
    //    return true;
    //}
</script>