﻿@using SupplierPortal.Data.Models.SupportModel.CompanyProfile

@model  IEnumerable<CompanyReferenceCustomer>

@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>
@*<div class="row" style="padding-top:10px;">
    <div class="col-sm-12 col-md-12">

    </div>
</div>*@

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>



    <div class="row m-sec">
        @*<div class="col-sm-3 col-md-3 menuL">
            @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
        </div>*@

        <div class="col-sm-12 col-md-12 r-sec">
            @Html.Action("_ReferenceCustomerPartial")
        </div>

    </div>
</div>


