﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.GeneralInfosModel
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div class="ep_footer1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-offset-1 col-md-4 ep_footer1_block1 ">
                @* col-md-4 col-md-offset-1 *@
                <div class="ep_footer1_txt ep_footer_address">
                    @TP("Landing.Footer.Pantavanij")
                </div>
            </div>


            @*เช็ค Flag *@
            @if (Model.isPTVNVerified == 1)
            {
                <div class="col-sm-4 col-md-5 m6 l3 ep_footer1_block2 ep_footer1_txt ">
                    @*ep_footer3_block1*@
                    @* col-md-5 *@

                    @TP("Landing.Footer.CustomerCare.Detail")

                </div>
                <div class="col-sm-2 col-md-2 m6 l3 ep_footer3_block1">
                </div>
            }
            else
            {
                <div class="col-sm-5 col-sm-offset-1 col-md-7 col-md-offset-0 ep_footer1_block2 ep_footer1_txt ">
                    @*ep_footer3_block1*@
                    @* col-md-5 *@

                    @TP("Landing.Footer.CustomerCare.Detail")

                </div>
            }
        </div>
    </div>
</div>

<div class="ep_footer2" align="center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ep_footer_width">
                    <div class="ep_footer2_txt ep_power_by">@TP("Landing.Footer.Power.By")</div>
                    <div class="ep_footer2_txt ep_copyright">@TP("Landing.Footer.Copyright")</div>
                    <div class="ep_footer2_txt ep_copyright">@*@TP("Landing.Footer.Copyright").ToHtmlString().Replace("<%year%>", DateTime.Now.Year.ToString()).ToString()*@</div>
                </div>
            </div>
        </div>
    </div>
</div>

