﻿@using (Html.BeginForm("General", "Profile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-login" }))
{
    <div class="row">
        <div class="data_end" style="padding-top:12px;"></div>

        <div class="portal_func_content" style="padding: 0;">
            <div class="func_left_panel" style="width:36%;padding-left:12px;">
                <div class="func_sel_topic_left">
                    <div class="portal_topic_tbl_left"> Step:1 </div>
                    <div class="portal_topic_tbl_right"> Select Organization </div>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="main_table" style="border-bottom:none;">
                    <tr class="company_table_header">
                        <td style="border-bottom:none;padding-left:6px;text-align:left;">Company > Organization Name</td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="data_end" style="padding-top:12px;"></div>
    </div>
}
