/* LayerSlider Minimal Skin */



.ls-minimal {
	padding: 0;
	background: #fff;
}
.ls-minimal .ls-bottom-nav-wrapper {
	text-align: center;
	margin: 10px auto 0px auto;
	position: relative;
}
.ls-minimal .ls-playvideo {
	width: 75px;
	height: 75px;
	margin-left: -37px;
	margin-top: -37px;
}
.ls-minimal .ls-playvideo, .ls-minimal .ls-nav-sides, .ls-minimal .ls-bottom-slidebuttons a, .ls-minimal .ls-nav-prev, .ls-minimal .ls-nav-next, .ls-minimal .ls-nav-start, .ls-minimal .ls-nav-stop, .ls-minimal .ls-fullscreen, .ls-minimal .ls-loading-container {
/*	background-image: url(skin.png);
*/}
.ls-minimal .ls-playvideo {
	background-position: -300px -150px;
}
.ls-minimal .ls-playvideo:hover, .ls-minimal .ls-vpcontainer:hover .ls-playvideo {
	background-position: -375px -150px;
}
.ls-minimal .ls-nav-prev {
	background-position: 0px 0px;
}
.ls-minimal .ls-nav-prev:hover {
	background-position: 0px -75px;
}
.ls-minimal .ls-nav-next {
	background-position: -150px 0px;
}
.ls-minimal .ls-nav-next:hover {
	background-position: -150px -75px;
}
.ls-minimal .ls-nav-start {
	background-position: -300px 0px;
}
.ls-minimal .ls-nav-start:hover, .ls-minimal .ls-nav-start-active {
	background-position: -300px -75px;
}
.ls-minimal .ls-nav-stop {
	background-position: -450px 0px;
}
.ls-minimal .ls-nav-stop:hover, .ls-minimal .ls-nav-stop-active {
	background-position: -450px -75px;
}
.ls-minimal .ls-bottom-slidebuttons {
	position:absolute;
	top:-50px;
	right:25px;
}
.ls-minimal .ls-bottom-slidebuttons a {
	background-image: none;
	width: 11px;
	height: 11px;
	line-height:11px;
	padding:0;
	margin-left:5px;
	display:  inline-block;
	background: #eeeeee;
	cursor: pointer !important;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	text-align:left;
}
.ls-minimal .ls-bottom-slidebuttons a.ls-nav-active {
 background: #777777;
 cursor: default;
}
.ls-minimal .ls-bottom-slidebuttons a:hover {
	background: #777777;
}
.ls-minimal .ls-nav-sideleft {
	background-position: -150px -150px;
}
.ls-minimal .ls-nav-sideright {
	background-position: -225px -150px;
}
.ls-minimal .ls-nav-prev, .ls-minimal .ls-nav-next {
	width: 25px;
	height: 50px;
	z-index: 10000;
	top: 50%;
	margin-top: -25px;
	position: absolute;
}
.ls-minimal .ls-nav-prev {
	left: -25px;
}
.ls-minimal .ls-nav-next {
	right: -25px;
}
.ls-minimal .ls-nav-start, .ls-minimal .ls-nav-stop, .ls-minimal .ls-nav-sides {
	height: 30px;
}
.ls-minimal .ls-nav-start, .ls-minimal .ls-nav-stop, .ls-minimal .ls-nav-sides {
	display: inline-block;
}
.ls-minimal .ls-nav-start, .ls-minimal .ls-nav-stop {
	width: 22px;
}
.ls-minimal .ls-nav-sides {
	/*width: 4px;*/
	width: 0px;
}
.ls-minimal .ls-thumbnail-hover {
	bottom: 50px;
	padding: 4px;
	margin-left: 1px;
}
.ls-minimal .ls-thumbnail-hover-bg {
	background: white;
}
.ls-minimal .ls-thumbnail-hover span {
	border: 5px solid white;
	margin-left: -5px;
}
.ls-minimal .ls-thumbnail {
	top: -20px;
}
.ls-minimal .ls-thumbnail-inner {
	padding: 5px;
	margin-left: -5px;
	background: white;
}
.ls-minimal .ls-thumbnail-slide a {
	margin-right: 5px;
}
.ls-minimal .ls-nothumb {
	background: #eee;
}
.ls-minimal .ls-above-thumbnails {
	display: none;
}
.ls-minimal .ls-below-thumbnails {
	display: block;
	margin-top: -20px;
}
.ls-minimal .ls-loading-container {
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	background-position: -450px -150px;
}
.ls-minimal .ls-loading-indicator {
	width: 22px;
	height: 22px;
	margin-top: 9px;
	background-image: url(loading.gif);
}
.ls-minimal .ls-fullscreen {
	width: 30px;
	height: 30px;
	right: 10px;
	top: 10px;
	background-position: -525px -150px;
}
.ls-minimal .ls-fullscreen:hover {
	background-position: -525px -190px;
}
